body {
	background-color: #f0f0f0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pageBody {
	width: 100%;
	display: none;
}

.weui_icon_toast {
	margin: 22px 0 8px !important;
}

.weui_icon_toast:before {
	content: '' !important;
}

.toast_success:before {
	content: '\EA08' !important;
}

.toast_error:before {
	content: '\EA0F' !important;
}

.toast_warn:before {
	content: '\EA05' !important;
}

.radius_avatar {
	display: inline-block;
	background-color: #fff;
	padding: 3px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}

.avatar_small .radius_avatar {
	width: 64px;
	height: 64px;
	padding: 0;
	/*margin-right: .5em;*/
}

.radius_avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #eee;
}

.orange_red {
	color: #E64340;
}

.cells_subtitle {
	font-size: 14px;
	margin-right: 2em;
	color: #888;
}