
#loading {
	background: url(../images/activity/bg-01.jpg) no-repeat;
	width: 1360px;
	height: 1262px;
	margin: 0 auto 0 auto;
}

#loading #clc {
	padding: 863px 0 0 152px;
}

#activity-header {
	clear: both;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

#activity-header .logo {
	background:url(../images/activity/newyear2015/logo.png) no-repeat;
	background-position:center 0;
	width:98px;
	height:32px;
	margin: 0px 0 0;
	float: left;
	overflow: hidden;
	position: relative;
}

#activity-header .activity-bar {
	margin: 12px 0 0;
	float: right;
	overflow: hidden;
	position: relative;
}

.activity-banner-cont{
	width:100%;
	height:509px;
}

.activity-banner-bg{
	background:url(../images/activity/newyear2015/act_split_bg.png) repeat;
	width:100%;
	height:30px;
	margin-top: 0px;
}

.activity-banner-bg-body{
	background:url(../images/activity/newyear2015/banner_body_bg.png) repeat;
	width:100%;
	height:449px;
}

.activity-banner-bg-bottom{
	position:relative;
	top:449px;
	background:url(../images/activity/newyear2015/banner_bottom_bg.png) repeat;
	width:100%;
	height:60px;
}

.activity-banner{
	position:relative;
	top: -449px;
	background:url(../images/activity/newyear2015/header_bg.png) no-repeat;
	background-position:center 0;
	width:100%;
	height:509px;
	margin:0 auto 0 auto;
}

.activity-status{
	background:url(../images/activity/newyear2015/status_bg.png) repeat;
	background-position:center 0;
	width:100%;
	height:212px;
	margin:0 auto 0 auto;
	clear: both;
}

.activity-status .cont{
	width:1000px;
	height:100%;
	margin-right: auto;
	margin-left: auto;
	clear:both;
	padding-top: 35px;
}

.activity-status .over{
	background:url(../images/activity/newyear2015/act_status_over.png) no-repeat;
	background-position:center 0;
	width:297px;
	height:142px;
	margin:0 auto 0 auto;
	float: left;
	text-align: center;
	padding-top: 15px;
}

.activity-status .ongoing{
	background:url(../images/activity/newyear2015/act_status_ongoing.png) no-repeat;
	background-position:center 0;
	width:297px;
	height:142px;
	margin:0 auto 0 auto;
	float: left;
	text-align: center;
	padding-top: 15px;
	color: white;
}

.activity-status .upcoming{
	background:url(../images/activity/newyear2015/act_status_upcoming.png) no-repeat;
	background-position:center 0;
	width:297px;
	height:142px;
	margin:0 auto 0 auto;
	float: left;
	text-align: center;
	padding-top: 15px;
	color: #B70100;
}

.activity-statu-split{
	background:url(../images/activity/newyear2015/act_split_bg.png) repeat;
	width: 100%;
	height: 30px;
}

.activity-body{
	background:url(../images/activity/newyear2015/act_body_bg.jpg) repeat;
	widows: 100%;
	height: 130%;
	overflow: hidden;
	padding-bottom: 100px;
}

.activity-body-signcont{
	background:url(../images/activity/newyear2015/act-body-sign-con.png) no-repeat;
	width:1000px;
	height:416px;
	margin:0 auto 0 auto;
}

.activity-body-signcont .signbutton{
	background:url(../images/activity/newyear2015/promptly-sign.png) no-repeat;
	width:400px;
	height:110px;
	position:relative;
	left:180px;
	top:320px;
	cursor:pointer;
	margin:0 auto 0 auto;
}

.activity-body-signcont .signoverbutton{
	background:url(../images/activity/newyear2015/act_sign_over.png) no-repeat;
	width:400px;
	height:110px;
	position:relative;
	left:180px;
	top:320px;
	cursor:pointer;
	margin:0 auto 0 auto;
}

.activity-rule-cont{
	margin-top:55px;
	background: rgba(255,255,255, 1);
	background-position:center 0;
	height:820px;
	width:1000px;
	margin-right: auto;
	margin-left: auto;
	clear:both;
}

.activity-rule-cont .ring-left{
	background:url(../images/activity/newyear2015/act-dec-hand-l.png) no-repeat;
	float:left;
	width:20px;
	height:64px;
	position:relative;
	left:50px;
	top:-39px;
}

.activity-rule-cont .ring-right{
	background:url(../images/activity/newyear2015/act-dec-hand-r.png) no-repeat;
	float:left;
	width:20px;
	height:64px;
	position:relative;
	left:630px;
	top:-39px;
}

.activity-rule-cont .line-top{
	background:url(../images/activity/newyear2015/line-top.png) no-repeat;
	position:relative;
	top:130px;
	left:60px;
	width:880px;
	height:20px;
}

.activity-rule-cont .rule-title{
	background:url(../images/activity/newyear2015/act-rule-title.png) no-repeat;
	float:left;
	left:360px;
	top:39px;
	width:271px;
	height:102px;
	position:relative;
}

.activity-rule-cont .split{
	background:url(../images/activity/newyear2015/page_55.png) no-repeat;
	width:1000px;
	height:36px;
}

.activity-rule-cont .content{
	padding-top: 150px;
	padding-left: 100px; 
	padding-right: 100px; 
}

.activity-rule-cont .text{
	padding:5px;
	font-size: 18px;
	line-height: 33px;
}

.activity-rule-cont .line-bottom{
	background:url(../images/activity/newyear2015/line-bottom.png) no-repeat;
	position:relative;
	left:760px;
	width:161px;
	height:30px;
}

.activity-rule-footer{
	background:url(../images/activity/newyear2015/act-foot.png) no-repeat;
	background-position:center 0;
	width:1000px;
	height:170px;
	margin:0 auto 0 auto;
}

.activity-body .buytitle{
	background:url(../images/activity/newyear2015/meal_buytitle.png) no-repeat;
	background-position:center 0;
	width:1000px;
	height:76px;
	margin:0 auto 0 auto;
	position:relative;
	top: 30px;
}

.activity-body .timecont{
	margin:0 auto 0 auto;
	margin-top:30px;
	width:1000px;
	height:136px;
}

.activity-body .timebar{
	width:1000px;
	position:relative;
	left:130px;
	height:76px;
	position:relative;
	top: 30px;
}

.activity-body .sheep-icon{
	background:url(../images/activity/newyear2015/sheep-icon.png) no-repeat;
	background-position:center 0;
	position:relative;
	top:-210px;
	left: 1200px;
	width: 104px;
	height: 183px;
	cursor: pointer;
}

.activity-body .car-cont{
	width:1100px;
	height:450px;
	margin:0 auto 0 auto;
}

.activity-body .border-first{
	width: 346px;
	height: 440px;
	background: rgba(222,227,224, 0.3);
	background-position:center 0;
	padding:5px;
	float: left;
	position: relative;
	left: 100px;
	margin-left: 20px;
}

.activity-body .border{
	width: 313px;
	height: 440px;
	background: rgba(222,227,224, 0.3);
	background-position:center 0;
	padding:5px;
	float: left;
	position: relative;
	margin-left: 30px;
}

.activity-body .card{
	width: 100%;
	height: 100%;
	background: rgba(222,227,224, 0.9);
	background-position:center 0;
}

.activity-body .tag{
	background:url(../images/activity/newyear2015/carname-tag.png) no-repeat;
	width: 119px;
	height: 32px;
	position: relative;
	left: -10px;
	top: 30px;
	color:white;
	font-size: 20px;
	text-align: center;
}

.activity-body .img-meal{
	background:url(../images/activity/newyear2015/img-meal.png) no-repeat;
	width: 104px;
	height: 104px;
	position: relative;
	left: 60%;
	top: 180px;
}

.activity-body .market-price{
	font-size: 20px;
	padding: 15px;
}

.activity-body .promotion-price{
	font-size: 36px;
	font-family:黑体;
	color:red;
	padding: 15px;
	float: left;
}

.activity-body .cross{
	width: 156px;
	height: 20px;
}

.activity-body .number{
	float:right;
	font-size: 26px;
	font-family:黑体;
	color:red;
	padding: 15px;
}

.activity-body .price{
	width: 100%;
	height: 77px;
}

.activity-body .promptlybuy-red{
	background:url(../images/activity/newyear2015/promptlybuy.png) no-repeat;
}

.activity-body .promptlybuy-gray{
	background:url(../images/activity/newyear2015/promptlybuy_gray.png) no-repeat;
}

.activity-body .promptlybuy-black{
	background:url(../images/activity/newyear2015/promptlybuy_black.png) no-repeat;
}

.activity-body .promptlybuy{
	width: 212px;
	height: 39px;
	position:relative;
	left: 60px;
	color: white;
	font-size: 22px;
	text-align: center;
	cursor:pointer;
}

.activity-body .imgcar{
	width: 350px;
	height: 260px;
}

.activity-body .waitsplit{
	background:url(../images/activity/newyear2015/waitsplit.png) no-repeat;
	background-position:center 0;
	width: 1000px;
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.activity-body .img-bkky-first{
	background:url(../images/activity/newyear2015/car_first_KY.png) no-repeat;
}

.activity-body .img-mg-first{
	background:url(../images/activity/newyear2015/car_first_MG.png) no-repeat;
}

.activity-body .img-bkky{
	background:url(../images/activity/newyear2015/car_KY.png) no-repeat;
}

.activity-body .img-mg{
	background:url(../images/activity/newyear2015/car_MG.png) no-repeat;
}

.activity-body .img-smart{
	background:url(../images/activity/newyear2015/car_SMART.png) no-repeat;
}

.cardetail-area{
	width: 1000px;
	/*height: 600px;*/
	height: 450px;
	background: rgba(255,255,255, 1);
	background-position:center 0;
	margin-top:65px;
	margin-right:auto;
	margin-left:auto;
}

.cardetail-area .title{
	position:relative;
	top:-26px;
	left:30px;
	margin-right: auto;
	margin-left: auto;
	background:url(../images/activity/newyear2015/sel_car_split.png) no-repeat;
	width: 556px;
	height: 72px;
	background-position:center 0;
}

.cardetail-area .car-img-cont{
	width: 312px;
	height:260px;
	position: relative;
	left: 30px;
	top: 40px;
	border: 1px solid #dddddd;
	float: left;
}

.cardetail-area .car-tag{
	background:url(../images/activity/newyear2015/carname-tag.png) no-repeat;
	width: 119px;
	height: 32px;
	position: relative;
	left: -10px;
	top: 30px;
	color:white;
	font-size: 20px;
	text-align: center;
}

.cardetail-area .car-text{
	position: relative;
	left: 55px;
	top: 40px;
	float: left;
}

.cardetail-area .text-title{
	font-size: 24px;
	color: #981122;
	line-height:28px;
	height: 28px;
}

.car-text .text-line{
	font-size: 16px;
	color: #444443;
	border-bottom:1px dashed;
	border-color:#dddddd;
	line-height:46px;
	height:100%px;
	width:600px;
}

.car-outelets-con{
	width: 940px;	
	height: 132px;
	background-color: #EEEEEE;
	margin-right: auto;
	margin-left: auto;
	margin-top: 350px;
}

.car-outelets-con .car-area-div{
	position:relative;
	padding: 10px;
	height: 80px;
	content: "";
}

#car-outelets-area-icon{
	background:url(../images/activity/newyear2015/sel_car_area_icon.png) no-repeat;
	width: 23px;
	height: 24px;
	position: relative;
	left: 10px;
	float: left;
}

#car-outelets-area-text{
	width: 600px;
	height: 24px;
	position: relative;
	float: left;
	left: 80px;
}

.car-outelets-con .line{
	margin-right:auto;
	margin-left:auto;
	width:920px;	
	border-bottom:1px dashed;
	border-color:#dddddd;
}

.activity-body .cardateline-text{
	background:url(../images/activity/newyear2015/sel_car_time_text.png) no-repeat;
	margin-top:50px;
	width: 535px;
	height: 56px;
	background-position:center 0;
	margin-right: auto;
	margin-left: auto;
}

.dialog_container {
    display: none;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.35);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.dialog_container:after {
    display: inline-block;
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.dialog_box {
	width:450px;
	height:260px;
	background: rgba(175,10,26, 0.6);
    display: inline-block;
    border: 1px solid #AF141A;
    text-align: left;
    vertical-align: middle;
    position: relative;
    padding: 5px;
}

.dialog_con {
	width: 100%;
    height: 100%;
    border: 1px solid #AF141A;
    text-align: left;
    vertical-align: middle;
    position: relative;
    background-color: #fff;    
}

.dialog_title {
	text-align:center;
    padding-left: 5px;
    padding-right: 5px;
    color: #AF141A;
	font-size:30px;
}

.dialog_text {
	margin:0 auto 0 auto;
	width:99%;
	position:relative;
	left:9px;
    color:black;
    text-align:center;
    padding:6px;
	font-size:22px;
}

.dialog_line{
	width: 70%;
	border-bottom:1px dashed #AF141A;
	margin: 3px;
	margin:auto; 
	padding-top: 5px;
	padding-bottom: 5px;
}

.dialog_btn_con {
	position: relative;
	margin:0 auto 0 auto;
	top: 15px;
	height: 35px; 
	width: 320px;
}

.dialog_btn_con .button{
	border: 1px solid #AF141A;
	padding:10px; width:120px; height:29px;
	margin:0 auto 0 auto;
    background: #fff; 
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius:7px;
    letter-spacing: 3px;
    font-size: 20px;
    margin:0 auto 0 auto;
    color: #AF141A;
    text-align: center;
    padding: 2px;
    float:left;
    cursor: pointer;
    margin-left: 25px;
}

.dialog_btn_con .rbtn{
	border-color: gray;
	color: gray;
}

.dialog_close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    color: #AF141A;
    font-family: Arial;
    font-weight: bold;
}

.dialog_body {
	position:relative;
	top:40px;
    width: 100%;
    height: 100%;
}



