@charset "utf-8";
.cashier-box, .cashier-channel-box { border-bottom: 1px dashed #BCCCEE;  }
.cashier-box h4 { font-size: 14px; font-weight: normal; padding: 10px 0 6px;}
.cashier-box .text { border: 1px solid #BBBBBB; font-size: 14px; height: 22px; padding: 4px 3px; width: 120px; }
.cashier-box .text:focus{border-color: #63C5C8;box-shadow: 0 1px 2px #CDCDCD inset;outline: 0 none;}
.cash_box li { float: left; margin-bottom: 20px; width: 210px; }
.channel-tab .ui-form { margin-top: 20px; }
.ui-line { border-bottom: 1px dotted #CFD2D7; height: 1px; margin: 3px 0; overflow: hidden; }
.ui-form { margin-top: 20px;}
.ui-fm-item { padding: 0 5px 10px 20px; }
.ui-fm-item.ui-fm-warn { padding: 20px 0 30px 20px;}
.ui-fm-label { float: left; font-size: 14px; margin-left: -100px; padding-top: 3px; text-align: right; width: 170px; }
.ui-list-icons input { vertical-align: middle; }
.ui-list-icons .current, .ui-list-icons .hover { border-color: #FF6600 !important; }

.icon-box { background-color: #EEEEEE; border: 1px solid #DDDDDD; display: inline-block; position: relative; vertical-align: middle; width: 123px; }
.icon-box .icon { background-repeat: no-repeat; display: block; height: 30px; }
.cashier-bank .icon, .cashier-bank-kt .icon, .cashier-credit .icon, .cashier-credit-kt .icon, .cashier-bank-fq .icon, .cashier-bank-qy .icon, .cashier-bank-um .icon, .cashier-bank-kj .icon, .cashier-bank-kj-NO .icon { background-image: url(    "../images/bankicon.png" ); height: 30px; }

.alipay { background-position: 0 0; text-indent: -9999px; }
.icbc105 { background-position: 0 -40px; text-indent: -9999px; }
.cmb103 { background-position: 0 -80px; text-indent: -9999px; }
.ccb102 { background-position: 0 -320px; text-indent: -9999px; }
.boc102 { background-position: 0 -520px; text-indent: -9999px; }
.abc101 { background-position: 0 -480px; text-indent: -9999px; }
.comm102 { background-position: 0 -600px; text-indent: -9999px; }
.psbc102, .psbc { background-position: 0 -400px; text-indent: -9999px; }
.citic104 { background-position: 0 -200px; text-indent: -9999px; }
.cib102 { background-position: 0 -640px; text-indent: -9999px; }
.spdb103 { background-position: 0 -360px; text-indent: -9999px; }
.cmbc101 { background-position: 0 -120px; text-indent: -9999px; }
.cebbank { background-position: 0 -440px; text-indent: -9999px; }
.hzcb2c { background-position: 0 -760px; text-indent: -9999px; }
.gdb { background-position: 0 -280px; text-indent: -9999px; }
.nbbank { background-position: 0 -1240px; text-indent: -9999px; }

.ui-list-tip { height: 1px; border-bottom: 1px dashed #CCCCCC; color: #888888; display: block; padding-bottom: 5px; text-align: right; font-style: normal; }
.ui-btn-ok, .ui-btn-ok-hover { background: url("../images/cashier-bg.png" ) no-repeat scroll 999px 999px transparent; background-position: 0 -135px; background-repeat: repeat-x; }
.ui-btn-ok-hover:hover span.ui-btn-text, .ui-btn-cancel span.ui-btn-text { padding-bottom: 3px; _padding-bottom: 1px; _line-height: 28px; height: 25px; }
.ui-btn-ok .ui-btn-text { background: url("../images/cashier-bg.png" ) no-repeat scroll 999px 999px transparent; background-position: 0 -198px; background-repeat: repeat-x; }
.ui-btn-ok .ui-btn-text:hover { background-position: 0 -167px; background-repeat: repeat-x; text-decoration: none; cursor: pointer; }
.ui-btn .ui-btn-text { vertical-align: baseline; color: #FFFFFF; font-weight: bold; height: 28px; line-height: 28px; padding: 0 16px 3px; border: medium none; }
.ui-fm-item.ui-submit { padding-bottom: 30px; }