#ccc-global-cont{padding-top:100px;padding-bottom:0px;overflow:hidden;}
.ccc-paper{overflow:visible;box-shadow:none;}

#banner{overflow:visible;position:relative;height:320px;}
/**全屏轮播**/
#glume{width:100%;position:relative;overflow:hidden;height: 320px;margin:0 auto;z-index:2;}
#glume .Limg{width:100%;height:320px;position:relative;cursor:pointer;}
#glume .Limg li{width:100%;height:320px;position:absolute;cursor:pointer;}
#glume .Nubbt{position:absolute;z-index:100;right:3%;bottom:15px;}
#glume .Nubbt span{
	width:14px;height:14px;
	background:#fff;
	padding:1px 11px;
	margin:0 2px;
	font-style:normal;cursor:pointer;
	background: url("../../images/temp/focus/dot.png")  no-repeat scroll; 
}
#glume .Nubbt span.on{
	background: url("../../images/temp/focus/dot_on.png") no-repeat scroll; 
}
#glume .Limg li.bg_1{background:#393939 url(../../images/temp/focus/banner0.jpg) top center no-repeat;}
#glume .Limg li.bg_2{background:#393939 url(../../images/temp/focus/banner1.jpg) top center no-repeat;}
#glume .Limg li.bg_3{background:#393939 url(../../images/temp/focus/banner2.jpg) top center no-repeat;}
#glume .Limg li.bg_4{background:#393939 url(../../images/temp/focus/banner3.jpg) top center no-repeat;}
#glume .Limg li.bg_5{background:#393939 url(../../images/temp/focus/banner_coin.jpg) top center no-repeat;}
#glume .Limg li.bg_6{background:#393939 url(../../images/temp/focus/2015_newyear.jpg) top center no-repeat;}
#glume .Limg li.bg_7{background:#393939 url(../../images/temp/focus/banner7.png) top center no-repeat;}
#glume .Limg li.bg_8{background:#393939 url(../../images/temp/focus/banner8.png) top center no-repeat;}
#glume .Limg li.bg2_1{background:#393939 url(../../images/temp/focus/banner2-1.jpg) top center no-repeat;}
#glume .Limg li.bg2_2{background:#393939 url(../../images/temp/focus/banner2-2.jpg) top center no-repeat;}
#glume .Limg li.bg2_3{background:#393939 url(../../images/temp/focus/banner2-3.jpg) top center no-repeat;}
#glume .Limg li.bg2_4{background:#393939 url(../../images/temp/focus/banner2-4.jpg) top center no-repeat;}
#glume .Limg li.bg2_5{background:#393939 url(../../images/temp/focus/banner2-5.jpg) top center no-repeat;}
#glume .Limg li.bg5_1{background:#393939 url(../../images/temp/focus/banner5-1.png) top center no-repeat;}
#glume .Limg li.bg5_2{background:#393939 url(../../images/temp/focus/banner7.png) top center no-repeat;}
#glume .Limg li.bg11_1{background:#393939 url(../../images/temp/focus/banner11-1.png) top center no-repeat;}
#glume .Limg li.bg11_2{background:#393939 url(../../images/temp/focus/banner7.png) top center no-repeat;}
/**预订盒子**/
/*#banner .box{position: absolute;z-index:2;width:1960px;width:500px; height:270px;left:-80px;top:25px;background:#ffffff;}*/
#banner .box{overflow: visible;
left: 50%;
width: 500px;
height:270px;
margin-top: 20px;
margin-left: -590px;
position: absolute;
top: 0;
background:#ffffff;
z-index: 10;box-shadow:0px 0px 10px #666666;}
#banner .box .tit{height:44px;line-height:44px;text-indent:34px;font-size:16px;border-bottom:1px solid #dddddd;}
#banner .box .form{margin:10px;}
#banner .box .form td{height:40px;}
#banner .box .form .form-item{width:190px;height:32px;border:1px solid #dddddd;}
#banner .box .form .form-item .form-text{border:0px;height:24px;line-height:24px; padding:4px 3px; text-indent:5px;width:154px; cursor:pointer;}
#banner .box .form .form-item .form-text-180{border:0px;height:24px;line-height:24px; padding:4px 3px; text-indent:5px;width:144px; cursor:pointer;}
#banner .box .form .form-item img{width:20px;height:20px;}
#banner .box .form .form-item .lst{display:none;position:relative;width:100%;margin-left:-1px;border:1px solid #dddddd;overflow:visible;overflow-y:scroll;max-height:300px;}
#banner .box .form .form-item .lst a{display:block;cursor:pointer;height:32px;line-height:32px;text-indent:10px;background:#ffffff;margin:0px;}
#banner .box .form .form-item .lst a:hover{background:#333333;color:#ffffff;}

.module{position:relative;}
.module .width1180{position:relative;width:1180px;left:-100px;border:1p solid;}
.module .left{width:840px;float:left;}
.module .right{width:320px;float:right;}
.module .block{margin-top:10px;}

/**车型列表**/
#carmodels .tit{height:44px;line-height:44px;border-bottom:1px solid #dddddd;}
#carmodels .tit font{margin:0px 8px;}
#carmodels .cnt{position:relative;}
#carmodels .cnt .scroll{position:relative;z-index:1;width:760px;margin:0px auto;overflow:hidden;}
#carmodels .cnt .toLeft,#carmodels .cnt .toRight{width:40px;height:40px;dispaly:block;position: absolute;top:80px;left:0px;background:url(assets/toleft.png) center no-repeat;}
#carmodels .cnt .toRight{left:auto;right:0px;background:url(assets/toright.png) center no-repeat;}
#carmodels .list{margin-top:10px;}
#carmodels .list td{width:190px;text-align:center;border:0px solid;}
#carmodels .list td .pic{cursor:pointer;display:block;width:160px;height:160px;overflow:hidden;margin:10px auto;}
#carmodels .list td .pic img{max-height:120%;}
#carmodels .list td .text{text-align:left;line-height:28px;line-height:28px;margin:0px 10px;text-indent:10px;}
#carmodels .list td .name{font-size:14px;font-weight:bold;}
#carmodels .list td .inf{}
#carmodels .list td .hot{color:red;}


/**照片拼图**/
#photos .tit{height:44px;line-height:44px;border-bottom:1px solid #dddddd;}
#photos .tit font{margin:0px 8px;}
#photos .cnt{position:relative;}
#photos table{margin:5px -3px;width:846px;}
#photos table .x{width:150px;}
#photos table .x310{width:310px;}
#photos table .x95{width:95px;}
#photos table .x190{width:190px;}
#photos table .y{height:100px;}
#photos table .yy{height:210px;}
#photos table td{position:relative;text-valign:middle;cursor:pointer;}
#photos table td img{position:relative;z-index:1;width:100%;height:100%;}
#photos table td .overlay{display:none;position:absolute;z-index:2;width:100%;height:100%;top:0px;left:0px;background:#017d01;color:#ffffff;}
#photos table td .overlay span{display:block;margin:10px;}


.ccc-user {width: 320px;height: 240px;background-color: #f0f0f0;text-align: left;border:1px solid #dddddd;margin-top:20px;}
.ccc-user .ccc-user-top .ccc-user-tx {width: 64px;height: 64px;padding: 5px 0 0 5px;float: left;}
.ccc-user .ccc-user-top .ccc-user-tx img {width: 100%;height: 100%;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;display: block;}
.ccc-user .ccc-user-top .ccc-user-welc {float: left;padding: 5px 0 0 10px;}
.ccc-user .ccc-user-top .ccc-user-welc .ccc-csm-name {height: 35px;line-height: 35px;text-align: center; padding: 5px 0 10px 0;}
.ccc-user-status {line-height: 20px;margin: 12px 0 0 0;}
.ccc-user-status .ccc-user-operation {float: left;padding: 10px 0 10px 0;}
.ccc-user-status .ccc-user-operation a {margin: 0 5px 0 0;}
.ccc-user-status .ccc-user-operation a.ccc-points {margin: 0 15px 0 0;}
.ccc-user-login-btn {width:100%;clear:both;text-align:center;padding:10px 0 0 0;}
.ccc-user-login-btn img {margin:0px 2px;}
.ccc-user-prod {margin: 15px 0 0 0;float: left;}
.ccc-user-prod img {padding: 7px 7px 7px 3px;}
.ccc-mobile {margin: 20px 0 0 0;height: 150px;width: 320px;text-align: left;border:1px solid #dddddd;}
.ccc-mobile .ccc-mobile-line{margin:20px;}
.ccc-mobile .ccc-mobile-line .ccc-mobile-png {padding: 5px 0 0 5px;float: left;}
.ccc-mobile .ccc-mobile-line .ccc-mobile-welc {float: left;padding: 5px 0 0 10px;line-height:32px;}
.ccc-mobile-down {margin: 5px 0 0 90px;float: left;}
.ccc-mobile-down a {display:inline-block;text-align:center;}
.ccc-mobile-down a img {padding: 5px 5px 5px 5px;}
.ccc-mobile-down a .b{display:none;}
.ccc-mobile-down a:hover .a{display:none;}
.ccc-mobile-down a:hover .b{display:inline-block;}
.ccc-info {padding:10px 0px;text-align: left;border:1px solid #dddddd;border-top:0px;width:320px;}
.ccc-info h{display:block;padding:8px;font-size:16px;}
.ccc-info ul{margin:0px 10px;}
.ccc-info li{line-height:32px;font-size:14px;}
.ccc-car-bottom {margin: 10px 0 0 0;text-align: center;}
.ccc-about-bottom {
	margin: 20px 0 0 0;width: 100%;height: 40px;line-height: 40px;overflow: hidden;background-color: #c0c0c0;
	text-align: center;
}
.ccc-cb-icons {
	padding: 40px 0 20px 0;
	background-color: #f0f0f0;
	text-align: center;
}
.ccc-cb-icons img {
	padding: 0 30px 0 0;
}
.ccc-cb-tel {
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	background-color: #f0f0f0;
	text-align: center;
}
.ccc-cb-cp {
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	background-color: #f0f0f0;
	text-align: center;
}

.ccc-user-top{margin:10px;}

.ccc-user-prod{text-align:center;float:none;margin-top:2px;}
.ccc-user-prod a{display:inline-block;width:64px;height:80px;background:#ffffff;border:1px solid #dddddd;text-align:center;margin:0px 3px;}
.ccc-user-prod a img{width:32px;height:32px;margin:5px auto 0px;}
.ccc-user-prod a .b{display:none;}
.ccc-user-prod span{display:block;height:22px;line-height:22px;}
.ccc-user-prod a:hover{background:#ff6c00;border:1px solid #ff6c00;}
.ccc-user-prod a:hover .a{display:none;}
.ccc-user-prod a:hover .b{display:inline-block;}
.ccc-user-prod a:hover span{color:#ffffff;}
