body{background:#efeff4;}
ul,li,h1,p{ padding:0; margin:0;}
img{ border:none;vertical-align:middle;}
.clear {clear:both;}
a{color:#07f;}
a:hover{ text-decoration:none;}
.all_btn img{width:65%;}
.all_btn div{text-align:center;font-family:Microsoft Yahei,"黑体";}
.all_btn div a{color:#777;}
.all_btn div a:hover{text-decoration:none;} 
.btn1{position:absolute;top:20%;left:4%;}
.btn2{position:absolute;top:14%;left:36%;}
.btn3{position:absolute;top:23%;right:4%;}

.btn4{position:absolute;top:65%;right:4%;}
.btn5{position:absolute;top:93%;left:36%;}
.btn6{position:absolute;top:65%;left:4%;}

.btn7{position:absolute;top:56%;left:36%;}
.bigmain{width:100%;}
.menunavtop{width:100%;overflow:hidden;margin:0;}
.menunavtop li{float:left;width:25%;text-align:center;font-weight:bold;}
.menunavtop li img{margin-bottom:3px; width:40%;}
.menunavtop li a{color:#5e5e5e;display:block;padding:8px 0;}
.menunavtop li a.on{color:#07f;}
.menunavtop li a:hover{text-decoration:none;}

.menunavbottom {width:100%;background:#efeff4;border-top:1px solid #bbb;border-radius:0;position:absolute;position:fixed;bottom:0;left:0;}
.menunavbottom li {float:left;text-align:center;width:19%;line-height:16px;font-weight:bold;}
.menunavbottom li a {display:block;text-decoration:none;color:#333;border-left:1px solid #ccc;padding:7px 0; }
.menunavbottom li a.rest{color:#f00;}
.menunavbottom li.on{background:#fff;color:#07f;}
.menunavbottom li.on a{color:#07f;}
.menunavbottom li.prev{width:12%;font-size:28px;border-left:none;line-height:28px;}
.menunavbottom li.next{width:12%;font-size:28px;line-height:28px;}
.menunavbottom li.prev a{background:url(../img/go_bottomlefton.png) no-repeat center;}
.menunavbottom li.prev a.off{background:url(../img/go_bottomleft.png) no-repeat center;}
.menunavbottom li.next a{background:url(../img/go_bottomrighton.png) no-repeat center;}
.menunavbottom li.next a.off{background:url(../img/go_bottomright.png) no-repeat center;}

.navbar{border-top:1px solid #b1b1b1;margin-bottom:15px;}
.ccaret{border-right:1px solid #b1b1b1;font-size:17px; line-height:17px; background:url(../img/go_xila.png) no-repeat 16px center;width:40px; display:inline-block;}

.navbarnewnav{padding:0 0 0;background:url(../img/menunavgotopbg.gif) repeat-x bottom #fff;}
.navbarnewnav ul{width:100%;overflow:hidden;}
.navbarnewnav li{float:left;width:28%;text-align:center;font-size:20px;font-weight:bold; margin-left:5px; height:46px; line-height:46px;}
.navbarnewnav li a{color:#666;display:block;text-decoration:none;}
.navbarnewnav a:hover{text-decoration:none;}
.navbarnewnav li.btnmap{width:8%;margin-left:2%;}
.navbarnewnav li.btnmap img{width:90%;}
.navbarnewnav li.open{}
.navbarnewnav li.open .ccaret{background:url(../img/go_xilaup.png) no-repeat 16px center;}
.navbarnewnav li.open a{background:url(../img/menunavonbg.gif) no-repeat bottom;}

.dropdown-menu{width:100%; border:none; border-bottom:1px solid #b1b1b1;border-radius:0;}
.dropdown-menu li{float:none;width:100%;border-bottom:1px solid #ddd; padding:6px 0; text-align:left;font-weight:normal;}
.dropdown-menu li.last{border:none;}
.navbarnewnav li.open .dropdown-menu a{color:#666;font-size:14px;background:#fff;}
.navbarnewnav li.open .dropdown-menu a:hover{background:#fff;color:#07f;font-weight:bold;}

.carlist{width:100%;background:#fff;padding:3% 0;margin-bottom:15px;border-bottom:1px solid #b1b1b1;}
.carlist dl{width:94%;overflow:hidden;margin:0 auto; margin-bottom:10px;}
.carlist dt{float:left;width:35%;padding:5% 0;background:#cdcdcd;margin-right:2%;}
.carlist dt img{width:100%;background:#cdcdcd;}
.carlist dd{float:left;width:63%;line-height:26px;color:#888;}
.carlist dd img{width:7%;margin-right:5px;}
.carlist dd strong{color:#f00;}
.carlist dd a{color:#444;}
.carlist dd u{color:#ccc;margin:0 3px;text-decoration:none;}
.carlist dd em{color:#f00; font-style:normal; font-weight:bold;}
.carlist h1{font-size:16px;font-weight:bold; width:100%; overflow:hidden; margin-bottom:5px;color:#000;}
.carlist h1 b{float:left;padding:2px 0;}
.carlist h1 span{ float:left; padding:2px 3px; background:#f00;color:#fff; margin-left:5px; font-size:12px;}


.cartime{background:url(../img/shijg.gif) repeat-x;height:18px;border: 1px solid #b1b1b1;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;width:94%;overflow:hidden;margin:0 auto;position:relative;}
.timetext{ padding-left:67px;}
.timetext span{float:left; border-left:1px solid #b1b1b1; display:inline-block;width:30%;padding-left:5px;color:#666;margin-right:0px;}
.timetext span.first{ }
.timered{ background:#f00;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px; position:absolute; width:40%; height:18px;}
.timebule{ background:#07f;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;position:absolute;width:10%; height:18px;}

.buytitle{ width:100%;border-top-left-radius:6px;border-top-right-radius:6px;background:#f9f9f9; border-bottom:1px solid #b1b1b1;font-size:22px; padding:14px 0;}
.goback{width:24%;float:left;font-size:18px;padding-top:4px;font-weight:bold;text-align:center;}
.goback img{width:20%;vertical-align:-3px;}
.gomap{width:18%;float:right;text-align:center;}
.gomap img{width:30%;}
.showtitle{width:55%;margin:0 auto;text-align:center;padding-top:2px;}

.menunavgotop {width:100%;border-top:1px solid #b1b1b1;}
.menunavgotop li {float:left;text-align:center;width:19%;line-height:16px;font-weight:bold;background:url(../img/menunavgotopbg.gif) repeat-x bottom #fff;}
.menunavgotop li a {display:block;text-decoration:none;color:#333;border-left:1px solid #ccc;padding:7px 0;height:46px;}
.menunavgotop li a.rest{color:#f00;}
.menunavgotop li.on{background:#fff;color:#07f;}
.menunavgotop li.on a{color:#07f;}
.menunavgotop li.prev{width:12%;font-size:28px;border-left:none;line-height:28px;}
.menunavgotop li.next{width:12%;font-size:28px;line-height:28px;}
.menunavgotop li.prev a{background:url(../img/go_bottomlefton.png) no-repeat center;}
.menunavgotop li.prev a.off{background:url(../img/go_bottomleft.png) no-repeat center;}
.menunavgotop li.next a{background:url(../img/go_bottomrighton.png) no-repeat center;}
.menunavgotop li.next a.off{background:url(../img/go_bottomright.png) no-repeat center;}

.buybanner{width:100%;background:#cdcdcd; text-align:center; padding:20px 0; position:relative;}
.buybannertitle {position:absolute;top:10px;left:0; }
.buybannertitle b{background:url(../img/buybannertitle.png) no-repeat right;font-size:16px;color:#fff; display:block;padding:0 30px 0 10px;color:#fff; float:left;}
.buybannertitle span{ background:#f00; padding:0 1px;font-size:16px;color:#fff;float:left; margin:0 0 0 5px;}
.buybgfff{ background:#fff;width:100%;overflow:hidden;padding:3%;margin-bottom:10px; border-bottom:1px solid #b1b1b1;}
.buybgfff .cartime{width:99%;}
.buybgfff .timetext{padding-left:58px;}
.buybgfff .timetext span{float:left; border-left:1px solid #b1b1b1; display:inline-block;width:30%;padding-left:5px;color:#666;margin-right:4px;}
.buybgfff .timetext span.last{margin-left:-1px;}
.buybgfff dl{width:100%;overflow:hidden;margin:0 auto;color:#888; border-bottom:1px solid #ddd; padding:8px 0 6px;}
.buybgfff dl img{width:12%;margin-right:3px;vertical-align:-3px;}
.buybgfff dl strong{color:#f00;}
.buybgfff dt{width:48%;float:left;font-weight:normal;border-right:1px solid #ddd;margin-right:8px;}
.buybgfff dd{width:49%;float:right;border-right:1px solid #fff;}


.sodizhi{border: 1px solid #b1b1b1;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;width:94%;overflow:hidden;margin:0 auto; background:#fff; padding:10px; margin-bottom:10px;color:#888;}
.sodizhi a{font-size:26px;line-height:26px;color:#999; vertical-align:-2px;}
.sodizhi img{ float:left; margin:7px 8px 0 0;}

.cardatanum{border: 1px solid #b1b1b1;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;width:94%;overflow:hidden;margin:0 auto; background:#fff;margin-bottom:10px; padding:10px;}
.cardatanum ol{ margin:0; padding:0 0 0 18px;}
.cardatanum li{ float:left; width:50%;color:#888; list-style:outside; line-height:22px;} 

.okbuytime{width:94%;margin:15px auto;}
.okbuytime li{ width:100%; overflow:hidden;border-bottom:1px solid #b1b1b1; padding:5px 0 6px;}
.okbuytime li span{ float:left;color:#444; font-weight:bold;padding:2px 0; width:30%;}
.okbuytime li img{ width:18%; vertical-align:-3px; margin-right:6px;}
.okbuytime li a{ float:right;color:#888; text-decoration:none; padding:2px 0;}
.okbuytime li a.isbuy{ padding:0 3px; border:2px solid #ccc;}
.okbuytime li a.on{border:2px solid #e51b17;color:#e51b17;position:relative; background:url(../img/buy_icon8ok.png) no-repeat right bottom; margin-right:3px;}
.okbuytime li a input{ width:50px; height:22px;}

.okbuybtn{ width:88%;margin:5px auto 15px;}
.okbuybtn a{ width:100%; font-size:24px; font-weight:bold;}