body{background:#efeff4;font-family:Microsoft Yahei,"黑体"; margin:0; padding:0;}
*{}
ul,li,h1,p,h1,h2,h3,h4,h5,dl{ padding:0; margin:0;font-family:Microsoft Yahei,"黑体";}
li{list-style: none outside none;}
img{ border:none;vertical-align:middle;}
a{color:#07f;text-decoration: none;}
a:hover{text-decoration:none;}
.clear{ clear:both; float:none;}

ul, ol {margin:0;}
.indexmain{ width:100%;margin:0;padding:0;}

.btn_all{width:100%;overflow:hidden;padding:25px 0 0 0;}
.btn_all img{width:70%;}
.btn_all{width:100%;overflow:hidden;}
.btn_all li{float:left;width:25%;text-align:center;}
.btn_all li a{color:#777;}
.btn_all li a:hover{text-decoration:none;}

.bigmain{width:100%;}
.menunavtop{width:100%;overflow:hidden;margin:0;border-bottom:1px solid #b1b1b1;background:#f9f9f9;border-top-left-radius:6px;border-top-right-radius:6px;}
.menunavtop li{float:left;width:25%;text-align:center;font-weight:bold;}
.menunavtop li img{margin-bottom:2px; width:30%;}
.menunavtop li a{color:#5e5e5e;display:block;padding:2px 0;}
.menunavtop li a.on{color:#07f;}
.menunavtop li a:hover{text-decoration:none;}

.menunavbottom {width:100%;background:#efeff4;border-top:1px solid #bbb;border-radius:0;position:absolute;position:fixed;bottom:0;left:0;}
.menunavbottom li {float:left;text-align:center;width:19%;line-height:16px;font-weight:bold;}
.menunavbottom li a {display:block;text-decoration:none;color:#333;border-left:1px solid #ccc;padding:7px 0; }
.menunavbottom li a.rest{color:#f00;}
.menunavbottom li.on{background:#fff;color:#07f;}
.menunavbottom li.on a{color:#07f;}
.menunavbottom li.prev{width:12%;font-size:28px;border-left:none;line-height:28px;}
.menunavbottom li.next{width:12%;font-size:28px;line-height:28px;}
.menunavbottom li.prev a{background:url(../images/go_bottomlefton.png) no-repeat center;}
.menunavbottom li.prev a.off{background:url(../images/go_bottomleft.png) no-repeat center;}
.menunavbottom li.next a{background:url(../images/go_bottomrighton.png) no-repeat center;}
.menunavbottom li.next a.off{background:url(../images/go_bottomright.png) no-repeat center;}


.navbar{margin-bottom:15px;}
.ccaret{border-right:1px solid #b1b1b1;font-size:17px; line-height:17px; background:url(../images/go_xila.png) no-repeat 16px center;width:40px; display:inline-block;}
/**/
.navbarnewnav{padding:0 0 0;background:url(../images/menunavgotopbg.gif) repeat-x bottom #fff;}
.navbarnewnav ul{width:100%;overflow:hidden;}
.navbarnewnav li{float:left;width:28%;text-align:center;font-size:20px;font-weight:500;margin-left:5px; height:46px; line-height:46px;}
.navbarnewnav li a{color:#666;display:block;text-decoration:none;}
.navbarnewnav a:hover{text-decoration:none;}
.navbarnewnav li.btnmap{width:8%;margin-left:2%;}
.navbarnewnav li.btnmap img{width:80%; vertical-align:-4px;}
.navbarnewnav li.open{}
.navbarnewnav li.open .ccaret{background:url(../images/go_xilaup.png) no-repeat 16px center;}
.navbarnewnav li.open a{background:url(../images/menunavonbg.gif) no-repeat bottom;}
.navbarnewnav li.open .dropdown-menu li a{background:#fff;}
.navbarnewnav li.open .dropdown-menu li.seled a {color: #07f; font-weight: bold;}

.carlist{width:100%;background:#fff;padding:3% 0;border-bottom:1px solid #b1b1b1;}
.carlist dl{width:94%;overflow:hidden;margin:0 auto;margin-bottom:5px;}
.carlist dt{float:left;width:33%;margin-right:5%;}
.carlist dt a{width:100%;font-size:16px;color:#fff;text-align:center;display:block; height:30px; margin-top:9px;margin-bottom: 0;line-height:30px; background:#07f;border-radius:6px; font-weight:500;}
.carlist dt a.ono{ background:#fff; border:1px solid #07f;color:#07f;}
.carlist dt img{width:100%;background:#cdcdcd;height:80px;}

.carlist dd{float:left;width:62%;line-height:21px;color:#888; padding-top:1px; font-size:12px; overflow:hidden;}
.carlist dd span.caryyd,.carlist dd span.caryyc{background:#bbb;color:#fff; border-radius:3px; padding:1px 3px 1px 5px; font-size:12px; margin-left:12px;}
.carlist dd span.caryyc{background:#444;}
.carlist dd img{width:7%;margin-right:5px;}
.carlist dd strong{color:#f00;}
.carlist dd a{color:#444;}
.carlist dd u{color:#ccc;margin:0 3px;text-decoration:none;}
.carlist dd em{color:#f00; font-style:normal; font-weight:bold;}
.carlist h1{font-size:14px;font-weight:bold; width:100%; overflow:hidden; margin-bottom:5px;color:#000;}
.carlist h1 b{padding:2px 0;}
.carlist h1 span{padding:2px 3px; background:#f00;color:#fff; margin-left:5px; font-size:12px;}


.cartime{width:94%;margin:0 auto;position:relative;}

.cartime .timetext{border:none;}
.cartime .timetext td{width:4%;height:18px;}
.cartime .timetext td.ttext{ width:12%;background:url(../images/refud_line.gif) repeat-y left;color:#666; font-size:12px; font-weight:normal; padding-left: 2px;}

.cartime .cartime24{border:1px solid #b1b1b1;border-radius:5px;}
.cartime .cartime24 td{width:4%;background:url(../images/refud_line.gif) repeat-y left;height:18px;}
.cartime .cartime24 td.first{background:none;}

.cartime .timered{ background:#f00;border-radius:5px; position:absolute;width:40%; height:20px; bottom:1px; left:0;}
.cartime .timebule{ background:#07f;border-radius:5px;position:absolute;width:10%; height:20px;bottom:1px; left:0;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.carlist .timetext{ border:1px solid #fff; border-bottom:none;padding-left:0;}
	.carlist .timetext td{width:4%;height:18px; padding-left:3px;margin-left:0;}
	.carlist .timetext td.ttext{ background:url(../images/refud_line.gif) repeat-y left;color:#666; font-size:12px; font-weight:normal; width:12%; margin-left:1px;}
	}


.content{width:94%;margin:0 auto;}

.buytitle{width:100%;border-top-left-radius:6px;border-top-right-radius:6px;background:#f9f9f9; border-bottom:1px solid #b1b1b1;font-size:22px;height:45px; line-height:45px;}
.goback{width:20%;float:left;font-size:18px;    height: 45px;line-height: 45px;}
.goback a{display:block;background: url(../images/go_back.png) left center no-repeat; padding-left: 15px;}
.gomap{width:24px;float:right;}
.gomap a{display:block;background: url(../images/btn_map.png) center center no-repeat;}
.golist{width:24px;float:right;}
.golist a{display:block;background: url(../images/btn_tomore.png) center center no-repeat;}
.showtitle{width:60%;margin:0 auto;text-align:center;float:left;}
.coin{width:20%;font-size:18px;margin:0 auto;text-align:right;float:right;}

.menunavgotop {width:100%;border-top:1px solid #b1b1b1;}
.menunavgotop li {float:left;text-align:center;width:19%;line-height:16px;font-weight:bold;background:url(../images/menunavgotopbg.gif) repeat-x bottom #fff;}
.menunavgotop li a {display:block;text-decoration:none;color:#333;border-left:1px solid #ccc;padding:7px 0;height:46px;}
.menunavgotop li a.rest{color:#f00;}
.menunavgotop li.on{background:#fff;color:#07f;}
.menunavgotop li.on a{color:#07f;}
.menunavgotop li.prev{width:12%;font-size:28px;border-left:none;line-height:28px;}
.menunavgotop li.next{width:12%;font-size:28px;line-height:28px;}
.menunavgotop li.prev a{background:url(../images/go_bottomlefton.png) no-repeat center;}
.menunavgotop li.prev a.off{background:url(../images/go_bottomleft.png) no-repeat center;}
.menunavgotop li.next a{background:url(../images/go_bottomrighton.png) no-repeat center;}
.menunavgotop li.next a.off{background:url(../images/go_bottomright.png) no-repeat center;}


.buybanner{width:100%;background:#cdcdcd; text-align:center; padding:0 0; position:relative;}
.buybanner img{ width:100%;}
.buybannertitle {position:absolute;top:10px;left:0; }
.buybannertitle b{background:url(../images/buybannertitle.png) no-repeat right;font-size:16px;color:#fff; display:block;padding:0 30px 0 10px;color:#fff; float:left;}
.buybannertitle span{ background:#f00; padding:0 1px;font-size:16px;color:#fff;float:left;margin:0 0 0 5px;}
.buybgfff{ background:#fff;width:100%;overflow:hidden;padding:3%;margin-bottom:10px; border-bottom:1px solid #b1b1b1;}
.buybgfff .cartime{width:99%;}
.buybgfff .timetext span{float:left; border-left:1px solid #b1b1b1; display:inline-block;width:30%;padding-left:5px;color:#666;margin-right:4px;}
.buybgfff .timetext span.last{margin-left:-1px;}
.buybgfff dl{width:100%;overflow:hidden;margin:0 auto;color:#888; border-bottom:1px solid #ddd; padding:8px 0 6px;}
.buybgfff dl img{width:12%;margin-right:3px;vertical-align:-3px;}
.buybgfff dl strong{color:#f00;}
.buybgfff dt{width:48%;float:left;font-weight:normal;border-right:1px solid #ddd;margin-right:8px;}
.buybgfff dd{width:49%;float:right;border-right:1px solid #fff;}

.cardatanum{border: 1px solid #b1b1b1;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;width:94%;overflow:hidden;margin:0 auto; background:#fff;margin-bottom:10px; padding:10px;}
.cardatanum ol{ margin:0; padding:0 0 0 18px;}
.cardatanum li{ float:left; width:50%;color:#888; list-style:outside; line-height:22px;} 

.okbuytime{width:94%;margin:15px auto;}
.okbuytime li{ width:100%; overflow:hidden;border-bottom:1px solid #b1b1b1; padding:5px 0 6px; height:45px;}
.okbuytime li span{ float:left;color:#888; font-weight:bold; width:35%;}
.okbuytime li span img{ width:18%; vertical-align:-3px; margin-right:6px;}
.okbuytime li a{ float:right;color:#bbb; text-decoration:none; padding:2px 0;}
.okbuytime li a img{margin-left:5px;}
.okbuytime li a.isbuy{ padding:0 3px; border:2px solid #ccc;   height: 28px;  line-height: 28px;}
.okbuytime li a.on{border:2px solid #e51b17;color:#e51b17;position:relative; background:url(../images/buy_icon8ok.png) no-repeat right bottom;}
.okbuytime li a input{ width:50px; height:22px; border:1px solid #ccc;}

.carhai{width:94%;margin:15px auto; overflow:hidden; background:#fff; border:1px solid #b1b1b1;border-radius:6px; padding:10px 0;}
.carhai span{color:#888; font-weight:bold;padding:2px 0; width:30%;}
.carhai a{ display:block;color:#bbb; padding: 0 4%;text-decoration:none;}
.carhai small{float:right;color:#bbb;font-size:14px;}

.carkuai{width:94%;margin:15px auto; overflow:hidden; background:#fff; border:1px solid #b1b1b1;border-radius:6px; padding:10px 15px;}
.carkuai{line-height:30px; height:50px;}
.okbuybtn{ width:94%;margin:5px auto 15px;}
.okbuybtn a,.okbuybtn .submit{ width:100%; font-size:24px;color:#fff;text-align:center;display:block; height:60px; line-height:60px; background:#07f; border:1px solid #07f;border-radius:6px;}
.okbuybtn a.off{text-decoration: none;background:#ccc;color:#666;border:1px solid #ccc;}
.okbuybtn a.cancel{text-decoration: none;background:#FFFFFF;color:#07f;border:1px solid #ccc;}
/**/
.boxblock a{color:#000;}
.newslist{width:100%;background:#fff;padding:3%;margin:10px 0;border-bottom:1px solid #b1b1b1;overflow:hidden;}
.newslist span img{ float:left;background:#cdcdcd;width:80px; height:60px; margin-right:6px;}
.newslist span.newscarnew{ background:}
.newslist span.time{ float:right;color:#aaa;}
.newslist h1{ font-size:20px; padding:5px 0;}
.newslist h1 img{ width:10%; margin-left:5px; vertical-align:-2px;}
.newslist p{ font-size:16px;color:#888;}

.activ_show{color:#666; width:94%; margin:15px auto;}

/**/
.netbox{ background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:94%;margin:15px auto;}
.netbox li{ height:50px; font-size:14px;line-height:50px; width:100%;border-top:1px solid #b1b1b1;padding:0 4%;}
.netbox li.first{width:100%;border-top:none;}
.netbox li span{float:right;color:#bbb;font-size:14px;overflow: hidden;display:inlne-block;}
.netbox li span img{vertical-align:-4px;margin-left:5px;}
.netbox li b{color:#888;font-size:14px;}
.netbox li a{display:block;}


.netboxdist{background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:94%;margin:15px auto;color:#888;}
.netboxdist h1{ background:#ddd;border-bottom:1px solid #b1b1b1; font-size:18px;border-top-left-radius:6px;border-top-right-radius:6px; padding:5px 10px;}
.netboxdist .boxdist{padding:9px 10px;}
.netboxdist .boxdist p{background: url('../images/address.png') no-repeat scroll left center rgba(0, 0, 0, 0);padding:0 30px; line-height: 28px;}
.netboxdist a,.netboxdist a:hover,.netboxdist a:visited,.netboxdist a:active{color:#888;}
.netboxdist h3{padding:9px 10px; font-size:14px;border-top:1px solid #b1b1b1;}
.netboxdist h3 img{margin:0 8px 0 0;}
.network_car{ border-bottom:1px solid #b1b1b1; padding:0 4% 10px;color:#777;font-size:18px; margin-bottom:10px;}

.bigmap{ width:100%;}
.bigmap img{ width:100%; height:100%;}

/**/
.navbarprice {margin:10px 0 0;}
.navbarprice dl{width:100%;background:url(../images/menunavgotopbg.gif) repeat-x bottom #fff;position:relative;}
.navbarprice dt{float:left;width:50%;text-align:center;font-size:20px;font-weight:500;height:46px; line-height:46px;}
.navbarprice dd{float:left;width:50%;text-align:center;font-size:20px;font-weight:500;height:46px; line-height:46px;}
.navbarprice dl a{color:#666;display:block;text-decoration:none;}
.navbarprice dl .pcaret{font-size:17px;line-height:17px; background:url(../images/go_xila.png) no-repeat 5px center;width:40px; display:inline-block; float:right; margin-top:15px;}
.navbarprice dt .pcaret{border-right:1px solid #b1b1b1;}
.navbarprice a:hover{text-decoration:none;}
.navbarprice dt.open{}
.navbarprice dt.open .pcaret{background:url(../images/go_xilaup.png) no-repeat 5px center;}
.navbarprice dt.open a{background:url(../images/menunavonbg.gif) no-repeat bottom;}
.navbarprice dd.open{}
.navbarprice dd.open .pcaret{background:url(../images/go_xilaup.png) no-repeat 5px center;}
.navbarprice dd.open a{background:url(../images/menunavonbg.gif) no-repeat bottom;}
.navbarprice dt.open .dropdown-menu a{background:#fff;height: 44px;padding:0 20px;line-height: 44px;}
.navbarprice dd.open .dropdown-menu a{background:#fff;height: 44px;padding:0 20px;line-height: 44px;}

.buybgprice{ background:#fff;width:100%;overflow:hidden;padding:3%;margin-bottom:10px; border-bottom:1px solid #b1b1b1;}
.buybgprice dl{width:100%;overflow:hidden;margin:0 auto;color:#888; border-bottom:1px solid #ddd; padding:8px 0 6px; font-size:12px;}
.buybgprice dl img{width:27%;margin-right:3px;vertical-align:-3px; float:left;}
.buybgprice dl p{padding:5px 0 5px 13px;width:100%;font-size:16px; line-height:16px;}
.buybgprice dl b{font-size:16px;color:#444;}
.buybgprice dl strong{color:#f00;}
.buybgprice dt{width:48%;float:left;font-weight:normal;border-right:1px solid #ddd;margin-right:8px;}
.buybgprice dd{width:48%;float:right;border-right:1px solid #fff;}

.dropdown-menu{width:100%; border:none; border-bottom:1px solid #b1b1b1;border-radius:0;}
.dropdown-menu li{float:none;width:100%;border-bottom:1px solid #ddd; padding:0; text-align:left;font-weight:normal;}
.dropdown-menu li.last{border:none;}
.dropdown-menu li.seled{border-bottom: 1px solid #FF8400;}
.dropdown-menu li a{color:#666;font-size:14px;background:#fff;height: 44px;padding:0 20px;line-height: 44px;}
.dropdown-menu li a:hover{background:#fff;color:#07f;font-weight:bold;}

/**/
.reclist{background:#fff;padding:2% 6% 1%;margin:10px 0;border-bottom:1px solid #b1b1b1;overflow:hidden;}
.reclist img{width:26%;margin-top:8px;float:left;margin-right:20px;}
.reclist h1{font-size:16px;padding:5px 0;}
.reclist li{font-size:12px;color:#888;line-height:18px;}


/**/
.loginbanner{width:100%;padding:30px 0 20px; text-align:center;}
.loginbanner img{ width:80%;}
.loginbox{background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:94%;margin:15px auto; }
.loginbox img{width:10%; float:left; margin-right:15px;}
.loginname{border-bottom:1px solid #b1b1b1;padding:10px 15px;width:100%;overflow:hidden;}
.loginpw{padding:10px 15px;width:100%; overflow:hidden;}
.loginpw .login{ border:none; background:url("../images/login_icon2.png") no-repeat left center; padding:10px 15px 10px 58px;width:100%;overflow:hidden;}

.loginname .login{ border:none; background:url("../images/login_icon1.png") no-repeat left center; padding:10px 15px 10px 58px;width:100%;overflow:hidden;}
.loginpw .setpwd,.loginname .setpwd{ border:none; padding:10px 15px 10px 10px;width:100%;overflow:hidden;}

input.normal{border:none; padding:10px 15px ;width:100%;overflow:hidden;border:1px solid #b1b1b1;border-radius:6px;}


.reglogintx{width:94%;margin:0 auto;overflow:hidden;}
.reglogintx input{height:16px; width:16px;color:#07f;margin-right:3px;}
.reglogintx span{float:left;}
.reglogintx b{float:right;}
.error{color:#f00;width:94%;margin:0 auto; padding:3px 0;}
.error b{color:#666;}



.phonenum{width:94%;margin:15px auto ;}
.yzmnum{width:94%;margin:15px auto;overflow:hidden;border-radius:6px;background:#fff; border:1px solid #b1b1b1;}
.yzmnum .normal{ width:50%; float:left;border:none;}
.yzmnum a{ width:50%;text-decoration: none;border-top-right-radius:4px;border-bottom-right-radius:4px;float:right;font-size:14px;color:#fff;text-align:center;display:block;background:#07f; border:none;height:40px;line-height:40px; text-align:center;}
.yzmnum a.off{ text-decoration: none;background:#ccc;color:#666;}
.okjumpbtn{ width:94%;margin:5px auto 15px;}
.okjumpbtn a{ width:100%; font-size:24px;color:#07f;text-align:center;display:block; height:60px; line-height:60px; background:#fff; border:1px solid #b1b1b1;border-radius:6px;}


/**/
.black{ background:#000; display:none; position:absolute; height:100%; width:100%; top:0; left:0;position: fixed;_position: absolute;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.popbox{width:70%; display:none;  position: fixed;_position: absolute;top:12%;left:15%; background:#fff;border-radius:6px; }
.popbox h3{color:#444; text-align:center; font-size:16px; margin-bottom:6px;padding:15px 12px 0;}
.popbox p{color:#888; line-height:16px; text-align:left;font-size:14px;border-bottom:1px solid #b1b1b1;padding:15px 12px;}
.popselect{ width:100%;}
.popselect a{display:block; height:40px; line-height:40px; font-size:18px;text-align:center;}
.popselect a.rest{ float:left;  width:50%; border-right:1px solid #b1b1b1;}
.popselect a.ok{ float:left; width:50%; border-right:none;}

.black-confirm{ background:#000; display:none; position:absolute; height:100%; width:100%; top:0; left:0;position: fixed;_position: absolute;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.popbox-confirm{width:100%; height:100%; display:none;  position: fixed;_position: absolute;top:0%;left:0%; background:#fff;border-radius:6px; }
.popbox-confirm h3{color:#444; text-align:center; font-size:16px; margin-bottom:6px;padding:15px 12px 0;}
.popbox-confirm p{color:black; line-height:16px; text-align:left;font-size:14px;padding:1px 1px;}
/**/
.ordersbox{ padding:15px 0;}

/**/
.mynamedata{width:100%;background:#fff;padding:3% 0;margin-bottom:15px;border-bottom:1px solid #b1b1b1;}
.mynamedata dl{width:94%;overflow:hidden;margin:0 auto;}
.mynamedata dt{float:left;width:35%;margin-right:2%;}
.mynamedata dt img{width:90%;background:#cdcdcd;}
.mynamedata dd{float:left;width:62%; line-height: 32px;color:#888;font-size:16px; overflow:hidden;}

/**/
.upbox{background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:94%;margin:15px auto 0; }
.upsfz form,.upxsz form{position: absolute;left: 0;top: 0; height: 100%;opacity: 0;width: 100%; } 
.upsfz input,.upxsz input{ height: 100%;opacity: 0;width: 100%; } 
.upsfz{min-height:100px; position: relative; border-bottom:1px solid #b1b1b1;padding:10px 15px;width:100%;overflow:hidden; text-align:center;}
.upsfz img{ width:70%;}
.upxsz{min-height:100px;  position: relative;padding:10px 15px;width:100%;overflow:hidden;text-align:center;}
.upxsz img{ width:90%;}


/**/
.paybox{ background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:94%;margin:0 auto 15px;}
.paybox li{border-top:1px solid #b1b1b1;padding:0 4%; overflow:hidden; height:50px; line-height:50px;}
.paybox li.first{border-top:none;}
.paybox li span{float:right;color:#bbb;font-size:14px;width:50%;text-align: right;}
.paybox li span img{vertical-align:-4px;margin-left:5px;}
.paybox li b{float:left;color:#888;font-size:14px; width:40%;}
.paybox li b img{width:25%; margin-right:6px;}

.confirmbox{ background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:99%; margin:0 auto;}
.confirmbox li{border-top:1px solid #b1b1b1;padding:0 1%; overflow:hidden; height:50px; line-height:50px;}
.confirmbox li.first{border-top:none;}
.confirmbox li span{float:right;color:#bbb;font-size:14px;width:40%;text-align: right;}
.confirmbox li span img{vertical-align:-4px;margin-left:5px;}
.confirmbox li b{float:left;color:#888;font-size:14px; width:50%;}
.confirmbox li b img{width:25%; margin-right:6px;}

.pay2box{ background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:94%;margin:0 auto 15px;}
.pay2box li{border-top:1px solid #b1b1b1;padding:0 4%; overflow:hidden; height:50px; line-height:50px;}
.pay2box li.first{border-top:none;}
.pay2box li span{float:right;color:#bbb;font-size:14px;}
.pay2box li span img{vertical-align:-4px;margin-left:5px;}
.pay2box li b{float:left;color:#888;font-size:14px; width:40%;}
.pay2box li b img{width:80%; margin-right:6px;}
.pay2box h1{ background:#ddd;border-top-left-radius:4px;border-top-right-radius:4px; border-bottom:1px solid #b1b1b1; font-size:16px; height:32px; line-height:32px;padding:0 4%;color:#07f; font-weight:bold;}
.pay2box h1 img{width:10%; height:80%;margin-right:6px; vertical-align:middle;}

/**/
.refundbox{border-bottom:1px solid #b1b1b1; padding:4% 0; width:100%;}
.refundbox dl{ width:80%; margin:0 auto 10px; overflow:hidden;}
.refundbox dt{ float:left;width:25%; text-align:center;}
.refundbox dd{ float:left;width:75%; line-height:26px;color:#888;}

.refund2box{ background:#fff;padding:4% 0; width:100%;}
.refund2box dl{ width:80%; margin:0 auto 10px; overflow:hidden;}
.refund2box dt{ float:left;width:25%; padding:0 0 5%;text-align:center; background:url(../images/refud_line.gif) repeat-y center;}
.refund2box dt img{ background:#fff; width:50%; padding-bottom:8px;}
.refund2box dd{ float:left;width:75%; line-height:22px;color:#888; border-bottom:1px solid #b1b1b1; padding-bottom:5px;}
.refund2box dd strong{color:#07f;}

.more-loading{font-size: 14px;height: 40px;line-height: 40px;text-align: center;}
.ccc-must-weixin{ font-size: 14px;margin-top: 150;text-align: center;}
.ccc-nodata{ font-size: 14px;margin: 30px 0;text-align: center;}
.icon-gps{background:url(../images/address.png) no-repeat; height:26px; line-height:26px; padding-left:22px;}
.order-item-detail, .car-item-detail {background: url(' ../images/go_soright.png') right center no-repeat;}
.icon-date,.icon-avoid,.icon-hour{ height:34px; line-height:34px; padding-left:30px;}
.icon-date{background:url(../images/buy_icon5.png) no-repeat  left center ;}
.icon-avoid{background:url(../images/buy_icon6.png) no-repeat left center ;}
.icon-hour{background:url(../images/buy_icon7.png) no-repeat left center ;}
.fhAmount{width:60px;padding-left: 5px; border: 1px solid #B1B1B1;border-radius: 6px;}
.xuan{background: none repeat scroll 0 0 #FF0000;color: #FFFFFF;margin-left: 5px;padding: 2px 3px;font-style: normal;}
.ccclubs-loader{background: url("/images/icons/022.gif") no-repeat scroll center center #FFFFFF;border-radius: 12px;height: 120px;left: 50%;margin-left: -60px;margin-top: -60px;position: fixed;top: 50%;width: 120px;}

.ccc-order-sel-item {float: right;position: relative;}
.ccc-qic-time-pick .ccc-qic-time-picker {margin: 0 5px;float: left;position: relative;}
.ccc-qic-time-pick .ccc-qic-time-picker b {background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, rgba(245,245,245,0.9)));
	background: -webkit-linear-gradient(top, #fff, rgba(245,245,245,0.9));
	background: -moz-linear-gradient(top, #fff, rgba(245,245,245,0.9));
	background: -ms-linear-gradient(top, #fff, rgba(245,245,245,0.9));
	background: -o-linear-gradient(top, #fff, rgba(245,245,245,0.9));
	background: linear-gradient(to bottom, #fff, rgba(245,245,245,0.9));
	width: 30px;height: 30px;border: 1px solid #ccc;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;position: absolute;top: 0;left: 0;
}

.ccc-qic-time-pick .ccc-qic-time-picker i {/* temp */background: url(/images/temp/reg-icons.png) -10px 0 no-repeat;width: 14px;height: 14px;position: absolute;top: 0;right: -3px;display: none;}
.ccc-qic-time-pick .ccc-qic-time-picker span {font: 18px/30px 'Lato', Tahoma, Microsoft Yahei, sans-serif;width: 30px;text-align: center;display: block;position: relative;}
.ccc-qic-time-pick .ccc-qic-time-unit {color: #6c6c6c;	font-size: 11px;line-height: 18px;padding: 10px 0 0;margin: 0 2px 0 0;letter-spacing: 1px;display: block;float: right;}
.ccc-qic-time-pick .ccc-qic-time-picker:hover b {border-color: #999;}
.ccc-qic-time-pick .ccc-qic-time-picker.cur b {border-color: #73cc59;}
.ccc-qic-time-pick .ccc-qic-time-picker.cur i {display: block;}
.ccc-qic-time-pick .ccc-qic-time-picker.cur span {color: #5bad44;}


/*2014-5-21*/
.refundgoldbox{border-bottom:1px solid #b1b1b1; padding:4% 0; width:100%;}
.refundgoldbox dl{ width:90%; margin:0 auto 10px; overflow:hidden;}
.refundgoldbox dt{ float:left;width:18%;text-align:right;padding-right:10px;}
.refundgoldbox dt img{  width:40%;}
.refundgoldbox dd{ float:left;width:75%;line-height:20px;color:#888;}

.refundgold2box{ background:#fff;padding:4% 0; width:100%;}
.refundgold2box ul{ width:74%; margin:0 auto 10px; overflow:hidden;}
.refundgold2box li{width:100%; line-height:22px;color:#888; border-bottom:1px solid #b1b1b1; padding:15px 0;}
.refundgold2box li a{color:#444;display: block;}
.refundgold2box li a:hover{text-decoration:none;}
.refundgold2box li img{width:8%; margin-right:10px; vertical-align:middle;}
.refundgold2box li a strong{color:#e51b17;}

.goldnum{ width:74%; margin:0 auto; padding:15px 0 10px;overflow:hidden; text-align:center;}
.goldnum span{ float:left;height:40px; line-height:40px;}
.goldnumbox{float:left;border:2px solid #bbb;}
.goldnumbox input{font-size: 22px; height:40px; line-height:40px; border:none; float:left; width:110px; padding:0 5px;text-align:center}
.goldnumbox a{ float:left; display:inline-block; width:40px;color:#333;height:40px;font-size:30px; line-height:34px; font-weight:bold; text-align:center;}
.goldnumbox a.left{border-right:2px solid #bbb;}
.goldnumbox a.right{border-left:2px solid #bbb;}
.hide{display:none;}
/*2014-06-03*/
.cardatamiles{border: 1px solid #b1b1b1;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;width:94%;overflow:hidden;margin:0 auto; background:#fff;margin-bottom:10px; padding:10px;}
.cardatamiles ol{ margin:0; padding:0 0 0 18px;}
.cardatamiles li{ float:left; width:50%;color:#888; list-style:none; line-height:22px;} 