@charset "utf-8";
/* CSS Document */
body,html{background:#efefef; padding:0px; margin:0px;}
div,td,body{ color:#000000; font-size:16px;}

.clear{ clear:both;}

.tips{ color:#ff0000;}

.button{width:95%; background:#009933; border:1px solid #006600; color:#FFFFFF; font-weight:bold;  height:40px; line-height:40px; overflow:hidden; padding:0px; margin:10px auto; display:block;}
.select{ width:100%; height:28px;}


.shadow{height:16px; width:100%;background:url(../images/shadow.png) top repeat-x;}
.shadower{height:8px; width:100%;background:url(../images/b.png) top repeat-x;}


.header{height:56px; position:fixed; z-index:99999999; top:0px; left:0px; width:100%;}
.header .toolbar{height:40px; width:100%;background:#000000; }
.header a{ text-decoration:none; font-weight:bold; border-bottom:2px solid #000000; color:#FFFFFF; display:block; float:left; height:40px; line-height:40px; width:33%; float:left; text-align:center;}
.header .focus{border-bottom:2px solid #00CC66; color:#00CC66; width:34%;}
.filler{ height:56px; width:100%;}

.page .content{width:100%; height:100%; }





#logo{ margin:20px auto;width:80%;}
#loginForm .item{width:80%;margin:30px auto;}
#loginForm .item label{ color:#FFFFFF;}
#loginForm .item input{ width:100%;  height:32px; line-height:32px; overflow:hidden; padding:0px;}




.outlets{ display:block;line-height:30px; border-bottom:1px solid #CCCCCC; padding:10px; text-decoration:none;}
.outlets .name,.outlets .addr{ margin-left:10px; color:#000000;}
.outlets .name{ font-weight:bold;font-size:20px;}
.area{ padding:10px 0px; width:100%; border-bottom:1px solid #999999;}
.area a{ display:block; padding:0px 15px; line-height:28px; border:1px solid #dddddd; background:#FFFFFF; color:#999999; margin:5px; float:left; text-decoration:none;}
.area .focus{ background:#FFFFCC; color:#FF0000; border:1px solid #FFCC33;}



.orderitem{margin:10px; margin-top:25px;}
.orderitem ul,.orderitem li{ margin:0px; padding:0px; list-style:none;}
.orderitem ul{border:solid #CCCCCC; border-width:0px 0px 1px 0px; background:#FFFFFF;}
.orderitem li{ color:#000000; border:solid #CCCCCC; border-width:1px 1px 0px 1px; height:40px; line-height:40px; text-indent:10px; overflow:hidden;}
.orderitem li span{ float:right; margin-right:10px;}



.account{margin:10px; margin-top:25px;}
.account ul,.account li{ margin:0px; padding:0px; list-style:none;}
.account ul{border:solid #CCCCCC; border-width:0px 0px 1px 0px; background:#FFFFFF;}
.account li{ color:#000000; border:solid #CCCCCC; border-width:1px 1px 0px 1px; height:40px; line-height:40px; text-indent:10px; overflow:hidden;}
.account li span{ float:right; margin-right:10px;}



.caritem{margin:10px;}
.caritem ul,.caritem li{ margin:0px; padding:0px; list-style:none;}
.caritem li{ color:#000000; border:1px solid #CCCCCC;background:#FFFFFF; padding:10px 0px;}
.caritem li a{ display:block; text-decoration:none; width:100%; overflow:hidden;}
.caritem li .thumb img{ width:90%; border:0px;}
.caritem li .description strong,.caritem li .description small{ display:block; text-align:left;}


.preview{ position:relative; width:90%; overflow:hidden; margin:10px auto; border:1px solid #CCCCCC;}
.previewpic{width:100%;}
.preview i{ position:absolute; left:0px; top:0px; width:32px; height:32px;}
.preview i img{ width:32px; height:32px;}
.description{ text-align:center; width:90%; overflow:hidden; margin:5px auto;}
#use-detail{font-size:12px;}
.description .params{font-weight:bold;font-size:18px;}



