body,html{padding:0px;margin:0px;height:100%;overflow:hidden; background:#f2f2f2;}
.body{position:absolute;top:0px;left:0px;bottom:0px;right:0px;}

.background{background:#1f6cae;color:#ffffff;}

.chat-dragmask{cursor:pointer;display:none;position:fixed;z-index:999999999999999;bottom:0px;left:0px; width:100%; height:100%;background:#000000;filter:alpha(opacity=1);opacity: 0.01;}

.mask{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2;background:#ffffff; color:#000000; filter:alpha(opacity=88);-moz-opacity:0.88;opacity:0.88;}
.mask1{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2;background:#ffffff; color:#000000; filter:alpha(opacity=94);-moz-opacity:0.94;opacity:0.94;}
.bask{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:1;background:transparent;}
.foreground{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:3;color:#000000;}
.line{ position:static; height:1px; overflow:hidden;}
.opacity-1{filter:alpha(opacity=10);-moz-opacity:0.10;opacity:0.10;}
.opacity-2{filter:alpha(opacity=20);-moz-opacity:0.20;opacity:0.20;}
.opacity-3{filter:alpha(opacity=30);-moz-opacity:0.30;opacity:0.30;}
.opacity-4{filter:alpha(opacity=40);-moz-opacity:0.40;opacity:0.40;}
.opacity-5{filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.50;}
.opacity-6{filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}
.opacity-7{filter:alpha(opacity=70);-moz-opacity:0.70;opacity:0.70;}
.opacity-8{filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;}
.opacity-9{filter:alpha(opacity=90);-moz-opacity:0.90;opacity:0.90;}

.no-data{ color:#666666; text-align:center; width:100%; padding-top:60px; font-size:12px;}

.chat-navigation{position:absolute;z-index:8;top:0px;left:0px;width:230px;height:100%;overflow:hidden;box-shadow: 0px 0px 3px #bbbbbb;}
.chat-navigation .chat-nav-head{position:absolute;top:0px;left:0px;width:100%; height:110px;}
.chat-navigation .chat-user-info{ height:80px;}
.chat-navigation .chat-user-info .hd{width:80px; float:left;}
.chat-navigation .chat-user-info .hd img{ width:60px; height:60px; margin:10px; border:1px solid #ffffff;}
.chat-navigation .chat-user-info .inf{ margin-left:80px; padding:10px 0px; line-height:20px; font-size:12px;}
.chat-navigation .chat-user-info .inf .name{ font-weight:bold;}
.chat-navigation .chat-user-info .inf .explain{ height:20px; overflow:hidden;}
.chat-navigation .chat-user-info .inf .opt{ padding-right:5px;}
.chat-navigation .chat-user-info .inf .opt .btn{ line-height:16px; display:block; height:16px; float:right;color:#FFFFFF; margin:5px; text-decoration:none;}
.chat-navigation .chat-user-info .inf .opt .btn span{ padding:0px 3px;}
.chat-navigation .chat-user-info .inf .opt .btn i{background-color:transparent; background-position:left; background-repeat:no-repeat; border:0px;  height:16px; width:16px; float:left;}
.chat-navigation .chat-user-info .inf .opt .styl i{ background-image:url(images/styl.png);}
.chat-navigation .chat-user-info .inf .opt .msgs i{ background-image:url(images/msgs.png);}
.chat-navigation .stylePanel{ display:none; position:absolute; z-index:20; padding:5px 0px; width:100%; left:0px; top:80px; max-height:50%; overflow:hidden; overflow-y:auto;}
.chat-navigation .stylePanel .box{ margin:0px 5px;}
.chat-navigation .stylePanel .box a{ display:block; width:20px; height:20px; float:right;}
.chat-navigation .chat-search{ height:32px;position:relative;left:0px;}
.chat-navigation .chat-search #search{position:absolute;z-index:2;left:0px;width:100%; height:28px; line-height:28px; outline:none; color:inherit; text-indent:10px; padding:0px; margin:0px; border:0px; float:left; background:transparent;color:#ffffff;}
.chat-navigation .chat-search .bg{position:absolute;z-index:1;height:100%;width:100%;background:#000000;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.chat-navigation .chat-nav-body{position:absolute;top:110px;left:0px; bottom:0px;width:100%;}
.chat-navigation .search-list{position:absolute; z-index:12; display:none; bottom:0px; top:110px; width:100%; left:0px;}
.chat-navigation .search-list .closer{ display:block; font-size:12px; width:20px; height:20px; line-height:20px; text-align:center; text-decoration:none; position:absolute; top:-27px; right:5px; color:#FFFFFF;}
.chat-navigation .chat-nav-tab{height:36px; width:100%;}
.chat-navigation .chat-nav-tab td{position:relative; overflow:visible;cursor:pointer;list-style:none; font-size:12px; line-height:36px;text-align:center;}
.chat-navigation .chat-nav-tab td label{ display:block; position:absolute; width:100%; height:36px; top:0px; left:0px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.chat-navigation .chat-nav-tab td .background{ display:none;}
.chat-navigation .chat-nav-tab .on{}
.chat-navigation .chat-nav-tab .on .background{position:absolute; display:block; height:2px; top:34px; width:100%; left:0px;}
.chat-navigation .chat-nav-cnt{position:absolute;moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;
user-select:none; display:none; width:100%; left:0px; bottom:0px; top:37px; overflow-x:hidden;overflow-y:auto;}
.chat-navigation .chat-user-info{ height:80px;}
.chat-navigation .chat-item{ height:55px; position:relative;}
.chat-navigation .chat-item .hd{width:50px; float:left;}
.chat-navigation .chat-item .hd img{ width:40px; height:40px; margin:6px 8px; border:1px solid #ffffff;}
.chat-navigation .chat-item .inf{ margin-left:60px; padding:5px 0px; line-height:24px; font-size:12px; cursor:default;}
.chat-navigation .chat-item .inf .name{ font-size:14px;cursor:default;}
.chat-navigation .chat-item .inf .explain{ height:20px; color:#999999; overflow:hidden;cursor:default;}
.chat-navigation .chat-item-on{ background-color:#fceaa1; border-color:#e8d691;}
.chat-navigation .chat-item:hover{ background-color:#fcf0c1; border-color:transparent;}
.chat-navigation .chat-item .line{ position:absolute; top:100%; left:0px; width:100%;}
.chat-navigation .classify{ margin:0px; padding:0px;}
.chat-navigation .classify dd{ margin:0px; padding:0px; display:none;}
.chat-navigation .classify dt{ margin:0px; padding:0px; height:28px; line-height:28px; font-size:12px; cursor:default;}
.chat-navigation .classify dt i{ display:inline-block; width:0px; height:0px; margin:0px 10px;border: 5px solid transparent;border-left: 5px solid #000000;}
.chat-navigation .classify-on dt i{border: 5px solid transparent;border-top: 5px solid #000000;}
.chat-navigation .classify-on dd{ display:block;}

.chat-switcher{position:absolute;z-index:1;top:0px;left:230px;width:8px;height:100%;overflow:hidden;cursor:w-resize;}

.chat-frame{position:absolute;z-index:5;top:0px;left:230px;right:0px;height:100%;overflow:hidden;box-shadow: 0px 0px 3px #bbbbbb;}




.chat-dialog{position:absolute;top:0px;left:0px;bottom:0px;right:0px;box-shadow: 0px 0px 8px #bbbbbb;}

/********************************************ҳü��ʼ**********************************************/
.chat-header{position:absolute;z-index:5;top:0px;left:0px;right:0px;height:60px;overflow:hidden;}
.chat-header .hd{width:60px; float:left;}
.chat-header .hd img{ width:40px; height:40px; margin:10px; border:1px solid #ffffff;}
.chat-header .inf{ margin-left:60px; padding:10px 0px; line-height:20px; font-size:12px;}
.chat-header .inf .name{ font-weight:bold;}
.chat-header .inf .explain{ height:20px; overflow:hidden;}
/********************************************ҳü����**********************************************/

/********************************************����忪ʼ**************************************** box-shadow: 0px 0px 8px #bbbbbb; ******/
.chat-infor{position:absolute; display:block; overflow:hidden;z-index:4;top:0px;right:0px;bottom:0px;width:200px;overflow:hidden;}
.chat-infor .line{position:absolute; height:100%; width:1px; z-index:9;}
.chat-infor .cnt{position:absolute;display:block; overflow:hidden;z-index:4;top:0px;right:0px;width:100%;height:100%;overflow:hidden;}
.chat-infor .items{position:absolute;moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;
user-select:none;display:block; overflow:hidden;z-index:4;top:0px;right:0px;bottom:0px;width:100%;overflow:hidden; overflow-y:auto;}
.chat-infor .items .tit{ height:25px; line-height:25px; position:absolute; z-index:2; top:0px; left:0px; width:100%; text-indent:10px; font-size:12px;}
.chat-infor .items .titmask{ height:25px; position:absolute; z-index:1; top:0px; left:0px; width:100%;}
.chat-infor .items .scroll{position:absolute; z-index:2; top:25px; left:0px; width:100%; bottom:0px;}
.chat-infor .items .chat-item{ height:26px; position:relative;}
.chat-infor .items .chat-item .hd{float:left;}
.chat-infor .items .chat-item .hd img{ width:20px; height:20px; margin:2px 5px; margin-left:8px; border:1px solid #ffffff;}
.chat-infor .items .chat-item .inf{ padding:0px; float:left; line-height:24px; font-size:12px; cursor:default;}
.chat-infor .items .chat-item .inf .name{ font-size:14px;cursor:default;}
.chat-infor .items .chat-item .inf .explain{ display:none;}
.chat-infor .items .chat-item-on{ background-color:#fceaa1; border-color:#e8d691;}
.chat-infor .items .chat-item:hover{ background-color:#fcf0c1; border-color:transparent;}
.chat-infor .items .chat-item .line{ display:none;}
/********************************************������ڿ�ʼ**********************************************/

.chat-body{position:absolute;z-index:2;top:0px;left:0px;bottom:0px;right:0px;}
/********************************************���촰�ڿ�ʼ**********************************************/
.chat-scroll{overflow-y:auto;overflow-x:hidden;position:absolute;z-index:2;top:0px;left:0px;right:0px;bottom:150px;}
.chat-list{margin:10px 60px;overflow:visible;position:relative;}
.chat-list .item{font-size:14px;borer:1px solid;overflow:visible;position:relative;}
.chat-list .item .wrap{padding:5px;position:relative;}
.chat-list .item .head{width:48px;height:48px;position:absolute;left:-55px;top:7px;}
.chat-list .item .head img{width:48px;height:48px;}
.chat-list .item .flt{}
.chat-list .item .flt .inf{margin:0px 5px;font-size:12px;color:.666666;line-height:20px;}
.chat-list .item .flt .inf .name{float:left;}
.chat-list .item .flt .inf .time{float:left;margin:0px 10px;}
.chat-list .item .flt .cnt{position:relative;}
.chat-list .item .flt .cnt .arr{position:absolute;z-index:1;top:10px;left:-6px;width: 0;height: 0;border-top: 6px solid transparent;border-right: 6px solid #ffffff;border-bottom: 6px solid transparent;filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;}
.chat-list .item .flt .cnt .msg{position:relative; z-index:2;padding:8px 12px;line-height:24px; font-size:13px;margin:2px;background:transparent;border-radius:10px;border:0px solid #d0d0d0;word-break:break-all;}
.chat-list .item .flt .cnt .mask{ background:#ffffff;position:absolute; z-index:1; top:0px; left:0px; width:100%; height:100%;border-radius:10px;filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;}
.chat-list .item .flt .cnt .msg a{color:blue;}
.chat-list .item .flt .cnt .msg .qq{overflow:hidden;line-height:88px;}
.chat-list .item .flt .cnt .msg .emoji{overflow:hidden;line-height:88px;}
.chat-list .item .flt .cnt .msg img{max-width:100%;}
.chat-list .item .clear{clear:both;}

.chat-list .self .head{left:auto;right:-45px;top:7px;width:40px;height:40px;}
.chat-list .self .head img{}
.chat-list .self .flt .inf{text-align:right;}
.chat-list .self .flt .inf .name{float:right;}
.chat-list .self .flt .inf .time{float:right;}
.chat-list .self .flt .cnt .msg{background:#a0e75a;border-color:#a0e75a;float:right;}
.chat-list .self .flt .cnt .arr{left:auto;right:-4px;border-right: 0px solid transparent;border-left: 6px solid #a0e75a;border-bottom: 6px solid transparent;}

.chat-list .item .tip{background:#bbbbbb;padding:3px 8px;color:#ffffff;border-radius:5px;}

.chat-body .chat-separator{position:absolute; cursor:n-resize;filter:alpha(opacity=1);-moz-opacity:0.01;opacity:0.01;height:5px; left:0px; width:100%; bottom:150px; background:#ff0000; z-index:12;}

.chat-input{background:transparent;position:absolute;z-index:2;left:0px;right:0px;bottom:0px;height:150px;}
.chat-input-on{background:#ffffff;}
.chat-input .toolbar{height:32px; overflow:hidden;}
.chat-input .toolbar .btn{position:relative;display:block;height:32px;width:40px;float:left;}
.chat-input .toolbar .btn:hover{background:#dddddd;}
.chat-input .toolbar .btn img{width:24px;height:24px;border:0px;position:absolute;top:4px;left:8px;}
.chat-input .toolbar .tupian img{z-index:2;}
.chat-input .toolbar .tupian input{display:block;position:absolute;width:24px;height:24px;top:4px;left:8px;z-index:555;opacity:0.01;filter:alpha(opacity=1);}
.chat-input .input{position:absolute;top:32px;bottom:40px;left:5px;right:5px;}
.chat-input .input .chat-content{font-size:12px; line-height:20px;outline:none;padding:0px;border:0px solid #dddddd;display:block;float:left;width:100%;height:100%;overflow-y:auto;overflow-x:hidden;background:transparent;}
.chat-input .input .chat-content .emoji{overflow:hidden;line-height:88px; margin:2px;}
.chat-input .options{position:absolute;height:32px;bottom:0px;width:100%;left:5px;right:5px;}
.chat-input .options .button{float:right;margin-right:10px;width:88px;height:28px;border:0px;}
.chat-input .options .send{margin-right:30px;}
/********************************************���촰�ڽ���**********************************************/


.EmojiPanel{display:none;position:absolute;z-index:9;width:100%;bottom:30%;background:#f2f2f2;max-height:70%;border-top:1px solid #e2e2e2;overflow-y:auto;}
.EmojiPanel .box{padding:10px;}
.EmojiPanel .box a{ margin:3px; cursor:pointer;}
/*
.EmojiPanel .box a{width:30px;height:30px;display:block;float:left;}
.qqPanel .box a{background:url(emojis/qq/all.png);}
.emojiPanel .box a{background:url(emojis/emoji/emojiPanel.png);}
*/

