body,html{padding:0px;margin:0px;height:100%;}

body{ background-color:#db0300;}

#bd{ position:relative; width:100%;overflow:hidden;}
.layout{position:relative; z-index:99; width:100%; overflow:hidden; margin:0px auto; padding-bottom:50px;}
.module{ width:1000px; margin:0px auto;}


.flash{ background:url(assets/bg.png) center; position:absolute; z-index:1; width:100%; height:1250px; top:755px;}


.poster{ height:600px; width:1000px; overflow:visible; position:relative;z-index:0;}

.cooperate{position:relative;}

.signin span{color:#ffffff;font-family:"Microsoft YaHei";font-size:32px;font-weight:bold;}

.countdown{}
.countdown .title{ height:100px; margin-top:80px;position:relative;z-index:1; }
.countdown .title .caption{ position:relative; z-index:9; height:70px; background:url(assets/rem.png) center -1000px no-repeat;}
.countdown .title .wait{ background-position:center -70px;}
.countdown .title .run{ background-position:center 0px;}
.countdown .title .end{ background-position:center -140px;}
.countdown .title .dd,.countdown .title .qq{position:absolute;z-index:1;}
.countdown .title img{width:100%; height:100%;}
.countdown .title .dd{ width:252px; height:245px; left:-11px;top: -58px;}
.countdown .title .qq{ width:265px; height:280px; left:744px;top: -16px;}
.countdown .content{ margin-top:30px; position:relative; z-index:2;}
.countdown .content .couplet{ position:relative; width:176px; height:176px; background:url(assets/couplet.png); color:#ffffff;}
.countdown .content .couplet .number{ width:100%; height:100%; line-height:156px; font-size:40px; font-family:impact; font-weight:bold;}
.countdown .content .couplet .unit{ width:43px; height:20px; position:absolute; left:67px; top:100px; font-size:18px;font-family:"Microsoft YaHei"; font-weight:bold;}


.package{ margin-top:100px; height:350px; overflow:visible;}
.package .tab-content{ width:670px; height:350px;overflow:visible;float:left;}
.package .tab-content .cnt{ position:relative; overflow:visible;}
.package .tab-content .cnt .title{ position:absolute; width:1000px; height:100px; line-height:100px; text-align:center; top:-100px; left:0px; color:#ffcc00;font-size:32px;font-family:"Microsoft YaHei"; font-weight:bold;}
.package .tab-content .cnt .info-box .meta{ width:270px; float:left;}
.package .tab-content .cnt .info-box .meta .item-price{
	 height:80px; text-align:center; width:320px; margin-left:-50px; background:url(assets/jt.png) left center no-repeat;
	 font-size:36px;font-family:impact; color:#FF0000;
}
.package .tab-content .cnt .info-box .meta .item-price b{font-family:"Microsoft YaHei"; font-weight:bold;}
.package .tab-content .cnt .info-box .meta .item-price strong{font-weight:bold;font-size:20px; color:#000000;}
.package .tab-content .cnt .info-box .meta .item-prices{ padding:0px; margin:0px; height:60px;background:#aa0000; padding:10px 0px;}
.package .tab-content .cnt .info-box .meta .item-prices dt,
.package .tab-content .cnt .info-box .meta .item-prices dd{
	padding:0px; margin:0px; width:33.33%; float:left; text-align:center; height:30px; line-height:30px;
	color:#CC9900;font-family:"Microsoft YaHei"; 
}
.package .tab-content .cnt .info-box .meta .item-buy{ margin-top:10px;}
.package .tab-content .cnt .info-box .picitem{ width:400px; height:350px; float:right; overflow:hidden; background:#ffcc00;}
.package .tab-content .cnt .info-box .picitem .picbox{ width:390px; height:340px; margin:5px; overflow:hidden;background-color:#ffffff;}
.package .tab-content .cnt .info-box .picitem .picbox img{ width:390px; height:390px; border:0px;}
.package .tab-nav{ margin:0px; padding:0px; width:320px; height:350px; float:right;}
.package .tab-nav li{ cursor:pointer; border:2px solid #ffcc00;background-color:#db0300; height:106px; margin-bottom:10px; list-style:none;}
.package .tab-nav li .box{ margin:10px; height:86px;}
.package .tab-nav li .box .pic{ width:90px; height:86px; float:left; border:1px solid #ffcc00; background:#ffcc00;}
.package .tab-nav li .box .pic img{ width:100%; height:100%; border:0px;}
.package .tab-nav li .box .info{ margin-left:100px;}
.package .tab-nav li .box .tit{ height:55px;}
.package .tab-nav li .box .tit a{color:#ffcc00;font-size:14px;font-weight:bold;font-family:"Microsoft YaHei"; text-decoration:none;}
.package .tab-nav li .box .opt .price{font-size:24px; font-family:impact; font-weight:bold; float:left; color:#ffcc00;}
.package .tab-nav li .box .opt .price font{ font-weight:bold;font-family:"Microsoft YaHei";}
.package .tab-nav li .box .opt .btn{ float:right; margin:5px;}
.package .tab-nav .active{border:2px solid #ffcc00; background:#FFFFFF;}
.package .tab-nav .active .box .tit a{ color:#db0300;}
.package .tab-nav .active .box .opt .price{color:#db0300;}
.package .tab-nav .active .box .pic{border:1px solid #db0300; background:#db0300;}


.profile{ margin-top:50px;}
.profile .title{
	height:180px; background:url(assets/detail.png) center no-repeat;
}
.profile .content{
	background:#FFFFFF;
}
.profile .content .article{
	margin:0px 50px; padding:50px 0; line-height:30px;
}


.dialog{ display:none; position:fixed; width:100%; height:100%; top:0px; left:0px; z-index:9999999;}
.dialog .mask{position:absolute;z-index:1; background:#330000;filter:alpha(opacity=50);opacity:0.5;width:100%; height:100%; top:0px; left:0px;}
.dialog .popup{position:relative;z-index:2;width:100%;height:100%;}
.dialog .popup .body{padding:30px;position:relative;width:720px; height:400px; background:#ffffff;}
.dialog .popup .body .close{display:block;cursor:pointer;position:absolute;width:50px;height:50px;top:20px; right:20px;background:url(../../images/activity/adclose.png) center top no-repeat;z-index:999999999;}
.dialog .popup .body .content{height:100%;}
.dialog .popup .body .content .message{font-weight:bold;font-family:"Microsoft YaHei";font-size:20px;color:#db0300;}
.dialog .popup .body .content button{
	width:165px;height:52px;line-height:50px;border:0px;background:url(assets/bt.png);margin:10px;
	font-weight:bold;font-family:"Microsoft YaHei";font-size:24px;color:#db0300;cursor:pointer;
}
.dialog .popup .body .content .graybutton{background:url(assets/graybutton.png);color:#333333;}
.dialog .popup .body .content .info{
	font-family:"Microsoft YaHei";font-size:20px;color:#db0300;line-height:40px;
}
.dialog .popup .body .content .small{font-size:12px;}