.content.bar-content{padding-top: 10px;}
.content > .table-view:first-child,
.content > .input-group:first-child {
	margin-top: 8px;
}
.btn-ccclubs-reserve {
	color: #fff;
	background-color: #31B1DE;
	letter-spacing: .3rem;
}
.mt15{margin-top: 15px;}
.p15{padding: 15px;}
.tips-color{color: #59A5DE;
  font-weight: bold;
  font-size: inherit;}
.info-color{color: #F45665;}
.icon-alipay{
	width: 36px;
	height: 36px;
	background-image: url(../img/icons/icon_recharge_alipy_1.png);
	background-size: cover;
}
/**
 * index reserve
 */
.icon-index-city,
.icon-index-location,
.icon-index-start,
.icon-index-finish,
.icon-index-model,
.icon-reserve-location,
.icon-reserve-location-small {
	width: 21px;
	height: 21px;
	background-size: contain;
}
.icon-index-city {
	background-image: url(../img/icons/icon_03.png);
}
.icon-index-location,
.icon-reserve-location,
.icon-reserve-location-small {
	background-image: url(../img/icons/icon_06.png);
}
.icon-index-start {
	background-image: url(../img/icons/icon_08.png);
}
.icon-index-finish {
	background-image: url(../img/icons/icon_10.png);
}
.icon-index-model {
	background-image: url(../img/icons/icon_12.png);
}
.icon-reserve-location {
	width: 24px;
	height: 24px;
	display: inline-block;
}
.icon-reserve-location-small {
	width: 18px;
	height: 18px;
	margin-top: 4px;
}
.btn-index-reserve {
	color: #fff;
	background-color: #34a0c7;
	border: 1px solid #34a0c7;
}
.btn-index-reserve:active,
.btn-index-reserve.active {
	color: #fff;
	background-color: #3399ff;
	border: 1px solid #3399ff;
}
.wrap-index-reserve {
	padding: 20px 10px 0;
}
#ccc-location input {
	border: 0;
	font-size: 1.5rem;
	padding: 10px 0;
	background: #fff;
	width: 40%;
	text-align: start;
}
#ccc-location-area input {
	border: 0;
	font-size: 1.5rem;
	background: #fff !;
	text-align: start;
}
#reserve-location .input-row label {
	width: 20%;
}
#reserve-location .input-row input {
	width: 80%;
}
#iCenter {
	display: none;
}
/* address list */

.addr-lst {
	width: 100%;
	font-size: 1.6rem;
	position: relative;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	margin: -15px 0 0 0;
	background: #FFFFFF;
}
.addr_lst:hover {
	background: #eee
}
.addr-lst li {
	list-style: none;
	width: 93.333333%;
	padding: 8px 3.333333%;
	overflow: hidden;
	border-bottom: 1px solid #b9b9b9;
	background: #fff
}
.addr-lst li:last-child {
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	cursor: pointer
}
.addr-lst li span {
	color: #989898;
	margin-left: 10px;
	font-size: 1.2rem;
}
/* reserve */

.table-view.reserve {
	background: #EAEBEB;
	border: 0;
}
.table-view.reserve .table-view-cell {
	background: #FFFFFF;
	padding: 11px 30px 51px 15px;
	margin-bottom: 10px;
	border: 0;
	position: relative;
}
.table-view.reserve .table-view-cell a {
	margin: -11px -30px -51px -15px;
}
/* reserve-panel */

.reserve-panel {
}
.reserve-panel .reserve-des {
	margin-bottom: 12px;
}
.reserve-panel .reserve-img{
    position: relative;
}
.reserve-panel .reserve-img span {
	background: rgba(0, 0, 0, 0.6);
	background: transparent\9\0;
	color: #FFF;
	text-align: center;
	letter-spacing: 1px;
	position: absolute;
	left: 0;
	bottom: 0.58rem;;
	display: block;
	width:inherit;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	opacity: 1; 
	filter: alpha(opacity=0);
}
.reserve-panel .reserve-des i.ad {
	background: url(../img/icons/xuan-icon_03.png) no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 3px;
	left: 3px;
}
.reserve-panel .outlet-name {
	width: 10em;
	margin-left: -8px;
	font-size: 1.4rem;
	color: #777d7f;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.reserve-panel .car-distance {
	position: absolute;
	right: 35px;
	font-size: 1.2rem;
	font-weight: 400;
	color: #31b1de;
	overflow: hidden;
}
.reserve-panel .car-number,
.reserve-panel .car-model {
	font-size: 1.6rem;
	font-weight: 600;
	overflow: hidden;
}
.reserve-panel .car-price {
	font-size: 1.2rem;
	font-weight: 400;
	color: #f35665;
	overflow: hidden;
}
.reserve-panel .car-model {
	padding-left: 10px;
	border-left: 2px solid #31b1de;
}
.reserve-timebar {
	clear: both;
	width: 100%;
	height: 30px;
	clear: both;
	padding-right: 30px;
	position: absolute;
	bottom: 8px;
	z-index: 9;
}
.reserve-timebar .reserve-timebar-content {
	width: 100%;
	position: relative;
}
.reserve-timebar-content .reserve-timebar-bg,
.reserve-timebar-content .reserve-restricted-block,
.reserve-timebar-content .reserve-time-block {
	background-color: #D8DADB;
	height: 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
}
.reserve-timebar-content .reserve-timebar-bg {
	width: 100%;
}
.reserve-timebar-content .reserve-restricted-block {
	background-color: #31B1DD;
}
.reserve-timebar-content .reserve-time-block {
	background-color: #F35565;
}
.reserve-timebar-content .reserve-current-block {
	background-color: #42CCBF;
	height: 19px;
	position: absolute;
	top: -5px;
	opacity: .6;
}
.reserve-timebar-content .reserve-timebar-des {
	width: 100%;
	position: absolute;
	top: 16px;
}
.reserve-timebar-content .reserve-timebar-des .reserve-timebar-mask {
	position: absolute;
	font-size: 0.9rem;
}
.reserve-timebar-content .reserve-timebar-des .reserve-timebar-mask.h0 {
	left: 0;
}
.reserve-timebar-content .reserve-timebar-des .reserve-timebar-mask.h3 {
	left: 12.5%;
}
.reserve-timebar-content .reserve-timebar-mask.h6 {
	left: 25%;
}
.reserve-timebar-content .reserve-timebar-mask.h9 {
	left: 37.5%;
}
.reserve-timebar-content .reserve-timebar-mask.h12 {
	left: 50%;
}
.reserve-timebar-content .reserve-timebar-mask.h15 {
	left: 62.5%;
}
.reserve-timebar-content .reserve-timebar-mask.h18 {
	left: 75%;
}
.reserve-timebar-content .reserve-timebar-mask.h21 {
	left: 87.5%;
}
.reserve-timebar-content .reserve-timebar-mask.h24 {
	right: -3%;
}
/* reserve-calendar */

.panel.calendar,
.panel.checkout {
	position: relative;
}
.panel.checkout .panel-header {
	background-color: #FFFFFF;
	color: #3D4649;
	border-bottom: 1px solid #DDDDDD;
}
.panel.checkout .panel-content {
	height: 175px;
	padding:10px;
}
.panel.checkout .table-modal-view {
	margin-bottom: 0;
}
.panel.calendar .panel-header,
.panel.checkout .panel-header {
	text-align: center;
}

.panel .panel-timebar {
	border-bottom: 1px solid #DDDDDD;
	height:65px;
}

.panel .panel-split {
    cursor: pointer;
	height:25px;
	background: url('../img/bg/panel_split_bg.png') center center no-repeat;
}  
.panel.checkout .reserve-timebar {
	top: 70px;
    padding: 0 15px;
}

.panel.calendar .calendar-left,
.panel.checkout .checkout-left {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 17px;
	height: 20px;
	background: url(../img/icons/allicon_left.png) center center no-repeat;
}
.panel.checkout .checkout-left {
	width:17px;
	height:20px;
	background: url(../img/icons/allicon_left.png) center center no-repeat;
	background-size:contain;
}
.panel.calendar .calendar-right,
.panel.checkout .checkout-right {
	position: absolute;
	top: 10px;
	right: 15px;
	width: 17px;
	height: 20px;
	background: url(../img/icons/allicon_right.png) center center no-repeat;
}
 .order-reoright {
	position: absolute;
	top: 10px;
	right: 15px;
	width: 25px !important;
	height: 20px;
	background: url(../img/icons/Details-allicon_05.png) center center no-repeat !important;
}
.order-reoleft {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 25px !important;
	height: 20px;
	background: url(../img/icons/Details-allicon_03.png) center center no-repeat !important;
}
.panel.checkout .checkout-right {
	width:17px;
	height:20px;
	background: url(../img/icons/allicon_right.png) center center no-repeat;
	background-size:contain;
}
.panel.calendar .calendar-right.active {
	background: url(../img/icons/allicon_right.png) center center no-repeat;
}
.panel.calendar .calendar-left.active {
	background: url(../img/icons/allicon_left.png) center center no-repeat;
}
.panel .order-empty,
.panel .order-full {
	width: 100%;
	height: 152px;
	text-align: center;
	padding-top: 135px;
	background: url(../img/icons/list-prompt_03.png?v=12) 50% 0% no-repeat;
}
.panel .order-full {
	background-image: url(../img/icons/list-prompt_04.png?v=12);
}
.panel .tag-limited,
.panel .tag-usable {
	display: block;
	margin-left: 15px;
	width: 81px;
	height: 28px;
	background: url(../img/icons/icon_tag_limited.png) no-repeat;
	background-size: contain;
}
.panel .tag-text {
  position: absolute;
  font-size: 1.8rem;
  right: 15px;
  top: 12px;
}
.panel .tag-usable {
	background-image: url(../img/icons/icon_tag_usable.png);
}
/* description label */

.ccc-desc-label-wrap {
	margin: 4px 0 0;
	overflow: hidden;
}
.ccc-desc-label {
	width:47%;
	background: #fcfcfc;
	color: #2c2c2c;
	font-size: 1.1rem;
	line-height: 22px;
	padding: 0.1rem 0rem;
	margin: 0 3px 0 0;
	text-indent: 1px;
	text-align:center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.02);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
	display: block;
	float: left;
	position: relative;
}
.ccc-desc-label:hover {
	cursor: default;
}
.ccc-desc-label.black,
.ccc-desc-label.silver,
.ccc-desc-label.red,
.ccc-desc-label.yellow,
.ccc-desc-label.blue {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.ccc-desc-label.black {
	background: #1f1f1f;
}
.ccc-desc-label.white {
	background: #fff;
}
.ccc-desc-label.silver {
	background: #a5a7a9;
}
.ccc-desc-label.red {
	background: #f35665;
}
.ccc-desc-label.yellow {
	background: #f0c61d;
}
.ccc-desc-label.blue {
	background: #31b1de;
}
/* checkout椤甸潰閲岀▼璁¤垂 */
.miles-price-warp {
	width: 100%;
	min-height: 150px;
	padding: 15px 0;
	background-color: #FFFFFF;
	margin-bottom: 65px;
	overflow: hidden;
}
.miles-price-warp .miles-price-title {
	position: relative;
	width: 15%;
	min-height: 120px;
	padding: 70px 20px;
	border-right: 1px #CCCCCC solid;
}
.miles-price-warp .miles-price-title p {
	width: 1rem;
	position: absolute;
	top: 35%;
	left: 35%;
}
.miles-price-warp .miles-price-title.omega {
	border-right: 0;
}
.miles-price-warp .miles-price-content {
	width: 50%;
	min-height: 120px;
	line-height: 3rem;
	border-right: 1px #CCCCCC solid;
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
}

.ccc-checkcode{width:100%;margin-bottom:15px;padding-right: 15px;  background-color: #fff; overflow:hidden;}
.ccc-checkcode .ccc-code{ width:55%; float:left;border:0;}
.ccc-checkcode .ccc-resend {width:40%;float:right;padding:5px 0;}
.ccc-checkcode a{ text-decoration: none;color:#fff;text-align:center;display:block;background:#3498DB; border:none;height:40px;padding-top:10px;}
.ccc-checkcode a.off{ text-decoration: none;background:#ccc;color:#666;}

.badge.badge-inverted {
  padding: 0 5px 0 0;
  background-color: transparent;
}
.badge-primary {
  color: #fff;
  border-radius: 100px;
  background-color: #428bca;
}
.badge-primary.badge-inverted {
  color: #428bca;
}

.badge-positive {
  color: #fff;
  border-radius: 100px;
  background-color: #5cb85c;
}
.badge-positive.badge-inverted {
  color: #5cb85c;
}

.badge-negative {
  color: #fff;
  border-radius: 100px;
  background-color: #d9534f;
}
.badge-negative.badge-inverted {
  color: #d9534f;
}

.common-des{
  list-style-type:none;counter-reset:sectioncounter;
  margin: 0;
  padding: 15px;
  line-height: 1.5;
  background-color: #fff;
}

.common-des li{
  padding:5px 0;
}

.common-des li:before {  
    content:counter(sectioncounter) "銆�;   
    counter-increment:sectioncounter;  
 }  
 
 .common-des li{
  padding:5px 0;
}
.common-des.non-style{
  list-style:none
}
.common-des.non-style li:before {  
    content:"";  
}  

/* list-item */
.list-item{
  padding:0 15px;
  margin-bottom:15px;
}
.list-item-head{
  height: 50px; background-color: #ABB2B9; padding: 5px; padding-top: 11px;font-size: 1.6rem; color: #fff;
}

.list-item-head.active{
  background-color: #F45665;
}

.list-item-head.using{
  background-color: #31B1DE;
}

.list-item-content{
  background-color: #fff;font-size: 1.6rem; color: #333;
}

.list-item-content .car-type{
  font-size: 1.6rem;
  font-weight: 500;
}

.list-item-content .violat-des{
  font-size: 1.2rem;
  color:#9BA2A9;
}
/* home bar */
.content.bar-home-content {
	padding-top: 21rem;
}

.bar-home{
	height: 20rem;
}

.bar-home .bar-title{
  padding: 25px 15px 0px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.bar-home .bar-content{
  width: 100%;
  font-size: 8rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -50%;
}

.bar-home .bar-span{
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  position: absolute;
  bottom: -10px;
  right: 35px;
}

.bar-recharge{
  background-color:#389ADB;
}

.bar-recharge .tab-item{
   color: #fff;
   font-size: 1.6rem;
}

.tab-item.split{
   background: url(../img/bg/bar_nav_split_bg.png) no-repeat;
}

.num-control button{
    background: url(../img/icons/icons_num_control_bg.png) no-repeat;
	width: 30px;
	height: 30px;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.num-control button#purNumPlus{
    background-position: -40px 0;
}

.num-control input{
    background: #fff;
	width: 60px;
	height: 30px;
	text-align: center;
	border: 1px solid #ddd;
	margin:0 10px;
	border-radius: 0;
	display: inline-block;
}
.num-control input:hover {
	border-color: #ccc;
}
.num-control input:focus {
	border: 1px solid #2ca249;
	border-right-color: #95ca64;
	border-bottom-color: #70be54;
	-webkit-box-shadow: 0 0 4px -1px #70be54;
	-moz-box-shadow: 0 0 4px -1px #70be54;
	box-shadow: 0 0 4px -1px #70be54;
}
/* reorder min & hour */
.icon-reserve-20m,.icon-reserve-20m.active,
.icon-reserve-40m,.icon-reserve-40m.active,
.icon-reserve-1h,.icon-reserve-1h.active,
.icon-reserve-3h,.icon-reserve-3h.active {
  width: 3rem;
  height: 3rem;
  background: url(../img/icons/icons_hour_min.png) no-repeat;
  background-size: 7.5rem 14.2rem;
}
.icon-reserve-20m.active {
    background-position: -3.75rem  0;
}
.icon-reserve-40m{
    background-position: 0 -3.7rem;
}
.icon-reserve-40m.active{
    background-position:-3.75rem   -3.7rem; 
}
.icon-reserve-1h{
    background-position: 0 -7.42rem;
}
.icon-reserve-1h.active{
    background-position: -3.75rem   -7.42rem;
}
.icon-reserve-3h{
    background-position: 0 -11.1rem;
}
.icon-reserve-3h.active{
    background-position: -3.75rem  -11.1rem;
}
.home-header-bg{
background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa) !important; 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ef5c4d), color-stop(1, #e74c3c)) !important; 
}
.vertical-align-top{
	vertical-align: top !important;
	color:#d9534f  !important;
}
.common-des li{
	font-size: 1.2rem;
}
.coni-text-line{
	padding-bottom: 1rem;
}
.mysize18{
	font-size:1.7rem;
}
.freehours_padding{
	padding: 16px 65px 16px 15px;
	font-size:1.6rem;
}
.input_textright{
	text-align: right !important;
	display: inline-block;
	margin-bottom: 1px !important;
}
.bar-grade{
	font-size:3.5em !important;
	line-height: 11rem !important;
}
.grade{
	width:260px;
	height:45px;
	margin: 0 auto; 
}
.grade-ul li{
	width:45px;
	height:45px;
	display:inline-block;
	margin: 120px 8px 0;
	background-image: url("../img/icons/grade.png");
	background-size: contain;
}
.grade-ul-img{
	background-image: url("../img/icons/grades.png") !important;
}
.grade-bg{
	background-color: #fff;
}
.grade-list{
	width:100%;
}
.grade-list-ul li{
	width: 100%;
	border-bottom: solid 1px #d2d2d2;
}
.grade-list-ul li span{
	float: right;
	color: #07b506;
	padding:20px 15px 0 0px;
	font-size: 1.6rem;
}
.grade-list-ul li{
	float: left;
}
.grade-ul-left{
	width: 80%;
	display: inline-block;
	padding:12px 0 8px 18px;
}
.grade-ul-left h2{
	font-size: 1.4rem;
	font-weight: 600;
}
.grade-ul-left p{
	color: #868686;
}
.grade-more{
	width: 100%;
}
.grade-more p{
	text-align: center;
	line-height: 280%;
}
.grade-more p a{
	color: #000;
}







