/**/
#content{
    padding-bottom: 50px;
}

.home-banner {
	position: relative;
	height: 20rem;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3198DC), to(#174F75));
}

.home-banner .head-wrap {
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -7rem;
	width: 14rem;
	height: 14rem;
	border-radius: 50%;
	background-color: #5295C4;
}

.home-banner .head-exit {
  display: inline-block;
  width: 28px;
  height: 29px;
  position: absolute;
  right: 15px;
  top: 15px;
  background-image: url('../img/icons/icon_exit.png');
}


.home-banner .head-img-wrap {
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -6.5rem;
	width: 13rem;
	height: 13rem;
	border-radius: 50%;
	background-color: #fff;
}

.home-banner .head-img-wrap img{
    position: absolute;
	left: 50%;
	margin-left: -6.5rem;                
	width: 13rem;
	height: 13rem;
	border-radius: 50%;
}

.home-banner .head-text {
	position: absolute;
	text-align: center;
	color: #fff;
	width: 100%;
	bottom: 10px;
	font-size: 1.8rem;
}

.segmented-control{
    margin-bottom: 15px;
}
.segmented-control .control-item{
    border-left: 0;
}
.bar-tab {
	border-top: 0;
	background-color: #EDF2F7;
}
.bar-tab .tab-item {
	color: #B0B7BE;
	font-size: 1.6rem;
}

#product-list{
    margin-bottom: 8px;
    padding: 6px 0;
    background-color: #fff;
}
#product-list .tab-item{
    height:5rem;
    color:#3d4649;
}
#product-list .tab-item .icon{
  width: 3.5rem;
  height: 3.2rem;
  background-size: 18rem 2.8rem;
}
.icon-money,.icon-coupon,.icon-coin,.icon-freehours,.icon-integral{
   background: url(../img/icons/icons_home_bar.png) no-repeat;
}
.icon-money {
   background-position: 0.3rem 0.3rem;
}
.icon-coupon {
   background-position: -3.3rem 0.3rem;
}
.icon-coin {
     background-position: -7rem 0.3rem;
}
.icon-freehours {
   background-position: -14.2rem  0.3rem;
}
.icon-integral {
  background-position: -10.5rem  5px;
}
.nav-icon{
	width:3rem !important;
	height:3rem !important;;
	background-size:contain;
}
.nav-icon-plus{
	background-image:url("../img/icons/list-icon_17.png");
}
.nav-icon-share{
	background-image:url("../img/icons/list-hove_19.png");
}
.nav-icon-bars{
	background-image:url("../img/icons/list-hove_21.png");
}
.nav-icon-person{
	background-image:url("../img/icons/list-hove_23.png");
}
/***/
.focus-icon-plus{
	background-image:url("../img/icons/list-hove_17.png");
}
.focus-icon-share{
	background-image:url("../img/icons/list-icon_19.png");
}
.focus-icon-bars{
	background-image:url("../img/icons/list-icon_21.png");
}
.focus-icon-person{
	background-image:url("../img/icons/list-icon_23.png");
}
