
.ccc-switcher input {
  display: none;
}

.ccc-switcher label {
	background: url(../img/icons/switch.png) no-repeat;
	background-position: 0 0;
	width: 60px;
	height: 32px;
	display: block;
	cursor: pointer;
}

.ccc-switcher.on label {
	background-position: -69px 0;
}