@-webkit-keyframes kf-circle {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}
@-moz-keyframes kf-circle {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}
@-o-keyframes kf-circle {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}
@keyframes kf-circle {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}
.toast-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}
.toast-container.loading-toast:before {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer
}
.toast-container.loading-toast:before {
	background-image: url(img/icons/icons-loading.png);
	background-repeat: no-repeat;
	overflow: hidden;
	display: inline-block;
	height: 36px;
	width: 36px
}
.toast-container.loading-toast:before {
	-webkit-animation: kf-circle 1s linear infinite;
	-moz-animation: kf-circle 1s linear infinite;
	-o-animation: kf-circle 1s linear infinite;
	animation: kf-circle 1s linear infinite
}
.toast-container {
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	width: 220px;
	line-height: 140%;
	padding: 15px;
	text-align: center;
	word-wrap: break-word;
	display: block
}
.toast-container.loading-toast:before {
	content: '';
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px
}