/**/

.login-banner {
	width: 100%;
	text-align: center;
	margin-top:10%;
}
.login-banner img {
	width: 60%;
}
.login-box {
	width: 100%;
	padding: 0 30px;
	padding-top:5%;
	font-size: 1.4rem;
}
.login-box img {
	width: 10%;
	float: left;
	margin-right: 15px;
}
.login-name {
	margin-bottom: 15px;
	padding: 5px 10px;
	border-bottom: 1px solid #b1b1b1;
	width: 100%;
	overflow: hidden;
}
.login-pw {
	position: relative;
	border-bottom: 1px solid #b1b1b1;
	padding: 5px 10px;
	width: 100%;
	overflow: hidden;
}
.login-pw .login {
	margin-bottom: 0;
	color: #fff;
	border: none;
	background: url("../img/icons/icon_04.png") no-repeat left center;
	padding: 10px 15px 10px 58px;
	width: 90%;
	overflow: hidden;
}
.login-pw .badge {
	position: absolute;
	top: 16px;
	right: 10px;
	width: 31px;
	height: 21px;
	background: url(../img/icons/icon_05.png) center center no-repeat;
}
.login-name .login {
	margin-bottom: 0;
	color: #fff;
	border: none;
	background: url("../img/icons/icon_02.png") no-repeat left center;
	padding: 10px 15px 10px 58px;
	width: 100%;
	overflow: hidden;
}
.login-btn {
	padding: 40px 15% 0;
}
.login-btn button {
	background-color: #F3F3F4;
	border-radius: 3rem;;
}
#content .bar-tab {
	border-top: 0;
	background-color: #11A9CC;
}
#content .bar-tab .tab-item {
	color: #ffffff;
	font-size: 1.6rem;
}
.login-pw .setpwd,
.login-name .setpwd {
	border: none;
	padding: 10px 15px 10px 10px;
	width: 100%;
	overflow: hidden;
}
.login_bg_img{
	background-image: url("../img/bg/login_bg_img.png");
}
.btn-login {
	display: block;
	width: 100%;
	padding: 12px 0;
	font-size: 2rem;
	border-radius: 0.3rem;
	color:#183c55 !important;
}