.ccc-pic {
	width: 100%;
	height: 250px;
	padding: 15px;
	background-color: #fff;
}
.ccc-pic .ccc-pic-wrap {
	border: 2px solid #D5D8DC;
	height: 100%;
	width: 100%;
	position: relative;
	padding: 10px;
}
.ccc-pic .ccc-img-wrap {
    width: 100%;
    height: 100%;
	padding: 10px;
}
.ccc-pic .ccc-corner-lefttop,
.ccc-pic .ccc-corner-leftbottom,
.ccc-pic .ccc-corner-righttop,
.ccc-pic .ccc-corner-rightbottom {
	position: absolute;
	border: 2px solid #D5D8DC;
	width: 28px;
	height: 28px;
}
.ccc-pic .ccc-corner-lefttop {
	left: 10px;
	top: 10px;
	border-bottom: 0;
	border-right: 0;
}
.ccc-pic .ccc-corner-righttop {
	right:  10px; top: 10px;
	border-bottom: 0;
	border-left: 0;
}
.ccc-pic .ccc-corner-rightbottom {
	right: 10px; bottom:  10px;
	border-top: 0;
	border-left: 0;
}
.ccc-pic .ccc-corner-leftbottom {
	left: 10px; bottom: 10px;
	border-top: 0;
	border-right: 0;
}
.ccc-pic .ccc-img{
    display:block;
    width: 100%;
    height: 100%;
    background: url(../img/bg/bg_pic.png) center center no-repeat;
    background-size:contain ;
}