ul,li{ list-style: none;list-style-type:none;}
#datescroll div{float: left;margin-left: 10%;}
#yearwrapper{position: absolute;left: -10%;width:80%;height: 186px;}
#monthwrapper{position: absolute;left: 25%;width:80%;height: 186px;}
#daywrapper{position: absolute;left: 50%;width:80%;height: 186px;}
/*增加手指滑动触摸面积*/
#yearwrapper ul li{color: #898989;font-size: 1.8rem;}
#monthwrapper ul li{color: #898989;font-size: 1.8rem;}
#daywrapper ul li{color: #898989;font-size: 1.8rem;}
#datemark{width: 90%;height: 62px;position:absolute;top:118px;border: solid 1px #029CD0;border-left: 0; border-right: 0;}
#datescroll{width:100%;height: 188px;text-align: center;line-height: 62px;position: relative;overflow: hidden;}
#yearwrapper ul,#monthwrapper ul,#daywrapper ul{width:50%;}