.table-view {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 8px;
	list-style: none;
	background-color: #fff;
	/*border-top: 1px solid #ddd;*/
	border-bottom: 1px solid #ddd;
}
.table-view-icon{
	width:9px;
	height:15px;
	position:absolute;
	bottom:19px;
	right:18px;
	background-image: url(../img/icons/index_more.png);
	background-size:contain;
}
.table-view-cell {
	position: relative;
	padding: 13px 65px 13px 15px;
	overflow: hidden;
	border-bottom: 0px solid #ddd;
}
.table-view-cell-take {
	position: relative;
	padding: 5px 15px 5px 15px;
	overflow: hidden;
	border-bottom: 0px solid #ddd;
}
.table-view.padding-less .table-view-cell{
	padding-right: 15px;
}
.table-view.confirm .table-view-cell{
	border-bottom: 0;
}
.table-view .table-view-cell.top-dur,.table-view .table-view-cell.bottom-dur{
	height: 15px;
	padding-top: 0;
	padding-bottom: 0;
}
.table-view .table-view-cell.top-dur .media-body{
	height: 15px;
	border-bottom: 1px dashed #dddddd;;
}
.table-view .table-view-cell.bottom-dur .media-body{
	height: 15px;
	border-top: 1px dashed #dddddd;;
}
.table-view .table-view-cell.min-dur{
	height: 1px;
	padding-top: 0;
	padding-bottom: 0;
}
.table-view .table-view-cell.min-dur .media-body{
	height: 1px;
	border-bottom: 1px dashed #dddddd;;
}
.table-view-cell:last-child {
	border-bottom: 0;
}
.table-view-cell > a:not(.btn) {
	position: relative;
	display: block;
	padding: inherit;
	margin: -11px -65px -11px -15px;
	overflow: hidden;
	color: inherit;
}
.table-view.padding-less .table-view-cell > a:not(.btn){
	margin-right: -15px;
}
.table-view-cell > a:not(.btn):active {
	background-color: #eee;
}
.table-view-cell p {
	margin: 0;
	overflow: hidden;
}
.table-view-divider {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	margin-top: -1px;
	margin-left: 0;
	font-weight: 500;
	color: #999;
	background-color: #fafafa;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.table-view .media,
.table-view .media-body {
	overflow: hidden;
	color: #3d4649;
	line-height: 170%;
}
.table-view .media-object.pull-left {
	margin-right: 10px;
}
.table-view .media-object.pull-right {
	margin-left: 10px;
}
.table-view-cell > .btn,
.table-view-cell > .badge,
.table-view-cell > .toggle,
.table-view-cell > a > .btn,
.table-view-cell > a > .badge,
.table-view-cell > a > .toggle {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.table-view-cell .navigate-left > .btn,
.table-view-cell .navigate-left > .badge,
.table-view-cell .navigate-left > .toggle,
.table-view-cell .navigate-right > .btn,
.table-view-cell .navigate-right > .badge,
.table-view-cell .navigate-right > .toggle,
.table-view-cell .push-left > .btn,
.table-view-cell .push-left > .badge,
.table-view-cell .push-left > .toggle,
.table-view-cell .push-right > .btn,
.table-view-cell .push-right > .badge,
.table-view-cell .push-right > .toggle,
.table-view-cell > a .navigate-left > .btn,
.table-view-cell > a .navigate-left > .badge,
.table-view-cell > a .navigate-left > .toggle,
.table-view-cell > a .navigate-right > .btn,
.table-view-cell > a .navigate-right > .badge,
.table-view-cell > a .navigate-right > .toggle,
.table-view-cell > a .push-left > .btn,
.table-view-cell > a .push-left > .badge,
.table-view-cell > a .push-left > .toggle,
.table-view-cell > a .push-right > .btn,
.table-view-cell > a .push-right > .badge,
.table-view-cell > a .push-right > .toggle {
	right: 35px;
}

/*---*/

.table-modal-view {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	list-style: none;
	background-color: #fff;
}
.table-modal-view-cell {
	text-align: center;
	position: relative;
	padding: 16px 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.table-modal-view-cell:last-child {
	border-bottom: 0;
}
.table-modal-view-cell > a {
	margin: -11px 0;
	position: relative;
	display: block;
	padding: inherit;
	overflow: hidden;
	color: inherit;
}
.table-modal-view-cell.active {
	color: #f45665;
	border-bottom: 1px solid #f45665;
}
.table-modal-view-cell p {
	margin: 0;
}
/*---*/

.table-city-view-cell {
	text-align: center;
	position: relative;
	padding: 21px 0;
	overflow: hidden;
	
}
.table-city-view-cell:last-child {
	border-bottom: 0;
}
.table-city-view-cell > a {
	margin: -11px 0;
	position: relative;
	display: block;
	padding: inherit;
	overflow: hidden;
	color: inherit;
	border: 1px solid #ddd;
}
.table-city-view-cell a.active {
	color: #f45665;
}
.table-city-view-cell p {
	margin: 0;
}

.dl-list{
   padding: 5px;
}
.dl-list-dd{
   line-height: 2.0;
   overflow:hidden;
}
.dl-list-dd.split{
   border-bottom: 1px solid #ddd;
}
.panel-line {
	width:94%;
	margin:0 auto;
	border-bottom: 1px solid #DDDDDD;
}
.table_list_line{
	border-bottom: 1px solid #DDDDDD !important;
}
.account_list_line{
	border-bottom: 1px solid #ecf0f1 !important;
}
.account_table{
	height: 41px;
	padding: 3px 15px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.harder-title{
	width: 100%;
	line-height: 320%;
	border-bottom: solid 1px #ccc;

}
.harder-title p{
	text-align: center;
	font-size: 1.8rem;
	color: #999;
}
.chat{	
	width: 100%;
}
.chat-left{
	width: 90%;
	float: left;
}
.chat-left img{
	width: 15%;
	margin:15px;
	float: left;
}
.chat-left p{
	width: 70%;
	margin:15px 0 0 ;
	float: left;
	border: solid 1px #f6f6f6;
	border-radius:3px;
	padding: 0.8rem;
	font-size: 1.5rem;
	background:#fff;
}
.chat-right{
	width: 90%;
	float: right;
}
.chat-right img{
	width: 15%;
	margin:15px;
	float: right;
}
.chat-right p{
	width: 75%;
	margin:15px 0 0 ;
	float: left;
	border: solid 1px #f6f6f6;
	border-radius:3px;
	padding: 0.8rem;
	text-align: left;
	font-size: 1.5rem;
	background:#fff;
}
.chat-buttom{
	width: 100%;
	position:fixed;
	bottom:0;
	left:0;
	border-top: solid 1px #ccc;
	padding: 5px;
}
.buttom-btn{
	width: 15%;
	border: solid 1px #ccc;
	float: right;
	border-radius:5px;
	margin-top: 1px;
}
.buttom-btn p{
	padding: 10px 5px 10px 5px;
	text-align: center;
}
.buttom-textarea{
	width: 80%;
	float: left;
}
.buttom-textarea textarea{
	margin:0px;
	padding:0px;
	width: 100%;
	margin: 1px 8px 0;
}
.chat-bg{
	background:#f6f6f6;
}
.media-select{
	width: 50%;
	float: left;
	margin-left: 5%;
}
.media-select-dot{
	width: 30%;
	float: left;
	margin-left: 15%;
}
.select-dot{
	width:80%;
	margin-top:8px;
	right: 3% !important;
}
.take-car-switch{
	position:absolute;
	top:102px;
	left:20px;
	right:0;
	bottom: 0;
	color:#31B1DE;
	z-index: 222;
}
.areas{
	width: 90%;
	display: inline-block;
}
.area-select{
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}
.area-select-dot{
	width: 30%;
	display: inline-block;
	margin-left: 5%;
}
.clear{
	clear: both;
}
.take-left{
	width: 30%;
	float: left;
	padding-top: 25px;
}
.take-right{
	height:70px;
	width:70%;
	float: right;
}
.take-right-top{
}
.take-right a{
	color:#3d4649;
}
.take-text{
	display:block;
	text-align: right;
	padding-right:15px;
	color: #31B1DE !important;
}
.carlayer{
	position: absolute;
	overflow: hidden;
	text-align: center;
}
.arealayer_ul{
	width:23%;
	height: 186px;
}
.dotlayer_ul{
	width:77%;
	left:23%;
	height: 186px;
}
.area-not-car{
	position: fixed;
	top: 35%;
	width: 100%;
	z-index: 555;
}
.area-not-car p{
	text-align: center;
	font-size: 1.4rem;
}
.area-not-car-btn{
	width: 60%;
	background-color:#ccc;
	margin:30% 20% 0;
}
.area-not-car-btn p{
	color:#FFF;
	line-height: 300%;
	text-align: center;
	font-size: 1.6rem;
}