#stack {
	width: 50px;
	height: 50px;
	padding: 0;
	position:fixed;
	left: 20px;
	bottom: 20px;
}

#stack .trigger {
	position: absolute;
	z-index: 50;
	height: 48px;
	width: 48px;
	padding: 2px;
	left: 0;
	top: 0;
	cursor: pointer;
}

#stack .trigger div{
	font-size: 16px;
	margin:14px 5px 0px 7px;
}

#stack .trigger div span{
	color: white;
}

#stack ul {
	position: absolute;
	top: 0;
	left: 18px;
	height: 50px;
	width: 32px;
	bottom: 0;
	margin: 0;
	padding: 0;
}

#stack ul li {
	display: block;
	padding: 0px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	margin: 2px;

	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	box-shadow: 0 0 5px #969696;
	-webkit-box-shadow: 0 0 5px #969696;
	-moz-box-shadow: 0 0 5px #969696;
	-o-box-shadow: 0 0 5px #969696;
	border: none 0;
	padding: 0;
	background-color: #2c3e50;
	filter:alpha(opacity=90); /*IE滤镜，透明度50%*/
	-moz-opacity:0.9; /*Firefox私有，透明度50%*/
	opacity:0.9;/*其他，透明度50%*/	
}

#stack ul li a{
	font-size: 14px;
	margin: 0px 0px 0px 5px;
	text-decoration:none;
	color: white;
}

#stack ul li a:hover span,
#stack ul li a:hover{
	box-shadow: 0 0 10px #00a;
	-webkit-box-shadow: 0 0 10px #00a;
	-moz-box-shadow: 0 0 10px #00a;
	-o-box-shadow: 0 0 10px #00a;
}

#stack .trigger {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background-color: #00a3da;
}