body,html{ margin:0px; padding:0px; width:100%; height:100%;background:#ffffff;}
body,td,div,span{ font-size:12px;color:#4c4c4c;}

form{ margin:0px; padding:0px;}
.clear{clear:both;}

.div{width:1000px;margin:0px auto;}

.button{border:0px;background:#ee0000;line-height:36px;color:#ffffff;padding:0px 10px;}

#hd{height:70px;background:#1f4e8c;}
#hd span,#hd div,#hd td,#hd a,#hd *{color:#ffffff; font-family:"Microsoft YaHei"; }
#logo{font-size:24px;margin:20px 10px;}
#keyword{width:180px;border:0px;height:24px;line-height:24px;padding:0px;}
#search{height:24px;width:80px;line-height:24px;background:#ee0000;border:0px;padding:0px;font-size:12px;}
.navbtn{display:block;float:left;height:70px;line-height:70px;text-align:center;width:100px;margin:0px 0px;text-decoration:none;font-size:14px;}
.navbtn:hover{background:#417bb6;}
.navbtn-on{background:#ee0000;}

#bd{min-height:500px;}

#ft{height:100px;background:#eeeeee;border-top:1px solid #dddddd;clear:both;margin-top:30px;}

.title{height:40px;line-height:40px;text-indent:20px;margin:5px 0px;border-bottom:1px dashed #eeeeee;}
.title span{font-size:20px;font-weight:bold;}

.catalog{width:180px;float:left;min-height:470px;border-right:1px solid #eeeeee;}
.catalog p,.catalog ul,.catalog li{list-style:none;margin:0px;padding:0px;}
.catalog p{display:block;border-bottom:1px solid #eeeeee;}
.catalog p:hover{background:#eeeeee;}
.catalog .p2 a{margin-left:15px;}
.catalog .p3 a{margin-left:15px;}
.catalog a{display:block;color:#000000;position:relative;padding:10px 0px;text-indent:20px;text-decoration:none;font-size:14px;}
.catalog a:hover{background:#eeeeee;}
.catalog a s{display:block;position:absolute;left:0px;top:0px;height:100%;width:182px;background:url(assets/fore.png) left;}
.catalog .on{background:#1f4e8c;color:#ffffff;}

.artcile{margin-left:188px;}
.artcile .caption{height:40px;line-height:40px;text-indent:20px;margin:5px 0px;font-size:16px;font-weight:bold;}

.api-sub-title{height:37px;line-height:37px;background:url(assets/tool.png);}
.api-sub-title a{display:block;height:100%;padding:0px 15px;float:left;text-decoration:none;}


.head-title{background:#6a9cc3;color:#ffffff;font-weight:bold;margin-top:20px;line-height:32px;text-indent:10px;}
.table{border:1px solid #D4E2F1;border-top:0px solid #ee0000; table-layout:fixed;}
.table td,.table th{height:32px;line-height:32px;text-align:left;text-indent:10px;}
.table th{background:#cedeef;}
.table td{font-size:13px;height:30px;line-height:30px;font-family:"Microsoft YaHei";white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.table td .ico{margin:0px 5px;cursor:pointer;color:#2bade4;font-size:18px;}
.table tbody td a{text-decoration:none;}
.grid{background:#dddddd;}
.grid td{background:#ffffff;}
