
#navigator{width:220px;float:left;height:100%;overflow-y:auto;overflow-x:hidden;}
#navigator .item{
	display:block;margin:10px;text-align:center;text-decoration:none;border:1px solid #e4e4e4;background:#e4e4e4;
	cursor:pointer;padding:0px;width:200px;height:44px;overflow:hidden;
	line-height:44px;font-size:14px;text-align:left;
}
#navigator .focus{border:1px solid #ee0000;background:#ee0000;color:#ffffff;}
#navigator .item img{margin:10px;width:32px;height:32px;float:left;margin:6px 10px 6px 20px;border:0px;}


#yearmonth{margin:5px auto;width:200px;height:50px;}


#separator-panel{float:left;}

#statscontent{margin-left:210px;height:100%; overflow:scroll;}

#statscontent .plate{padding:10px 0;display:block;border-bottom:1px solid #cccccc;margin:10px;}

.display{float:none;width:auto;padding:0px 10px;display:inline;cursor:pointer;height:50px;border:2px solid #dd0000; background:#efefef;color:#dd0000;margin:10px;font-size:16px;font-family:"微软雅黑"}
.disable{border:2px solid #cccccc;color:#bbbbbb;}
.griditem{height:20px;width:120px;border:1px solid #dd0000; background:#efefef;color:#dd0000;margin:2px;font-size:12px;font-family:"微软雅黑"}