body{background:#efeff4;font-family:Microsoft Yahei,"黑体"; margin:0; padding:0;}
*{}
ul,li,h1,p,h1,h2,h3,h4,h5,dl{ padding:0; margin:0;font-family:Microsoft Yahei,"黑体";}
li{list-style: none outside none;}
img{ border:none;vertical-align:middle;}
a{color:#07f;text-decoration: none;}
a:hover{text-decoration:none;}
.clear{ clear:both; float:none;}
ul, ol {margin:0;}

.bigmain{width:100%;}
.menunavtop{width:100%;overflow:hidden;margin:0;border-bottom:1px solid #b1b1b1;background:#f9f9f9;border-top-left-radius:6px;border-top-right-radius:6px;}
.menunavtop li{float:left;width:25%;text-align:center;font-weight:bold;}
.menunavtop li img{margin-bottom:2px; width:30%;}
.menunavtop li a{color:#5e5e5e;display:block;padding:2px 0;}
.menunavtop li a.on{color:#07f;}
.menunavtop li a:hover{text-decoration:none;}

.buytitle{width:100%;border-top-left-radius:6px;border-top-right-radius:6px;background:#f9f9f9; border-bottom:1px solid #b1b1b1;font-size:22px;height:45px; line-height:45px;}
.goback{width:60px;float:left;font-size:18px;    height: 45px;line-height: 45px;}
.goback a{display:block;background: url(../../images/go_back.png) left center no-repeat; padding-left: 15px;}
.gomap{width:24px;float:right;}
.gomap a{display:block;background: url(../../images/btn_map.png) center center no-repeat;}
.golist{width:24px;float:right;}
.golist a{display:block;background: url(../../images/btn_tomore.png) center center no-repeat;}
.showtitle{width:80%;margin:0 auto;text-align:center;}

.content{width:94%;margin:0 auto;}

.netbox{ background:#fff; border:1px solid #b1b1b1;border-radius:6px; width:94%;margin:15px auto;}
.netbox li{ height:50px; font-size:14px;line-height:50px; width:100%;border-top:1px solid #b1b1b1;padding:0 4%;}
.netbox li.first{width:100%;border-top:none;}
.netbox li span{float:right;color:#bbb;font-size:14px;overflow: hidden;display:inlne-block;}
.netbox li span img{vertical-align:-4px;margin-left:5px;}
.netbox li b{color:#888;font-size:14px;}
.netbox li a{display:block;}

.okbuybtn{ width:94%;margin:5px auto 15px;}
.okbuybtn a,.okbuybtn .submit{ width:100%; font-size:24px;color:#fff;text-align:center;display:block; height:60px; line-height:60px; background:#07f; border:1px solid #07f;border-radius:6px;}
.okbuybtn a.off{text-decoration: none;background:#ccc;color:#666;border:1px solid #ccc;}
.okbuybtn a.cancel{text-decoration: none;background:#FFFFFF;color:#07f;border:1px solid #ccc;}