<?xml version="1.0" encoding="UTF-8"?>

<!-- author 飞啊飘啊 -->
<!-- 感谢spring框架 -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean class="com.ccclubs.action.thread.OrderThread" init-method="start">
		<property name="commonDisposeService" ref="commonDisposeService"></property>
		<property name="csOrderService" ref="csOrderService"></property>
	</bean>

	<bean class="com.ccclubs.action.thread.SmsThread" init-method="start">
		<property name="csSmsMtService" ref="csSmsMtService"></property>
		<property name="srvPropertyService" ref="srvPropertyService"></property>
	</bean>
	<bean class="com.ccclubs.action.thread.EmailThread" init-method="start"></bean>
	<bean class="com.ccclubs.action.thread.UserPackThread" init-method="start">
		<property name="csUserPackService" ref="csUserPackService"></property>
	</bean>
	<bean class="com.ccclubs.action.thread.OverdueThread" init-method="start">
		<property name="csGiftService" ref="csGiftService"></property>
		<property name="csFreeHourService" ref="csFreeHourService"></property>
		<property name="csUserPackService" ref="csUserPackService"></property>
		<property name="csCoinService" ref="csCoinService"></property>
	</bean>
	<bean class="com.ccclubs.action.thread.OperateThread" init-method="start"></bean>
	<bean class="com.ccclubs.action.thread.MonitorThread" init-method="start"></bean>
	<bean class="com.ccclubs.action.thread.TaskThread" init-method="start">
		<property name="csTaskDao" ref="csTaskDao"></property>
		<property name="csNoticeDao" ref="csNoticeDao"></property>
		<property name="csCarDao" ref="csCarDao"></property>
		<property name="csMaintainDao" ref="csMaintainDao"></property>
		<property name="csOutletsDao" ref="csOutletsDao"></property>
		<property name="csViolatDao" ref="csViolatDao"></property>
	</bean>
	<bean class="com.ccclubs.action.thread.ViolatThread" init-method="start">
		<property name="csViolatService" ref="csViolatService"></property>
		<property name="csOrderService" ref="csOrderService"></property>
		<property name="csCarService" ref="csCarService"></property>
	</bean>
	<bean class="com.ccclubs.action.thread.MessageThread" init-method="start">
		<property name="csViolatService" ref="csViolatService"></property>
		<property name="csOrderService" ref="csOrderService"></property>
		<property name="csTroubleService" ref="csTroubleService"></property>
		<property name="csWxMtService" ref="csWxMtService"></property>
	</bean>
	<bean class="com.ccclubs.action.thread.MemberSummaryThread" init-method="init" >
		<property name="csMemberService" ref="csMemberService"></property>
		<property name="csMemberSummaryService" ref="csMemberSummaryService"></property>
		<property name="csOrderService" ref="csOrderService"></property>
	</bean>
</beans>
