#boxDialog{position:absolute;top:-8px;left:300px;z-index:99;}
#boxDialog .handle{cursor:pointer;}
#boxDialog .c{border:0px;}

.box-header{border:0px;height:auto;}
.box-header .tit{height:22px;line-height:22px;padding-left:5px;overflow:hidden;color:#ffffff;}
.box-header .tit img{border:0px;height:16px;width:16px;margin:3px;float:left;margin-left:8px;}
.box-header .tit .icon{float:right;margin:0px 10px;color:#ffffff;cursor:pointer;}
.box-header .tit a{float:left;text-decoration:none;}
.box-header .tit a span{color:#ffffff;}
.box-header .info{color:#ffffff;line-height:28px;}
.box-header .info span{text-indent:10px;}
.box-header .info .msg{float:left;margin-left:5px;color:#ffffff;line-height:23px;}
.box-header .info .msg a{color:#ffffff;}


.box-search{}
.results{display:none;}
#boxDialog #search{text-indent:5px;color:#000000;background:#ffffff;border:1px solid #dddddd;height:25px;line-height:25px;width:180px;outline:none;padding:0px;filter:alpha(opacity=80);opacity:0.8;}
#results{width:100%;position:relative;overflow:visible;height:0px;}
#results .keyword{color:red;}
#results .close{position:absolute;right:10px;top:-28px;text-decoration:none;}
#results .list{margin:0px 0px;padding-bottom:10px;height:398px;}
#results .list .item{line-height:32px;height:32px;overflow:visible;}
#results .list .item:hover{background:#fcf0c1;}
#results .list .item .icon{width:16px;height:16px;margin-left:10px;}
#results .list .item .detail{}
#results .list .item .opts{text-align:center;margin:0px;padding:0px;float:right;height:32px;width:50px;overflow:visible;position:relative;}
#results .list .item .opts dt{display:none;margin:0px;padding:0px;position:absolute;height:32px;width:50px;left:0px;top:0px;}
#results .list .item:hover .opts dt{display:block;}
#results .list .item .opts dd{display:none;margin:0px;padding:0px;white-space:nowrap;position:absolute;width:290px;height:32px;right:0px;top:0px;}
#results .list .item .opts:hover dd{display:block;}
#results .list .item .opts a{margin:0px 1px;}


.mini .mini{display:none;}
.maxi{display:none;}
.mini .maxi{display:block;}
.mini #results{overflow:visible;height:auto;}
.mini #results .list{height:auto;}

.box-tabs .button{margin:0px 0px 0px 5px;float:left;border-bottom:0px;font-size:12px;height:26px;line-height:26px;width:80px;outline:none;}

.box-cnts{border-top:1px solid #18a0e0;width:292px;overflow:hidden;padding-bottom:2px;} 
.box-cnts .box-content{}
.box-cnts .box-content .opts{height:28px;line-height:28px;border-width:0 0 1px 0;overflow:hidden;}
.box-cnts .box-content .opts a{margin-right:12px; float:right;text-decoration:none;}
.box-cnts .box-content .opts a img{border:0px;width:16px;height:16px;}
.box-cnts .box-content .list{height:350px;margin:0px;overflow-y:scroll;}
.box-cnts .box-content .list .item{background:#ffffff;min-height:44px;text-decoration:none;overflow:hidden;display:block;cursor:pointer;padding:5px 15px;line-height:22px;border-bottom:1px solid #dedede;}
.box-cnts .box-content .list .item:hover{background:#fefdc1;}
.box-cnts .box-content .list .item .tit{display:block;font-size:14px;}
.box-cnts .box-content .list .item .cnt{color:#999999;display:block;}
.box-cnts .box-content .list .flush .tit{color:red;}

.visibility{filter:alpha(opacity=50);opacity:0.5;}