<?xml version="1.0" encoding="UTF-8"?>

<!-- author 飞啊飘啊 -->
<!-- 感谢spring框架 -->

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 后台配置文件  -->
	<import resource="admin/admin-applicationContext-Action.xml" />
	
	<!-- 微信服务配置文件 
	<import resource="weixin/wx-applicationContext-Action.xml" />-->
	
	<!-- 通信协议处理线程 
	<import resource="thread/applicationContext-Thread.xml" />-->
	
	<!-- 加载网站前台配置文件
	<import resource="web/web-applicationContext-Action.xml" />
	<import resource="web/web-applicationContext-Service.xml" />  -->
	
	<!-- app服务配置文件 -->
	<!-- <import resource="app/app-applicationContext-Action.xml" /> -->
	
	<!-- 微信服务配置文件 
	<import resource="m/m-applicationContext-Action.xml" />-->
	
	<!-- 移动端后台服务配置文件
	<import resource="manage/manage-applicationContext-Action.xml" />
	 -->
	<!-- 企业服务配置文件 
	<import resource="unit/unit-applicationContext-Action.xml" /> -->
	
	<!-- API服务配置文件
	<import resource="api/api-applicationContext-Action.xml" /> -->
	
	<!-- 新版微信公众号服务配置文件
	<import resource="m/weixin/weixin-applicationContext-Action.xml" /> -->
	
	<!-- 新版支付宝服务窗服务配置文件
	<import resource="m/alipay/alipay-applicationContext-Action.xml" /> -->
		
	<!-- 公务用车系统配置文件 
	<import resource="official/official-applicationContext-Action.xml" />-->
	
	<!-- 网关程序系统配置文件
	<import resource="receiver/applicationContext-Receiver.xml" /> 
	
	<import resource="siteserv/site-applicationContext-Action.xml" />-->
</beans>