<?xml version="1.0" encoding="UTF-8"?>

<!-- author 飞啊飘啊 -->
<!-- 感谢spring框架 -->

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	
	

	<!-- 用户Service -->
	<bean id="srvUserService" class="com.ccclubs.service.admin.impl.SrvUserService">
		<property name="srvGroupDao" ref="srvGroupDao"></property>
		<property name="srvUserDao" ref="srvUserDao"></property>
		<property name="srvLimitedDao" ref="srvLimitedDao"></property>
	</bean>

	<bean id="srvProjectService" class="com.ccclubs.service.admin.impl.SrvProjectService">
		<property name="srvProjectDao" ref="srvProjectDao"></property>
		<property name="srvLimitedDao" ref="srvLimitedDao"></property>
	</bean>

	<bean id="srvGroupService" class="com.ccclubs.service.admin.impl.SrvGroupService">			
		<property name="srvGroupDao" ref="srvGroupDao"></property>
		<property name="srvUserService" ref="srvUserService"></property>
		<property name="srvLimitedDao" ref="srvLimitedDao"></property>
	</bean>

	<bean id="srvLimitedService" class="com.ccclubs.service.admin.impl.SrvLimitedService">
		<property name="srvLimitedDao" ref="srvLimitedDao"></property>
		<property name="srvUserDao" ref="srvUserDao"></property>
		<property name="srvGroupDao" ref="srvGroupDao"></property>
	</bean>
	
	<!-- 微信下行Service -->
	<bean id="csWxMtService" class="com.ccclubs.service.admin.impl.CsWxMtService">
		<property name="csWxMtDao" ref="csWxMtDao"></property>
	</bean>
	<!-- 微信上行Service -->
	<bean id="csWxMoService" class="com.ccclubs.service.admin.impl.CsWxMoService">
		<property name="csWxMoDao" ref="csWxMoDao"></property>
	</bean>
	<!-- 升级日志Service -->
	<bean id="csUpgradeLogService" class="com.ccclubs.service.admin.impl.CsUpgradeLogService">
		<property name="csUpgradeLogDao" ref="csUpgradeLogDao"></property>
	</bean>
	<!-- 成长值记录Service -->
	<!-- 成长记录Service -->
	<bean id="csGrowRecordService" class="com.ccclubs.service.admin.impl.CsGrowRecordService">
		<property name="csGrowRecordDao" ref="csGrowRecordDao"></property>
	</bean>
	<!-- 用户扩展信息Service -->
	<bean id="srvUserExpService" class="com.ccclubs.service.admin.impl.SrvUserExpService">
		<property name="srvUserExpDao" ref="srvUserExpDao"></property>
	</bean>
	<!-- 巡检签名Service -->
	<!-- 巡检作业Service -->
	<bean id="csOutsideQrService" class="com.ccclubs.service.admin.impl.CsOutsideQrService">
		<property name="csOutsideQrDao" ref="csOutsideQrDao"></property>
	</bean>
	<!-- 在线访客Service -->
	<bean id="csChatTalkerService" class="com.ccclubs.service.admin.impl.CsChatTalkerService">
		<property name="csChatTalkerDao" ref="csChatTalkerDao"></property>
	</bean>
	<!-- 聊天消息Service -->
	<!-- 客服消息Service -->
	<bean id="csChatMessageService" class="com.ccclubs.service.admin.impl.CsChatMessageService">
		<property name="csChatMessageDao" ref="csChatMessageDao"></property>
	</bean>
	<!-- 渠道跟踪维护Service -->
	<bean id="csChannelLogService" class="com.ccclubs.service.admin.impl.CsChannelLogService">
		<property name="csChannelLogDao" ref="csChannelLogDao"></property>
	</bean>
	<!-- 渠道指标Service -->
	<bean id="csChannelIndexService" class="com.ccclubs.service.admin.impl.CsChannelIndexService">
		<property name="csChannelIndexDao" ref="csChannelIndexDao"></property>
	</bean>
	<!-- 独立IP访问Service -->
	<bean id="csVisitIpService" class="com.ccclubs.service.admin.impl.CsVisitIpService">
		<property name="csVisitIpDao" ref="csVisitIpDao"></property>
	</bean>
	<!-- 访问渠道Service -->
	<bean id="csChannelService" class="com.ccclubs.service.admin.impl.CsChannelService">
		<property name="csChannelDao" ref="csChannelDao"></property>
	</bean>
	<!-- 销售机会Service -->
	<bean id="csSaleOpportService" class="com.ccclubs.service.admin.impl.CsSaleOpportService">
		<property name="csSaleOpportDao" ref="csSaleOpportDao"></property>
	</bean>
	<!-- 市场调查Service -->
	<bean id="csSaleSurveyService" class="com.ccclubs.service.admin.impl.CsSaleSurveyService">
		<property name="csSaleSurveyDao" ref="csSaleSurveyDao"></property>
	</bean>
	<!-- 销售活动Service -->
	<bean id="csSaleEventService" class="com.ccclubs.service.admin.impl.CsSaleEventService">
		<property name="csSaleEventDao" ref="csSaleEventDao"></property>
	</bean>
	<!-- 营销执行日志Service -->
	<!-- 营销执行维护Service -->
	<!-- 营销跟踪Service -->
	<bean id="csMarketLogService" class="com.ccclubs.service.admin.impl.CsMarketLogService">
		<property name="csMarketLogDao" ref="csMarketLogDao"></property>
	</bean>
	<!-- 营销指标Service -->
	<bean id="csMarketIndexService" class="com.ccclubs.service.admin.impl.CsMarketIndexService">
		<property name="csMarketIndexDao" ref="csMarketIndexDao"></property>
	</bean>
	<!-- 营销策划Service -->
	<!-- 营销策划方案Service -->
	<!-- 营销方案Service -->
	<bean id="csMarketPlanService" class="com.ccclubs.service.admin.impl.CsMarketPlanService">
		<property name="csMarketPlanDao" ref="csMarketPlanDao"></property>
	</bean>
	<!-- 礼品赠品Service -->
	<bean id="csPresentService" class="com.ccclubs.service.admin.impl.CsPresentService">
		<property name="csPresentDao" ref="csPresentDao"></property>
	</bean>
	<!-- 促销配置Service -->
	<bean id="csPromotionService" class="com.ccclubs.service.admin.impl.CsPromotionService">
		<property name="csPromotionDao" ref="csPromotionDao"></property>
	</bean>
	<!-- 活动参与Service -->
	<bean id="csActivityInService" class="com.ccclubs.service.admin.impl.CsActivityInService">
		<property name="csActivityInDao" ref="csActivityInDao"></property>
	</bean>
	<!-- 线上活动Service -->
	<!-- 促销活动Service -->
	<!-- 营销活动Service -->
	<bean id="csActivityService" class="com.ccclubs.service.admin.impl.CsActivityService">
		<property name="csActivityDao" ref="csActivityDao"></property>
	</bean>
	<!-- API日志Service -->
	<bean id="srvApiLogService" class="com.ccclubs.service.admin.impl.SrvApiLogService">
		<property name="srvApiLogDao" ref="srvApiLogDao"></property>
	</bean>
	<!-- 后台事务脚本Service -->
	<bean id="srvActionScriptService" class="com.ccclubs.service.admin.impl.SrvActionScriptService">
		<property name="srvActionScriptDao" ref="srvActionScriptDao"></property>
	</bean>
	<!-- 用户授权Service -->
	<bean id="srvOauthService" class="com.ccclubs.service.admin.impl.SrvOauthService">
		<property name="srvOauthDao" ref="srvOauthDao"></property>
	</bean>
	<!-- API客户端Service -->
	<bean id="srvApiClientService" class="com.ccclubs.service.admin.impl.SrvApiClientService">
		<property name="srvApiClientDao" ref="srvApiClientDao"></property>
	</bean>
	<!-- API接口Service -->
	<bean id="srvApiService" class="com.ccclubs.service.admin.impl.SrvApiService">
		<property name="srvApiDao" ref="srvApiDao"></property>
	</bean>
	<!-- 车辆上线记录Service -->
	<bean id="csCarOnService" class="com.ccclubs.service.admin.impl.CsCarOnService">
		<property name="csCarOnDao" ref="csCarOnDao"></property>
	</bean>
	<!-- 访问详情Service -->
	<bean id="csVisitDetailService" class="com.ccclubs.service.admin.impl.CsVisitDetailService">
		<property name="csVisitDetailDao" ref="csVisitDetailDao"></property>
	</bean>
	<!-- 邮件内容Service -->
	<bean id="csEmailService" class="com.ccclubs.service.admin.impl.CsEmailService">
		<property name="csEmailDao" ref="csEmailDao"></property>
	</bean>
	<!-- 策略默认适配Service -->
	<!-- 计费策略Service -->
	<bean id="csFeeTypeSetService" class="com.ccclubs.service.admin.impl.CsFeeTypeSetService">
		<property name="csFeeTypeSetDao" ref="csFeeTypeSetDao"></property>
	</bean>
	<!-- 电桩历史数据Service -->
	<bean id="csElecHistoryService" class="com.ccclubs.service.admin.impl.CsElecHistoryService">
		<property name="csElecHistoryDao" ref="csElecHistoryDao"></property>
	</bean>
	<!-- 表单查询Service -->
	<bean id="srvQueryService" class="com.ccclubs.service.admin.impl.SrvQueryService">
		<property name="srvQueryDao" ref="srvQueryDao"></property>
	</bean>
	<!-- 客户来电Service -->
	<bean id="csCallInService" class="com.ccclubs.service.admin.impl.CsCallInService">
		<property name="csCallInDao" ref="csCallInDao"></property>
	</bean>
	<!-- 客户服务Service -->
	<bean id="csServeService" class="com.ccclubs.service.admin.impl.CsServeService">
		<property name="csServeDao" ref="csServeDao"></property>
	</bean>
	<!-- 客户关怀Service -->
	<bean id="csCareService" class="com.ccclubs.service.admin.impl.CsCareService">
		<property name="csCareDao" ref="csCareDao"></property>
	</bean>
	<!-- 待办事项Service -->
	<bean id="csTodoService" class="com.ccclubs.service.admin.impl.CsTodoService">
		<property name="csTodoDao" ref="csTodoDao"></property>
	</bean>
	<!-- 系统事件类型Service -->
	<bean id="csEventTypeService" class="com.ccclubs.service.admin.impl.CsEventTypeService">
		<property name="csEventTypeDao" ref="csEventTypeDao"></property>
	</bean>
	<!-- 事件关注Service -->
	<bean id="csEventHeedService" class="com.ccclubs.service.admin.impl.CsEventHeedService">
		<property name="csEventHeedDao" ref="csEventHeedDao"></property>
	</bean>
	<!-- 系统事件Service -->
	<bean id="csEventService" class="com.ccclubs.service.admin.impl.CsEventService">
		<property name="csEventDao" ref="csEventDao"></property>
	</bean>
	<!-- 错误信息Service -->
	<bean id="csErrorService" class="com.ccclubs.service.admin.impl.CsErrorService">
		<property name="csErrorDao" ref="csErrorDao"></property>
	</bean>
	<!-- 表单设计Service -->
	<bean id="srvModelService" class="com.ccclubs.service.admin.impl.SrvModelService">
		<property name="srvModelDao" ref="srvModelDao"></property>
	</bean>
	<!-- 积分记录Service -->
	<bean id="csIntegralRecordService" class="com.ccclubs.service.admin.impl.CsIntegralRecordService">
		<property name="csIntegralRecordDao" ref="csIntegralRecordDao"></property>
	</bean>
	<!-- 消费类型Service -->
	<bean id="csRecordTypeService" class="com.ccclubs.service.admin.impl.CsRecordTypeService">
		<property name="csRecordTypeDao" ref="csRecordTypeDao"></property>
	</bean>
	<!-- 会员备忘Service -->
	<bean id="csMemberMemoService" class="com.ccclubs.service.admin.impl.CsMemberMemoService">
		<property name="csMemberMemoDao" ref="csMemberMemoDao"></property>
	</bean>
	<!-- 会员地址Service -->
	<bean id="csAddressService" class="com.ccclubs.service.admin.impl.CsAddressService">
		<property name="csAddressDao" ref="csAddressDao"></property>
	</bean>
	<!-- 发票Service -->
	<!-- 发票记录Service -->
	<bean id="csInvoiceService" class="com.ccclubs.service.admin.impl.CsInvoiceService">
		<property name="csInvoiceDao" ref="csInvoiceDao"></property>
	</bean>
	<!-- 支付宝日志Service -->
	<!-- 接口日志Service -->
	<bean id="csAlipayLogService" class="com.ccclubs.service.admin.impl.CsAlipayLogService">
		<property name="csAlipayLogDao" ref="csAlipayLogDao"></property>
	</bean>
	<!-- 订单操作记录Service -->
	<bean id="csOrderLogService" class="com.ccclubs.service.admin.impl.CsOrderLogService">
		<property name="csOrderLogDao" ref="csOrderLogDao"></property>
	</bean>
	<!-- 红包Service -->
	<bean id="csCoinService" class="com.ccclubs.service.admin.impl.CsCoinService">
		<property name="csCoinDao" ref="csCoinDao"></property>
	</bean>
	<!-- 充电桩Service -->
	<bean id="csPowerPileService" class="com.ccclubs.service.admin.impl.CsPowerPileService">
		<property name="csPowerPileDao" ref="csPowerPileDao"></property>
	</bean>
	<!-- 信用账单Service -->
	<bean id="csCreditBillService" class="com.ccclubs.service.admin.impl.CsCreditBillService">
		<property name="csCreditBillDao" ref="csCreditBillDao"></property>
	</bean>
	<!-- 信用记录Service -->
	<bean id="csCreditRecordService" class="com.ccclubs.service.admin.impl.CsCreditRecordService">
		<property name="csCreditRecordDao" ref="csCreditRecordDao"></property>
	</bean>
	<!-- 信用卡Service -->
	<bean id="csCreditCardService" class="com.ccclubs.service.admin.impl.CsCreditCardService">
		<property name="csCreditCardDao" ref="csCreditCardDao"></property>
	</bean>
	<!-- 企业对账Service -->
	<bean id="csUnitBillService" class="com.ccclubs.service.admin.impl.CsUnitBillService">
		<property name="csUnitBillDao" ref="csUnitBillDao"></property>
	</bean>
	<!-- 机场服务Service -->
	<bean id="csUnitAirportService" class="com.ccclubs.service.admin.impl.CsUnitAirportService">
		<property name="csUnitAirportDao" ref="csUnitAirportDao"></property>
	</bean>
	<!-- 价格配置Service -->
	<bean id="csUnitFeeService" class="com.ccclubs.service.admin.impl.CsUnitFeeService">
		<property name="csUnitFeeDao" ref="csUnitFeeDao"></property>
	</bean>
	<!-- 企业订单Service -->
	<bean id="csUnitOrderService" class="com.ccclubs.service.admin.impl.CsUnitOrderService">
		<property name="csUnitOrderDao" ref="csUnitOrderDao"></property>
	</bean>
	<!-- 企业车管Service -->
	<bean id="csUnitUserService" class="com.ccclubs.service.admin.impl.CsUnitUserService">
		<property name="csUnitUserDao" ref="csUnitUserDao"></property>
	</bean>
	<!-- 企业信息Service -->
	<bean id="csUnitInfoService" class="com.ccclubs.service.admin.impl.CsUnitInfoService">
		<property name="csUnitInfoDao" ref="csUnitInfoDao"></property>
	</bean>
	<!-- 交通限行Service -->
	<bean id="csLimitTimeService" class="com.ccclubs.service.admin.impl.CsLimitTimeService">
		<property name="csLimitTimeDao" ref="csLimitTimeDao"></property>
	</bean>
	<!-- 系统配置(城市)Service -->
	<!-- 系统配置(城市)Service -->
	<!-- 系统配置(城市)Service -->
	<!-- 系统配置(城市)Service -->
	<bean id="csConfigService" class="com.ccclubs.service.admin.impl.CsConfigService">
		<property name="csConfigDao" ref="csConfigDao"></property>
	</bean>
	<!-- 网点区域Service -->
	<bean id="csAreaService" class="com.ccclubs.service.admin.impl.CsAreaService">
		<property name="csAreaDao" ref="csAreaDao"></property>
	</bean>
	<!-- 维修地点Service -->
	<bean id="csRepairAdrService" class="com.ccclubs.service.admin.impl.CsRepairAdrService">
		<property name="csRepairAdrDao" ref="csRepairAdrDao"></property>
	</bean>
	<!-- 城市Service -->
	<!-- 运营城市Service -->
	<bean id="srvHostService" class="com.ccclubs.service.admin.impl.SrvHostService">
		<property name="srvHostDao" ref="srvHostDao"></property>
	</bean>
	<!-- 传播内容Service -->
	<bean id="csPropagateService" class="com.ccclubs.service.admin.impl.CsPropagateService">
		<property name="csPropagateDao" ref="csPropagateDao"></property>
	</bean>
	<!-- 充值卡Service -->
	<bean id="csRechargeCardService" class="com.ccclubs.service.admin.impl.CsRechargeCardService">
		<property name="csRechargeCardDao" ref="csRechargeCardDao"></property>
	</bean>
	<!-- 问题及选项Service -->
	<bean id="csQuestAnswerService" class="com.ccclubs.service.admin.impl.CsQuestAnswerService">
		<property name="csQuestAnswerDao" ref="csQuestAnswerDao"></property>
	</bean>
	<!-- 问卷模板Service -->
	<bean id="csQuestTemplateService" class="com.ccclubs.service.admin.impl.CsQuestTemplateService">
		<property name="csQuestTemplateDao" ref="csQuestTemplateDao"></property>
	</bean>	
	<!-- 宝贝Service -->
	<!-- 商品信息Service -->
	<bean id="csItemService" class="com.ccclubs.service.admin.impl.CsItemService">
		<property name="csItemDao" ref="csItemDao"></property>
	</bean>	
	<!-- 用户回访Service -->
	<bean id="csRevisitService" class="com.ccclubs.service.admin.impl.CsRevisitService">
		<property name="csRevisitDao" ref="csRevisitDao"></property>
	</bean>
	<!-- 春节套餐报名Service -->
	<bean id="csChjSignService" class="com.ccclubs.service.admin.impl.CsChjSignService">
		<property name="csChjSignDao" ref="csChjSignDao"></property>
	</bean>
	<!-- 分享指数Service -->
	<bean id="csShareIndexService" class="com.ccclubs.service.admin.impl.CsShareIndexService">
		<property name="csShareIndexDao" ref="csShareIndexDao"></property>
	</bean>
	<!-- 车辆照片Service -->
	<bean id="csCarPhotoService" class="com.ccclubs.service.admin.impl.CsCarPhotoService">
		<property name="csCarPhotoDao" ref="csCarPhotoDao"></property>
	</bean>
	<!-- 中奖结果Service -->
	<bean id="csLuckyResultService" class="com.ccclubs.service.admin.impl.CsLuckyResultService">
		<property name="csLuckyResultDao" ref="csLuckyResultDao"></property>
	</bean>
	<!-- 抽奖奖项Service -->
	<bean id="csLuckyItemService" class="com.ccclubs.service.admin.impl.CsLuckyItemService">
		<property name="csLuckyItemDao" ref="csLuckyItemDao"></property>
	</bean>
	<!-- 抽奖活动Service -->
	<bean id="csLuckyService" class="com.ccclubs.service.admin.impl.CsLuckyService">
		<property name="csLuckyDao" ref="csLuckyDao"></property>
	</bean>
	<!-- 加油站Service -->
	<bean id="csGasStationService" class="com.ccclubs.service.admin.impl.CsGasStationService">
		<property name="csGasStationDao" ref="csGasStationDao"></property>
	</bean>
	<!-- 静态内容Service -->
	<bean id="csContentService" class="com.ccclubs.service.admin.impl.CsContentService">
		<property name="csContentDao" ref="csContentDao"></property>
	</bean>
	<!-- 微信菜单Service -->
	<bean id="csWxMenuService" class="com.ccclubs.service.admin.impl.CsWxMenuService">
		<property name="csWxMenuDao" ref="csWxMenuDao"></property>
	</bean>
	<!-- 微信回复Service -->
	<!-- 微信素材Service -->
	<bean id="csWxContentService" class="com.ccclubs.service.admin.impl.CsWxContentService">
		<property name="csWxContentDao" ref="csWxContentDao"></property>
	</bean>
	<!-- 微信指令Service -->
	<bean id="csWxOrderService" class="com.ccclubs.service.admin.impl.CsWxOrderService">
		<property name="csWxOrderDao" ref="csWxOrderDao"></property>
	</bean>
	<!-- 数据预警Service -->
	<!-- 数据任务Service -->
	<bean id="csTaskService" class="com.ccclubs.service.admin.impl.CsTaskService">
		<property name="csTaskDao" ref="csTaskDao"></property>
	</bean>
	<!-- 车辆保养Service -->
	<bean id="csMaintainService" class="com.ccclubs.service.admin.impl.CsMaintainService">
		<property name="csMaintainDao" ref="csMaintainDao"></property>
	</bean>
	<!-- 系统问题Service -->
	<!-- 系统BUGService -->
	<bean id="csBugService" class="com.ccclubs.service.admin.impl.CsBugService">
		<property name="csBugDao" ref="csBugDao"></property>
	</bean>
	<!-- 系统参数Service -->
	<bean id="csArgumentService" class="com.ccclubs.service.admin.impl.CsArgumentService">
		<property name="csArgumentDao" ref="csArgumentDao"></property>
	</bean>
	<!-- 会员组织Service -->
	<bean id="csMemberGroupService" class="com.ccclubs.service.admin.impl.CsMemberGroupService">
		<property name="csMemberGroupDao" ref="csMemberGroupDao"></property>
	</bean>	
	<!-- 车辆维修Service -->
	<bean id="csRepairService" class="com.ccclubs.service.admin.impl.CsRepairService">
		<property name="csRepairDao" ref="csRepairDao"></property>
	</bean>
	<!-- 车辆历史状态Service -->
	<bean id="csHistoryStateService" class="com.ccclubs.service.admin.impl.CsHistoryStateService">
		<property name="csHistoryStateDao" ref="csHistoryStateDao"></property>
	</bean>
	<!-- 车辆警报Service -->
	<bean id="csAlarmService" class="com.ccclubs.service.admin.impl.CsAlarmService">
		<property name="csAlarmDao" ref="csAlarmDao"></property>
	</bean>
	<!-- 车辆当前状态Service -->
	<bean id="csStateService" class="com.ccclubs.service.admin.impl.CsStateService">
		<property name="csStateDao" ref="csStateDao"></property>
	</bean>
	<!-- 支付宝退款Service -->
	<!-- 接口退款Service -->
	<bean id="csAlipayRefundService" class="com.ccclubs.service.admin.impl.CsAlipayRefundService">
		<property name="csAlipayRefundDao" ref="csAlipayRefundDao"></property>
	</bean>
	<!-- 会员退款Service -->
	<bean id="csRefundService" class="com.ccclubs.service.admin.impl.CsRefundService">
		<property name="csRefundDao" ref="csRefundDao"></property>
	</bean>
	<!-- 支付宝充值Service -->
	<!-- 接口充值Service -->
	<bean id="csAlipayRecordService" class="com.ccclubs.service.admin.impl.CsAlipayRecordService">
		<property name="csAlipayRecordDao" ref="csAlipayRecordDao"></property>
	</bean>
	<!-- 车辆违章Service -->
	<bean id="csViolatService" class="com.ccclubs.service.admin.impl.CsViolatService">
		<property name="csViolatDao" ref="csViolatDao"></property>
	</bean>
	<!-- 免费优惠记录Service -->
	<!-- 惠免记录Service -->
	<bean id="csUseRecordService" class="com.ccclubs.service.admin.impl.CsUseRecordService">
		<property name="csUseRecordDao" ref="csUseRecordDao"></property>
	</bean>
	<!-- 免费小时Service -->
	<bean id="csFreeHourService" class="com.ccclubs.service.admin.impl.CsFreeHourService">
		<property name="csFreeHourDao" ref="csFreeHourDao"></property>
	</bean>
	<!-- 通知备忘Service -->
	<!-- 待办事项Service -->
	<!-- 消息通知Service -->
	<!-- 系统通知Service -->
	<bean id="csNoticeService" class="com.ccclubs.service.admin.impl.CsNoticeService">
		<property name="csNoticeDao" ref="csNoticeDao"></property>
	</bean>
	<!-- 积分规则Service -->
	<bean id="csIntegralRuleService" class="com.ccclubs.service.admin.impl.CsIntegralRuleService">
		<property name="csIntegralRuleDao" ref="csIntegralRuleDao"></property>
	</bean>
	<!-- 远程控制Service -->
	<bean id="csRemoteService" class="com.ccclubs.service.admin.impl.CsRemoteService">
		<property name="csRemoteDao" ref="csRemoteDao"></property>
	</bean>
	<!-- 会员信息Service -->
	<bean id="csMemberInfoService" class="com.ccclubs.service.admin.impl.CsMemberInfoService">
		<property name="csMemberInfoDao" ref="csMemberInfoDao"></property>
	</bean>
	<!-- CSMEMBERSHIPService -->
	<!-- 会员关系Service -->
	<bean id="csMemberShipService" class="com.ccclubs.service.admin.impl.CsMemberShipService">
		<property name="csMemberShipDao" ref="csMemberShipDao"></property>
	</bean>
	<!-- App更新Service -->
	<bean id="csUpdateService" class="com.ccclubs.service.admin.impl.CsUpdateService">
		<property name="csUpdateDao" ref="csUpdateDao"></property>
	</bean>
	<!-- 消息Service -->
	<!-- 系统消息Service -->
	<!-- 会员消息Service -->
	<bean id="csMessageService" class="com.ccclubs.service.admin.impl.CsMessageService">
		<property name="csMessageDao" ref="csMessageDao"></property>
	</bean>
	<!-- 会员投诉Service -->
	<!-- 意见反馈Service -->
	<bean id="csComplainService" class="com.ccclubs.service.admin.impl.CsComplainService">
		<property name="csComplainDao" ref="csComplainDao"></property>
	</bean>
	<!-- 系统日志Service -->
	<bean id="csLogService" class="com.ccclubs.service.admin.impl.CsLogService">
		<property name="csLogDao" ref="csLogDao"></property>
	</bean>
	<!-- 短信下行Service -->
	<!-- 短信发送Service -->
	<bean id="csSmsMtService" class="com.ccclubs.service.admin.impl.CsSmsMtService">
		<property name="csSmsMtDao" ref="csSmsMtDao"></property>
	</bean>
	<!-- 订单明细Service -->
	<bean id="csOrderDetailService" class="com.ccclubs.service.admin.impl.CsOrderDetailService">
		<property name="csOrderDetailDao" ref="csOrderDetailDao"></property>
	</bean>
	<!-- 订单Service -->
	<!-- 系统订单Service -->
	<bean id="csOrderService" class="com.ccclubs.service.admin.impl.CsOrderService">
		<property name="csOrderDao" ref="csOrderDao"></property>
	</bean>
	<!-- 车辆事故Service -->
	<bean id="csTroubleService" class="com.ccclubs.service.admin.impl.CsTroubleService">
		<property name="csTroubleDao" ref="csTroubleDao"></property>
	</bean>
	<!-- 供应商Service -->
	<bean id="csProvidService" class="com.ccclubs.service.admin.impl.CsProvidService">
		<property name="csProvidDao" ref="csProvidDao"></property>
	</bean>
	<!-- 会员卡Service -->
	<bean id="csEvCardService" class="com.ccclubs.service.admin.impl.CsEvCardService">
		<property name="csEvCardDao" ref="csEvCardDao"></property>
	</bean>
	<!-- 网点Service -->
	<bean id="csOutletsService" class="com.ccclubs.service.admin.impl.CsOutletsService">
		<property name="csOutletsDao" ref="csOutletsDao"></property>
	</bean>
	<!-- 车辆Service -->
	<bean id="csCarService" class="com.ccclubs.service.admin.impl.CsCarService">
		<property name="csCarDao" ref="csCarDao"></property>
	</bean>
	<!-- 车型Service -->
	<bean id="csCarModelService" class="com.ccclubs.service.admin.impl.CsCarModelService">
		<property name="csCarModelDao" ref="csCarModelDao"></property>
	</bean>
	<!-- 套餐内容Service -->
	<bean id="csPackInfoService" class="com.ccclubs.service.admin.impl.CsPackInfoService">
		<property name="csPackInfoDao" ref="csPackInfoDao"></property>
	</bean>
	<!-- 套餐Service -->
	<!-- 系统套餐Service -->
	<bean id="csPackService" class="com.ccclubs.service.admin.impl.CsPackService">
		<property name="csPackDao" ref="csPackDao"></property>
	</bean>
	<!-- 价格Service -->
	<bean id="csPriceService" class="com.ccclubs.service.admin.impl.CsPriceService">
		<property name="csPriceDao" ref="csPriceDao"></property>
	</bean>
	<!-- 商品Service -->
	<bean id="csGoodsService" class="com.ccclubs.service.admin.impl.CsGoodsService">
		<property name="csGoodsDao" ref="csGoodsDao"></property>
	</bean>
	<!-- 产品Service -->
	<bean id="csProductService" class="com.ccclubs.service.admin.impl.CsProductService">
		<property name="csProductDao" ref="csProductDao"></property>
	</bean>
	<!-- 规则Service -->
	<bean id="csRuleService" class="com.ccclubs.service.admin.impl.CsRuleService">
		<property name="csRuleDao" ref="csRuleDao"></property>
	</bean>
	<!-- 用户套餐Service -->
	<bean id="csUserPackService" class="com.ccclubs.service.admin.impl.CsUserPackService">
		<property name="csUserPackDao" ref="csUserPackDao"></property>
	</bean>
	<!-- 消费记录Service -->
	<bean id="csRecordService" class="com.ccclubs.service.admin.impl.CsRecordService">
		<property name="csRecordDao" ref="csRecordDao"></property>
	</bean>
	<!-- 优惠内容Service -->
	<bean id="csGiftService" class="com.ccclubs.service.admin.impl.CsGiftService">
		<property name="csGiftDao" ref="csGiftDao"></property>
	</bean>
	<!-- 计费方式Service -->
	<bean id="csUserTypeService" class="com.ccclubs.service.admin.impl.CsUserTypeService">
		<property name="csUserTypeDao" ref="csUserTypeDao"></property>
	</bean>
	<!-- 会员帐号Service -->
	<bean id="csMemberService" class="com.ccclubs.service.admin.impl.CsMemberService">
		<property name="csMemberDao" ref="csMemberDao"></property>
	</bean>
	<!-- 短信模版Service -->
	<bean id="csSmsTemplateService" class="com.ccclubs.service.admin.impl.CsSmsTemplateService">
		<property name="csSmsTemplateDao" ref="csSmsTemplateDao"></property>
	</bean>
	<!-- 节假日Service -->
	<bean id="csHolidayService" class="com.ccclubs.service.admin.impl.CsHolidayService">
		<property name="csHolidayDao" ref="csHolidayDao"></property>
	</bean>
	<!-- 系统属性Service -->
	<bean id="srvPropertyService" class="com.ccclubs.service.admin.impl.SrvPropertyService">
		<property name="srvPropertyDao" ref="srvPropertyDao"></property>
	</bean>
	<!-- 工作流Service -->
	<bean id="srvWorkflowService" class="com.ccclubs.service.admin.impl.SrvWorkflowService">
		<property name="srvWorkflowDao" ref="srvWorkflowDao"></property>
	</bean>
	
	<!-- redis服务配置 
	<bean id="jRedisClient" class="com.ccclubs.helper.redis.DefaultJRedisClient" >
		<property name="config.maxActive"><value>500</value></property>
		<property name="config.maxIdle"><value>5</value></property>
		<property name="config.maxWait"><value>1000000</value></property>
		<property name="host"><value>127.0.0.1</value></property>
		<property name="port"><value>6188</value></property>
		<property name="password"><value>C!c@9c#l~l^u%84p*</value></property>
	</bean>-->

	<!--Service Beans-->
	<!-- 长单缴费Service -->
	<bean id="csLongOrderFeeService" class="com.ccclubs.service.admin.impl.CsLongOrderFeeService">
		<property name="csLongOrderFeeDao" ref="csLongOrderFeeDao"></property>
	</bean>
	<!-- 长单明细Service -->
	<bean id="csLongOrderDetailService" class="com.ccclubs.service.admin.impl.CsLongOrderDetailService">
		<property name="csLongOrderDetailDao" ref="csLongOrderDetailDao"></property>
	</bean>
	<!-- 长租订单Service -->
	<bean id="csLongOrderService" class="com.ccclubs.service.admin.impl.CsLongOrderService">
		<property name="csLongOrderDao" ref="csLongOrderDao"></property>
	</bean>
	<!-- 专车车型Service -->
	<bean id="csSpecialModelService" class="com.ccclubs.service.admin.impl.CsSpecialModelService">
		<property name="csSpecialModelDao" ref="csSpecialModelDao"></property>
	</bean>
	<!-- 专车订单Service -->
	<bean id="csSpecialCarService" class="com.ccclubs.service.admin.impl.CsSpecialCarService">
		<property name="csSpecialCarDao" ref="csSpecialCarDao"></property>
	</bean>
	<!-- 推送消息Service -->
	<bean id="csUnitMtService" class="com.ccclubs.service.admin.impl.CsUnitMtService">
		<property name="csUnitMtDao" ref="csUnitMtDao"></property>
	</bean>
	<!-- 省市地区Service -->
	<bean id="csPlaceService" class="com.ccclubs.service.admin.impl.CsPlaceService">
		<property name="csPlaceDao" ref="csPlaceDao"></property>
	</bean>
	<!-- 人员信息Service -->
	<!-- 用车人员Service -->
	<bean id="csUnitPersonService" class="com.ccclubs.service.admin.impl.CsUnitPersonService">
		<property name="csUnitPersonDao" ref="csUnitPersonDao"></property>
	</bean>
	<!-- 分组信息Service -->
	<bean id="csUnitGroupService" class="com.ccclubs.service.admin.impl.CsUnitGroupService">
		<property name="csUnitGroupDao" ref="csUnitGroupDao"></property>
	</bean>
	<!-- 上下班签到Service -->
	<bean id="tbPassCheckService" class="com.ccclubs.service.admin.impl.TbPassCheckService">
		<property name="tbPassCheckDao" ref="tbPassCheckDao"></property>
	</bean>
	<!-- 公司员工Service -->
	<bean id="tbEmployeeService" class="com.ccclubs.service.admin.impl.TbEmployeeService">
		<property name="tbEmployeeDao" ref="tbEmployeeDao"></property>
	</bean>
	<!-- 公司部门Service -->
	<bean id="tbDepartmentService" class="com.ccclubs.service.admin.impl.TbDepartmentService">
		<property name="tbDepartmentDao" ref="tbDepartmentDao"></property>
	</bean>
	<!-- 提现记录Service -->
	<bean id="csCashRecordService" class="com.ccclubs.service.admin.impl.CsCashRecordService">
		<property name="csCashRecordDao" ref="csCashRecordDao"></property>
	</bean>
	<!-- 系统帮助Service -->
	<bean id="srvHelpService" class="com.ccclubs.service.admin.impl.SrvHelpService">
		<property name="srvHelpDao" ref="srvHelpDao"></property>
	</bean>
	<!-- 订单明细Service -->
	<bean id="csShopOrderItemService" class="com.ccclubs.service.admin.impl.CsShopOrderItemService">
		<property name="csShopOrderItemDao" ref="csShopOrderItemDao"></property>
	</bean>
	<!-- 商城订单Service -->
	<bean id="csShopOrderService" class="com.ccclubs.service.admin.impl.CsShopOrderService">
		<property name="csShopOrderDao" ref="csShopOrderDao"></property>
	</bean>
	<!-- 购物车项Service -->
	<bean id="csCartItemService" class="com.ccclubs.service.admin.impl.CsCartItemService">
		<property name="csCartItemDao" ref="csCartItemDao"></property>
	</bean>
	<!-- 成长分类型Service -->
	<bean id="csGrowTypeService" class="com.ccclubs.service.admin.impl.CsGrowTypeService">
		<property name="csGrowTypeDao" ref="csGrowTypeDao"></property>
	</bean>
	<!-- 签约合同Service -->
	<bean id="tbSaleContractService" class="com.ccclubs.service.admin.impl.TbSaleContractService">
		<property name="tbSaleContractDao" ref="tbSaleContractDao"></property>
	</bean>
	<!-- 跟单报价Service -->
	<bean id="tbSaleQuoteService" class="com.ccclubs.service.admin.impl.TbSaleQuoteService">
		<property name="tbSaleQuoteDao" ref="tbSaleQuoteDao"></property>
	</bean>
	<!-- 客户资料Service -->
	<bean id="tbSaleCustomService" class="com.ccclubs.service.admin.impl.TbSaleCustomService">
		<property name="tbSaleCustomDao" ref="tbSaleCustomDao"></property>
	</bean>
	<!-- 客户组织Service -->
	<bean id="tbCustomGroupService" class="com.ccclubs.service.admin.impl.TbCustomGroupService">
		<property name="tbCustomGroupDao" ref="tbCustomGroupDao"></property>
	</bean>
	<!-- 销售战役Service -->
	<bean id="tbSaleBattleService" class="com.ccclubs.service.admin.impl.TbSaleBattleService">
		<property name="tbSaleBattleDao" ref="tbSaleBattleDao"></property>
	</bean>
	<!-- 品牌战略Service -->
	<bean id="csStrategyService" class="com.ccclubs.service.admin.impl.CsStrategyService">
		<property name="csStrategyDao" ref="csStrategyDao"></property>
	</bean>
	<!-- 事务锁Service -->
	<bean id="srvLockService" class="com.ccclubs.service.admin.impl.SrvLockService">
		<property name="srvLockDao" ref="srvLockDao"></property>
	</bean>
	<!-- 数据事务Service -->
	<bean id="srvTransactionService" class="com.ccclubs.service.admin.impl.SrvTransactionService">
		<property name="srvTransactionDao" ref="srvTransactionDao"></property>
	</bean>
	<!-- 异借确认Service -->
	<bean id="tbAbAffirmService" class="com.ccclubs.service.admin.impl.TbAbAffirmService">
		<property name="tbAbAffirmDao" ref="tbAbAffirmDao"></property>
	</bean>
	<!-- 问题处理记录Service -->
	<bean id="tbSolveService" class="com.ccclubs.service.admin.impl.TbSolveService">
		<property name="tbSolveDao" ref="tbSolveDao"></property>
	</bean>
	<!-- 车位时序Service -->
	<!-- 车&位时序Service -->
	<!-- 车辆调度Service -->
	<bean id="csSchedulingService" class="com.ccclubs.service.admin.impl.CsSchedulingService">
		<property name="csSchedulingDao" ref="csSchedulingDao"></property>
	</bean>
	<!-- 运营商Service -->
	<bean id="csOperService" class="com.ccclubs.service.admin.impl.CsOperService">
		<property name="csOperDao" ref="csOperDao"></property>
	</bean>
	<!-- 商家收支记录Service -->
	<!-- 收支记录Service -->
	<bean id="csOperRecordService" class="com.ccclubs.service.admin.impl.CsOperRecordService">
		<property name="csOperRecordDao" ref="csOperRecordDao"></property>
	</bean>
	<!-- 充值扣款Service -->
	<bean id="csArtifRecordService" class="com.ccclubs.service.admin.impl.CsArtifRecordService">
		<property name="csArtifRecordDao" ref="csArtifRecordDao"></property>
	</bean>
	<!-- 消费科目Service -->
	<bean id="csRecordSubjectService" class="com.ccclubs.service.admin.impl.CsRecordSubjectService">
		<property name="csRecordSubjectDao" ref="csRecordSubjectDao"></property>
	</bean>
	<!-- 定产报修Service -->
	<!-- 问题故障报修Service -->
	<bean id="tbProblemService" class="com.ccclubs.service.admin.impl.TbProblemService">
		<property name="tbProblemDao" ref="tbProblemDao"></property>
	</bean>
	<!-- 电站Service -->
	<bean id="csChargeStationService" class="com.ccclubs.service.admin.impl.CsChargeStationService">
		<property name="csChargeStationDao" ref="csChargeStationDao"></property>
	</bean>
	<!-- 电桩Service -->
	<bean id="csChargePileService" class="com.ccclubs.service.admin.impl.CsChargePileService">
		<property name="csChargePileDao" ref="csChargePileDao"></property>
	</bean>
	<!-- 充电订单Service -->
	<bean id="csChargeBillService" class="com.ccclubs.service.admin.impl.CsChargeBillService">
		<property name="csChargeBillDao" ref="csChargeBillDao"></property>
	</bean>
	<!-- 常用地址Service -->
	<bean id="csFavoriteAddressService" class="com.ccclubs.service.admin.impl.CsFavoriteAddressService">
		<property name="csFavoriteAddressDao" ref="csFavoriteAddressDao"></property>
	</bean>
	
	<!--司机service -->
	<bean id="csDriverService" class="com.ccclubs.service.admin.impl.CsDriverService">
		<property name="csDriverDao" ref="csDriverDao"></property>
	</bean>
	
	<!-- 专车service -->
	<bean id="csCarResService" class="com.ccclubs.service.admin.impl.CsCarResService">
		<property name="csCarResDao" ref="csCarResDao"></property>
	</bean>
	
	<!-- 司机专车service -->
	<bean id="csDriverCarService" class="com.ccclubs.service.admin.impl.CsDriverCarService">
		<property name="csDriverCarDao" ref="csDriverCarDao"></property>
	</bean>
	<!-- 定单簇service -->
	<bean id="csOrderClusterService" class="com.ccclubs.service.admin.impl.CsOrderClusterService">
		<property name="csOrderClusterDao" ref="csOrderClusterDao"></property>
	</bean>
	<bean id="commonUnitService" class="com.ccclubs.service.common.impl.CommonUnitService">
		<property name="commonMoneyService" ref="commonMoneyService"></property>
		<property name="commonDisposeService" ref="commonDisposeService"></property>
		<property name="commonOrderService" ref="commonOrderService"></property>
		<property name="csUnitOrderService" ref="csUnitOrderService"></property>
		<property name="csOrderService" ref="csOrderService"></property>
		<property name="csArgumentService" ref="csArgumentService"></property>
	</bean>
	<bean id="commonOrderService" class="com.ccclubs.service.common.impl.CommonOrderService">
		<property name="csRuleDao" ref="csRuleDao"></property>
		<property name="csGoodsDao" ref="csGoodsDao"></property>
		<property name="csProductDao" ref="csProductDao"></property>
		<property name="csPriceDao" ref="csPriceDao"></property>
		<property name="csMemberDao" ref="csMemberDao"></property>
		<property name="csUserTypeDao" ref="csUserTypeDao"></property>
		<property name="csGiftDao" ref="csGiftDao"></property>
		<property name="csOrderDao" ref="csOrderDao"></property>
		<property name="csOrderDetailDao" ref="csOrderDetailDao"></property>
		<property name="csHolidayDao" ref="csHolidayDao"></property>
		<property name="csFreeHourDao" ref="csFreeHourDao"></property>
		<property name="csUseRecordDao" ref="csUseRecordDao"></property>
		<property name="csCarDao" ref="csCarDao"></property>
		<property name="csOutletsDao" ref="csOutletsDao"></property>
		<property name="commonMoneyService" ref="commonMoneyService"></property>
	</bean>
	<bean name="commonMoneyService" class="com.ccclubs.service.common.impl.CommonMoneyService">
		<property name="csMemberDao" ref="csMemberDao"></property>
		<property name="csRecordDao" ref="csRecordDao"></property>
		<property name="csIntegralRuleDao" ref="csIntegralRuleDao"></property>
		<property name="csFreeHourDao" ref="csFreeHourDao"></property>
		<property name="csUseRecordDao" ref="csUseRecordDao"></property>
		<property name="csOrderDao" ref="csOrderDao"></property>
		<property name="csRefundDao" ref="csRefundDao"></property>
		<property name="csRechargeCardDao" ref="csRechargeCardDao"></property>
	</bean>
	<bean name="commonDisposeService" class="com.ccclubs.service.common.impl.CommonDisposeService">
		<property name="csOrderDao" ref="csOrderDao"></property>
		<property name="csFreeHourDao" ref="csFreeHourDao"></property>
		<property name="csUseRecordDao" ref="csUseRecordDao"></property>
		<property name="csGiftDao" ref="csGiftDao"></property>
		<property name="csCarDao" ref="csCarDao"></property>
		<property name="csMemberDao" ref="csMemberDao"></property>
		<property name="csOrderDetailDao" ref="csOrderDetailDao"></property>
		<property name="commonOrderService" ref="commonOrderService"></property>
		<property name="commonMoneyService" ref="commonMoneyService"></property>
	</bean>
	
	<bean name="csMemberSummaryService" class="com.ccclubs.service.admin.impl.CsMemberSummaryService">
		<property name="csMemberSummaryDao" ref="csMemberSummaryDao"></property>
	</bean>
	
	<bean name="csCoinSourceService" class="com.ccclubs.service.admin.impl.CsCoinSourceService">
		<property name="csCoinSourceDao" ref="csCoinSourceDao"></property>
	</bean>
	
	<!-- 车部件 -->
	<bean id="csCarPartsService" class="com.ccclubs.service.admin.impl.CsCarPartsService" scope="prototype">
		<property name="csCarPartsDao" ref="csCarPartsDao"></property>
	</bean>

	<!-- 管理员车况管理 -->
	<bean id="csCarSysIssueService" class="com.ccclubs.service.admin.impl.CsCarSysIssueService" scope="prototype">
		<property name="csCarSysIssueDao" ref="csCarSysIssueDao"></property>
	</bean>
	
	<bean id="csAnalysisService" class="com.ccclubs.service.admin.impl.CsAnalysisService" scope="prototype">
	
	</bean>
	
	<!-- 服务报警 -->
	<bean id="csServAlarmService" class="com.ccclubs.service.admin.impl.CsServAlarmService" scope="prototype">
		<property name="csServAlarmDao" ref="csServAlarmDao"></property>
	</bean>
	
	<!-- 后勤工作记录 -->
	<bean id="csWorkRecordService" class="com.ccclubs.service.admin.impl.CsWorkRecordService" scope="prototype">
		<property name="csWorkRecordDao" ref="csWorkRecordDao"></property>
	</bean>
	
	
	
	<!-- 外勤系统  车辆整备管理-->
	<bean id="csOutsideStatisticsService" class="com.ccclubs.service.admin.impl.CsOutsideStatisticsService" scope="prototype">
		<property name="csOutsideStatisticsDao" ref="csOutsideStatisticsDao"></property>
	</bean>
	
	<!-- 外勤系统  车辆整备管理-->
	<bean id="csUnderlineMemberService" class="com.ccclubs.service.admin.impl.CsUnderlineMemberService" scope="prototype">
		<property name="csUnderlineMemberDao" ref="csUnderlineMemberDao"></property>
	</bean>
</beans>
