<?xml version="1.0" encoding="UTF-8"?>

<!-- author 飞啊飘啊 -->
<!-- 感谢spring框架 -->

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	

	<!-- 用户Dao -->
	<bean id="srvUserDao" class="com.ccclubs.dao.impl.SrvUserDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>

	<bean id="srvProjectDao" class="com.ccclubs.dao.impl.SrvProjectDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>

	<bean id="srvGroupDao" class="com.ccclubs.dao.impl.SrvGroupDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>

	<bean id="srvLimitedDao" class="com.ccclubs.dao.impl.SrvLimitedDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<!--Dao Beans-->
	<!-- 长单缴费Dao -->
	<bean id="csLongOrderFeeDao" class="com.ccclubs.dao.impl.CsLongOrderFeeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 长单明细Dao -->
	<bean id="csLongOrderDetailDao" class="com.ccclubs.dao.impl.CsLongOrderDetailDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 长租订单Dao -->
	<bean id="csLongOrderDao" class="com.ccclubs.dao.impl.CsLongOrderDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 专车车型Dao -->
	<bean id="csSpecialModelDao" class="com.ccclubs.dao.impl.CsSpecialModelDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 专车订单Dao -->
	<bean id="csSpecialCarDao" class="com.ccclubs.dao.impl.CsSpecialCarDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 推送消息Dao -->
	<bean id="csUnitMtDao" class="com.ccclubs.dao.impl.CsUnitMtDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 省市地区Dao -->
	<bean id="csPlaceDao" class="com.ccclubs.dao.impl.CsPlaceDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 人员信息Dao -->
	<!-- 用车人员Dao -->
	<bean id="csUnitPersonDao" class="com.ccclubs.dao.impl.CsUnitPersonDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 分组信息Dao -->
	<bean id="csUnitGroupDao" class="com.ccclubs.dao.impl.CsUnitGroupDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 上下班签到Dao -->
	<bean id="tbPassCheckDao" class="com.ccclubs.dao.impl.TbPassCheckDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 公司员工Dao -->
	<bean id="tbEmployeeDao" class="com.ccclubs.dao.impl.TbEmployeeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 公司部门Dao -->
	<bean id="tbDepartmentDao" class="com.ccclubs.dao.impl.TbDepartmentDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 提现记录Dao -->
	<bean id="csCashRecordDao" class="com.ccclubs.dao.impl.CsCashRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统帮助Dao -->
	<bean id="srvHelpDao" class="com.ccclubs.dao.impl.SrvHelpDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 订单明细Dao -->
	<bean id="csShopOrderItemDao" class="com.ccclubs.dao.impl.CsShopOrderItemDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 商城订单Dao -->
	<bean id="csShopOrderDao" class="com.ccclubs.dao.impl.CsShopOrderDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 购物车项Dao -->
	<bean id="csCartItemDao" class="com.ccclubs.dao.impl.CsCartItemDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 成长分类型Dao -->
	<bean id="csGrowTypeDao" class="com.ccclubs.dao.impl.CsGrowTypeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 签约合同Dao -->
	<bean id="tbSaleContractDao" class="com.ccclubs.dao.impl.TbSaleContractDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 跟单报价Dao -->
	<bean id="tbSaleQuoteDao" class="com.ccclubs.dao.impl.TbSaleQuoteDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 客户资料Dao -->
	<bean id="tbSaleCustomDao" class="com.ccclubs.dao.impl.TbSaleCustomDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 客户组织Dao -->
	<bean id="tbCustomGroupDao" class="com.ccclubs.dao.impl.TbCustomGroupDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 销售战役Dao -->
	<bean id="tbSaleBattleDao" class="com.ccclubs.dao.impl.TbSaleBattleDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 品牌战略Dao -->
	<bean id="csStrategyDao" class="com.ccclubs.dao.impl.CsStrategyDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 事务锁Dao -->
	<bean id="srvLockDao" class="com.ccclubs.dao.impl.SrvLockDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 数据事务Dao -->
	<bean id="srvTransactionDao" class="com.ccclubs.dao.impl.SrvTransactionDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 异借确认Dao -->
	<bean id="tbAbAffirmDao" class="com.ccclubs.dao.impl.TbAbAffirmDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 问题处理记录Dao -->
	<bean id="tbSolveDao" class="com.ccclubs.dao.impl.TbSolveDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆调度Dao -->
	<bean id="csSchedulingDao" class="com.ccclubs.dao.impl.CsSchedulingDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 运营商Dao -->
	<bean id="csOperDao" class="com.ccclubs.dao.impl.CsOperDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 商家收支记录Dao -->
	<!-- 收支记录Dao -->
	<bean id="csOperRecordDao" class="com.ccclubs.dao.impl.CsOperRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 充值扣款Dao -->
	<bean id="csArtifRecordDao" class="com.ccclubs.dao.impl.CsArtifRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 消费科目Dao -->
	<bean id="csRecordSubjectDao" class="com.ccclubs.dao.impl.CsRecordSubjectDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 定产报修Dao -->
	<!-- 问题故障报修Dao -->
	<bean id="tbProblemDao" class="com.ccclubs.dao.impl.TbProblemDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 微信下行Dao -->
	<bean id="csWxMtDao" class="com.ccclubs.dao.impl.CsWxMtDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 微信上行Dao -->
	<bean id="csWxMoDao" class="com.ccclubs.dao.impl.CsWxMoDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 升级日志Dao -->
	<bean id="csUpgradeLogDao" class="com.ccclubs.dao.impl.CsUpgradeLogDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 成长值记录Dao -->
	<!-- 成长记录Dao -->
	<bean id="csGrowRecordDao" class="com.ccclubs.dao.impl.CsGrowRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 用户扩展信息Dao -->
	<bean id="srvUserExpDao" class="com.ccclubs.dao.impl.SrvUserExpDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 巡检签名Dao -->
	<!-- 巡检作业Dao -->
	<bean id="csOutsideQrDao" class="com.ccclubs.dao.impl.CsOutsideQrDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 在线访客Dao -->
	<bean id="csChatTalkerDao" class="com.ccclubs.dao.impl.CsChatTalkerDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 客服消息Dao -->
	<bean id="csChatMessageDao" class="com.ccclubs.dao.impl.CsChatMessageDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 渠道跟踪维护Dao -->
	<bean id="csChannelLogDao" class="com.ccclubs.dao.impl.CsChannelLogDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 渠道指标Dao -->
	<bean id="csChannelIndexDao" class="com.ccclubs.dao.impl.CsChannelIndexDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 独立IP访问Dao -->
	<bean id="csVisitIpDao" class="com.ccclubs.dao.impl.CsVisitIpDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 访问渠道Dao -->
	<bean id="csChannelDao" class="com.ccclubs.dao.impl.CsChannelDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 销售机会Dao -->
	<bean id="csSaleOpportDao" class="com.ccclubs.dao.impl.CsSaleOpportDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 市场调查Dao -->
	<bean id="csSaleSurveyDao" class="com.ccclubs.dao.impl.CsSaleSurveyDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 销售活动Dao -->
	<bean id="csSaleEventDao" class="com.ccclubs.dao.impl.CsSaleEventDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 营销执行日志Dao -->
	<!-- 营销执行维护Dao -->
	<!-- 营销跟踪Dao -->
	<bean id="csMarketLogDao" class="com.ccclubs.dao.impl.CsMarketLogDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 营销指标Dao -->
	<bean id="csMarketIndexDao" class="com.ccclubs.dao.impl.CsMarketIndexDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 营销策划Dao -->
	<!-- 营销策划方案Dao -->
	<!-- 营销方案Dao -->
	<bean id="csMarketPlanDao" class="com.ccclubs.dao.impl.CsMarketPlanDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 礼品赠品Dao -->
	<bean id="csPresentDao" class="com.ccclubs.dao.impl.CsPresentDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 促销配置Dao -->
	<bean id="csPromotionDao" class="com.ccclubs.dao.impl.CsPromotionDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 活动参与Dao -->
	<bean id="csActivityInDao" class="com.ccclubs.dao.impl.CsActivityInDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 线上活动Dao -->
	<!-- 促销活动Dao -->
	<!-- 营销活动Dao -->
	<bean id="csActivityDao" class="com.ccclubs.dao.impl.CsActivityDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- API日志Dao -->
	<bean id="srvApiLogDao" class="com.ccclubs.dao.impl.SrvApiLogDao">
		<property name="sqlMapClient" ref="ccclubs_dataSqlMapClient"></property>
	</bean>
	<!-- 后台事务脚本Dao -->
	<bean id="srvActionScriptDao" class="com.ccclubs.dao.impl.SrvActionScriptDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 用户授权Dao -->
	<bean id="srvOauthDao" class="com.ccclubs.dao.impl.SrvOauthDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- API客户端Dao -->
	<bean id="srvApiClientDao" class="com.ccclubs.dao.impl.SrvApiClientDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- API接口Dao -->
	<bean id="srvApiDao" class="com.ccclubs.dao.impl.SrvApiDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆上线记录Dao -->
	<bean id="csCarOnDao" class="com.ccclubs.dao.impl.CsCarOnDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 访问详情Dao -->
	<bean id="csVisitDetailDao" class="com.ccclubs.dao.impl.CsVisitDetailDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 邮件内容Dao -->
	<bean id="csEmailDao" class="com.ccclubs.dao.impl.CsEmailDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 策略默认适配Dao -->
	<!-- 计费策略Dao -->
	<bean id="csFeeTypeSetDao" class="com.ccclubs.dao.impl.CsFeeTypeSetDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 电桩历史数据Dao -->
	<bean id="csElecHistoryDao" class="com.ccclubs.dao.impl.CsElecHistoryDao">
		<property name="sqlMapClient" ref="ccclubs_elec_historySqlMapClient"></property>
	</bean>
	<!-- 表单查询Dao -->
	<bean id="srvQueryDao" class="com.ccclubs.dao.impl.SrvQueryDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 客户来电Dao -->
	<bean id="csCallInDao" class="com.ccclubs.dao.impl.CsCallInDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 客户服务Dao -->
	<bean id="csServeDao" class="com.ccclubs.dao.impl.CsServeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 客户关怀Dao -->
	<bean id="csCareDao" class="com.ccclubs.dao.impl.CsCareDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 待办事项Dao -->
	<bean id="csTodoDao" class="com.ccclubs.dao.impl.CsTodoDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统事件类型Dao -->
	<bean id="csEventTypeDao" class="com.ccclubs.dao.impl.CsEventTypeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 事件关注Dao -->
	<bean id="csEventHeedDao" class="com.ccclubs.dao.impl.CsEventHeedDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统事件Dao -->
	<bean id="csEventDao" class="com.ccclubs.dao.impl.CsEventDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 错误信息Dao -->
	<bean id="csErrorDao" class="com.ccclubs.dao.impl.CsErrorDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 表单设计Dao -->
	<bean id="srvModelDao" class="com.ccclubs.dao.impl.SrvModelDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 积分记录Dao -->
	<bean id="csIntegralRecordDao" class="com.ccclubs.dao.impl.CsIntegralRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 消费类型Dao -->
	<bean id="csRecordTypeDao" class="com.ccclubs.dao.impl.CsRecordTypeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员备忘Dao -->
	<bean id="csMemberMemoDao" class="com.ccclubs.dao.impl.CsMemberMemoDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员地址Dao -->
	<bean id="csAddressDao" class="com.ccclubs.dao.impl.CsAddressDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 发票Dao -->
	<!-- 发票记录Dao -->
	<bean id="csInvoiceDao" class="com.ccclubs.dao.impl.CsInvoiceDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 支付宝日志Dao -->
	<!-- 接口日志Dao -->
	<bean id="csAlipayLogDao" class="com.ccclubs.dao.impl.CsAlipayLogDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 订单操作记录Dao -->
	<bean id="csOrderLogDao" class="com.ccclubs.dao.impl.CsOrderLogDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 红包Dao -->
	<bean id="csCoinDao" class="com.ccclubs.dao.impl.CsCoinDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 充电桩Dao -->
	<bean id="csPowerPileDao" class="com.ccclubs.dao.impl.CsPowerPileDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 信用账单Dao -->
	<bean id="csCreditBillDao" class="com.ccclubs.dao.impl.CsCreditBillDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 信用记录Dao -->
	<bean id="csCreditRecordDao" class="com.ccclubs.dao.impl.CsCreditRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 信用卡Dao -->
	<bean id="csCreditCardDao" class="com.ccclubs.dao.impl.CsCreditCardDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 企业对账Dao -->
	<bean id="csUnitBillDao" class="com.ccclubs.dao.impl.CsUnitBillDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 机场服务Dao -->
	<bean id="csUnitAirportDao" class="com.ccclubs.dao.impl.CsUnitAirportDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 价格配置Dao -->
	<bean id="csUnitFeeDao" class="com.ccclubs.dao.impl.CsUnitFeeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 企业订单Dao -->
	<bean id="csUnitOrderDao" class="com.ccclubs.dao.impl.CsUnitOrderDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 企业车管Dao -->
	<bean id="csUnitUserDao" class="com.ccclubs.dao.impl.CsUnitUserDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 企业信息Dao -->
	<bean id="csUnitInfoDao" class="com.ccclubs.dao.impl.CsUnitInfoDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 交通限行Dao -->
	<bean id="csLimitTimeDao" class="com.ccclubs.dao.impl.CsLimitTimeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统配置(城市)Dao -->
	<!-- 系统配置(城市)Dao -->
	<!-- 系统配置(城市)Dao -->
	<!-- 系统配置(城市)Dao -->
	<bean id="csConfigDao" class="com.ccclubs.dao.impl.CsConfigDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 网点区域Dao -->
	<bean id="csAreaDao" class="com.ccclubs.dao.impl.CsAreaDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 维修地点Dao -->
	<bean id="csRepairAdrDao" class="com.ccclubs.dao.impl.CsRepairAdrDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 城市Dao -->
	<!-- 运营城市Dao -->
	<bean id="srvHostDao" class="com.ccclubs.dao.impl.SrvHostDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 传播内容Dao -->
	<bean id="csPropagateDao" class="com.ccclubs.dao.impl.CsPropagateDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 充值卡Dao -->
	<bean id="csRechargeCardDao" class="com.ccclubs.dao.impl.CsRechargeCardDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 问题及选项Dao -->
	<bean id="csQuestAnswerDao" class="com.ccclubs.dao.impl.CsQuestAnswerDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 问卷模板Dao -->
	<bean id="csQuestTemplateDao" class="com.ccclubs.dao.impl.CsQuestTemplateDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>	
	<!-- 宝贝Dao -->
	<!-- 商品信息Dao -->
	<bean id="csItemDao" class="com.ccclubs.dao.impl.CsItemDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 用户回访Dao -->
	<bean id="csRevisitDao" class="com.ccclubs.dao.impl.CsRevisitDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 春节套餐报名Dao -->
	<bean id="csChjSignDao" class="com.ccclubs.dao.impl.CsChjSignDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 分享指数Dao -->
	<bean id="csShareIndexDao" class="com.ccclubs.dao.impl.CsShareIndexDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆照片Dao -->
	<bean id="csCarPhotoDao" class="com.ccclubs.dao.impl.CsCarPhotoDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 中奖结果Dao -->
	<bean id="csLuckyResultDao" class="com.ccclubs.dao.impl.CsLuckyResultDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 抽奖奖项Dao -->
	<bean id="csLuckyItemDao" class="com.ccclubs.dao.impl.CsLuckyItemDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 抽奖活动Dao -->
	<bean id="csLuckyDao" class="com.ccclubs.dao.impl.CsLuckyDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 加油站Dao -->
	<bean id="csGasStationDao" class="com.ccclubs.dao.impl.CsGasStationDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 静态内容Dao -->
	<bean id="csContentDao" class="com.ccclubs.dao.impl.CsContentDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 微信菜单Dao -->
	<bean id="csWxMenuDao" class="com.ccclubs.dao.impl.CsWxMenuDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 微信素材Dao -->
	<bean id="csWxContentDao" class="com.ccclubs.dao.impl.CsWxContentDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 微信指令Dao -->
	<bean id="csWxOrderDao" class="com.ccclubs.dao.impl.CsWxOrderDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 数据任务Dao -->
	<bean id="csTaskDao" class="com.ccclubs.dao.impl.CsTaskDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆保养Dao -->
	<bean id="csMaintainDao" class="com.ccclubs.dao.impl.CsMaintainDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统问题Dao -->
	<!-- 系统BUGDao -->
	<bean id="csBugDao" class="com.ccclubs.dao.impl.CsBugDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统参数Dao -->
	<bean id="csArgumentDao" class="com.ccclubs.dao.impl.CsArgumentDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员组织Dao -->
	<bean id="csMemberGroupDao" class="com.ccclubs.dao.impl.CsMemberGroupDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆维修Dao -->
	<bean id="csRepairDao" class="com.ccclubs.dao.impl.CsRepairDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆历史状态Dao -->
	<bean id="csHistoryStateDao" class="com.ccclubs.dao.impl.CsHistoryStateDao">
		<property name="sqlMapClient" ref="ccclubs_system_historySqlMapClient"></property>
	</bean>
	<!-- 车辆警报Dao -->
	<bean id="csAlarmDao" class="com.ccclubs.dao.impl.CsAlarmDao">
		<property name="sqlMapClient" ref="ccclubs_system_historySqlMapClient"></property>
	</bean>	
	<!-- 车辆当前状态Dao -->
	<bean id="csStateDao" class="com.ccclubs.dao.impl.CsStateDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 支付宝退款Dao -->
	<!-- 接口退款Dao -->
	<bean id="csAlipayRefundDao" class="com.ccclubs.dao.impl.CsAlipayRefundDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员退款Dao -->
	<bean id="csRefundDao" class="com.ccclubs.dao.impl.CsRefundDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 支付宝充值Dao -->
	<!-- 接口充值Dao -->
	<bean id="csAlipayRecordDao" class="com.ccclubs.dao.impl.CsAlipayRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆违章Dao -->
	<bean id="csViolatDao" class="com.ccclubs.dao.impl.CsViolatDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>	
	<!-- 远程控制Dao -->
	<bean id="csRemoteDao" class="com.ccclubs.dao.impl.CsRemoteDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- App更新Dao -->
	<bean id="csUpdateDao" class="com.ccclubs.dao.impl.CsUpdateDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 订单明细Dao -->
	<bean id="csOrderDetailDao" class="com.ccclubs.dao.impl.CsOrderDetailDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 订单Dao -->
	<!-- 系统订单Dao -->
	<bean id="csOrderDao" class="com.ccclubs.dao.impl.CsOrderDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆事故Dao -->
	<bean id="csTroubleDao" class="com.ccclubs.dao.impl.CsTroubleDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 供应商Dao -->
	<bean id="csProvidDao" class="com.ccclubs.dao.impl.CsProvidDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员卡Dao -->
	<bean id="csEvCardDao" class="com.ccclubs.dao.impl.CsEvCardDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 网点Dao -->
	<bean id="csOutletsDao" class="com.ccclubs.dao.impl.CsOutletsDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车辆Dao -->
	<bean id="csCarDao" class="com.ccclubs.dao.impl.CsCarDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 车型Dao -->
	<bean id="csCarModelDao" class="com.ccclubs.dao.impl.CsCarModelDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 套餐内容Dao -->
	<bean id="csPackInfoDao" class="com.ccclubs.dao.impl.CsPackInfoDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 套餐Dao -->
	<!-- 系统套餐Dao -->
	<bean id="csPackDao" class="com.ccclubs.dao.impl.CsPackDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 价格Dao -->
	<bean id="csPriceDao" class="com.ccclubs.dao.impl.CsPriceDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 商品Dao -->
	<bean id="csGoodsDao" class="com.ccclubs.dao.impl.CsGoodsDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 产品Dao -->
	<bean id="csProductDao" class="com.ccclubs.dao.impl.CsProductDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 规则Dao -->
	<bean id="csRuleDao" class="com.ccclubs.dao.impl.CsRuleDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统通知Dao -->
	<bean id="csNoticeDao" class="com.ccclubs.dao.impl.CsNoticeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统日志Dao -->
	<bean id="csLogDao" class="com.ccclubs.dao.impl.CsLogDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 短信发送Dao -->
	<bean id="csSmsMtDao" class="com.ccclubs.dao.impl.CsSmsMtDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员投诉Dao -->
	<!-- 意见反馈Dao -->
	<bean id="csComplainDao" class="com.ccclubs.dao.impl.CsComplainDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 免费优惠记录Dao -->
	<!-- 惠免记录Dao -->
	<bean id="csUseRecordDao" class="com.ccclubs.dao.impl.CsUseRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 免费小时Dao -->
	<bean id="csFreeHourDao" class="com.ccclubs.dao.impl.CsFreeHourDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员消息Dao -->
	<bean id="csMessageDao" class="com.ccclubs.dao.impl.CsMessageDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 用户套餐Dao -->
	<bean id="csUserPackDao" class="com.ccclubs.dao.impl.CsUserPackDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 消费记录Dao -->
	<bean id="csRecordDao" class="com.ccclubs.dao.impl.CsRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 优惠内容Dao -->
	<bean id="csGiftDao" class="com.ccclubs.dao.impl.CsGiftDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 计费方式Dao -->
	<bean id="csUserTypeDao" class="com.ccclubs.dao.impl.CsUserTypeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员关系Dao -->
	<bean id="csMemberShipDao" class="com.ccclubs.dao.impl.CsMemberShipDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员信息Dao -->
	<bean id="csMemberInfoDao" class="com.ccclubs.dao.impl.CsMemberInfoDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 会员帐号Dao -->
	<bean id="csMemberDao" class="com.ccclubs.dao.impl.CsMemberDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 积分规则Dao -->
	<bean id="csIntegralRuleDao" class="com.ccclubs.dao.impl.CsIntegralRuleDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 短信模版Dao -->
	<bean id="csSmsTemplateDao" class="com.ccclubs.dao.impl.CsSmsTemplateDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 节假日Dao -->
	<bean id="csHolidayDao" class="com.ccclubs.dao.impl.CsHolidayDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 系统属性Dao -->
	<bean id="srvPropertyDao" class="com.ccclubs.dao.impl.SrvPropertyDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 工作流Dao -->
	<bean id="srvWorkflowDao" class="com.ccclubs.dao.impl.SrvWorkflowDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 数据交换Dao -->
	<bean id="infoDistributeDao" class="com.ccclubs.dao.impl.CsInfoDistributeDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 电站Dao -->
	<bean id="csChargeStationDao" class="com.ccclubs.dao.impl.CsChargeStationDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 电桩Dao -->
	<bean id="csChargePileDao" class="com.ccclubs.dao.impl.CsChargePileDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 充电订单Dao -->
	<bean id="csChargeBillDao" class="com.ccclubs.dao.impl.CsChargeBillDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 常用地址Dao -->
	<bean id="csFavoriteAddressDao" class="com.ccclubs.dao.impl.CsFavoriteAddressDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<!-- 司机dao -->
	<bean id="csDriverDao" class="com.ccclubs.dao.impl.CsDriverDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<!-- 司机Dao -->
	<bean id="csCarResDao" class="com.ccclubs.dao.impl.CsCarResDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<bean id="csDriverCarDao" class="com.ccclubs.dao.impl.CsDriverCarDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	<bean id="csOrderClusterDao" class="com.ccclubs.dao.impl.CsOrderClusterDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<bean id="csMemberSummaryDao" class="com.ccclubs.dao.impl.CsMemberSummaryDao">
		 <property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<bean id="csCoinSourceDao" class="com.ccclubs.dao.impl.CsCoinSourceDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<bean id="csCarPartsDao" class="com.ccclubs.dao.impl.CsCarPartsDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<bean id="csCarSysIssueDao" class="com.ccclubs.dao.impl.CsCarSysIssueDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<bean id="csServAlarmDao" class="com.ccclubs.dao.impl.CsServAlarmDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<bean id="csWorkRecordDao" class="com.ccclubs.dao.impl.CsWorkRecordDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<!-- 外勤系统  车辆整备管理-->
	<bean id="csOutsideStatisticsDao" class="com.ccclubs.dao.impl.CsOutsideStatisticsDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
	<!-- 外勤系统  车辆整备管理-->
	<bean id="csUnderlineMemberDao" class="com.ccclubs.dao.impl.CsUnderlineMemberDao">
		<property name="sqlMapClient" ref="ccclubs_systemSqlMapClient"></property>
	</bean>
	
</beans>
