/*
活动列表样式
*/
.clear{
	clear:boith;
}
.special-list{
	width:975px;
	height:395px;
	background: rgba(255,255,255,0.82);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1ffffff',endColorstr='#d1ffffff');
	letter-spacing: 1px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: 0 2px 4px -2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 4px -2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 4px -2px rgba(0,0,0,0.1);
	position: relative;
	padding-top:5px;
	padding-left:5px;
}
.special-left-icon{
	width:206px;
	height:142px;
	float:left;
}
.special-left-icon img{
	width:206px;
	height:142px;
	float:left;
}
.special-right{
	width:684px;
	height:142px;
	float:right;
}
.special-right h1{
	padding-top:5px;
	font-weight: 100;
}
.special-right h1 a{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, 'Microsoft Yahei', sans-serif !important;
}
.special-time{
	width:500px;
	height:35px;
}
.special-time p{
	line-height:150%;
	padding-top:10px;
	padding-left:5px;
	color:#666;
}
.special-present{
	line-height:150%;
	font-size:14px;
}
.special-more{
	width:90px;;
	height:30px;	
	background:#fff;
	float:right;
	text-align: center;
	font-size:14px;
	line-height:220%;
	border-radius: 4px ;
	-webkit-border-radius:4px ;
	-moz-border-radius: 4px ;
	border: solid 1px #dfdfdf !important;
	color:#2c2c2c ;
}
.special-more a{
	font-size:14px;
}
.special-share{
	float:right;
	padding-top:8px;
}
/*
banner flash css
*/
.pro-switch {
	overflow: hidden;
	position: relative;
	width:970px;
	height:395px;
}
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider {
	margin: 0 auto;
	position: relative;
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.flexslider .slides {
	zoom: 1;
}
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
	width: 60px;
	height: 90px;
	margin: -60px 0 0;
	display: block;
	background: url(http://demo.lanrenzhijia.com/demo/2013/0305/banner/images/ad_ctr.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	filter:alpha(opacity=0);
-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 0 -90px;
	right: 0;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter:alpha(opacity=50);
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	text-align: center;
	left:0;
	top:362px;
}
.flex-control-nav li {
	margin: 0 5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	background: url(/images/test/dot.png) no-repeat 0 -16px;
	display:block;
	height: 16px;
	overflow: hidden;
	text-indent:-99em;
	width: 16px;
	cursor: pointer;
}
.flex-control-paging li a.flex-active {
	background-position: 0 0;
}
/*
special_list Class star
*/
.banner{width:1920px;overflow:hidden;position:relative}
.banner_inner{position:relative;height:425px;width:990px;margin:0 auto}
.banner_img{width:20000px}
.banner_img li{float:left;width:1903px;position:relative}
.banner .child1{position:absolute;width:588px;height:425px;left:66px;top:0}
.banner .child2{position:absolute;width:654px;height:425px;left:343px;top:0}
.banner_common{position:relative;width:990px;margin:0 auto}
.banner_pre{position:absolute;top:50%;left:0;margin-top:180px;width:60px;height:60px;cursor:pointer;background:url(../images/test/banner_btn_l_24.png) no-repeat;opacity:.5;filter:alpha(opacity=50)}
.banner_next{position:absolute;top:50%;right:0;margin-top:180px;width:60px;height:60px;cursor:pointer;background:url(../images/test/banner_btn_r_24.png) no-repeat;opacity:.5;filter:alpha(opacity=50)}
.banner_pre:hover, .banner_next:hover{opacity:1;filter:alpha(opacity=100)}
.banner .control{width:130px;position:absolute;top:90%;left:50%;margin-left:-40px}
.banner .control li{float:left;margin-left:10px;width:18px;height:18px;border-radius:50%;cursor:pointer;background:#fff}
.banner .control li a{display:none}
.banner .control li.current{background:#ff7f02}

#ccc-global-cont{
	padding: 101px 0 80px !important;
}
.special_list_count{
	width:980px;
	min-height:200px;
	margin:0 auto;
	overflow: hidden;
}
.active_list{
	width:312px;
	height:250px;
	float: left;
	position:relative ;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.active_list_hover{
	width:312px;
	height:254px;
	background:#b73006;
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
  	opacity: 0.9;
  	filter:alpha(opacity=90);
	position: absolute;
	top:0px;
	left:0px;
	/*cursor:pointer;*/
}
.active_list_hover p{
	font-size:20px;
	color:#FFFFFF;
	display:block;
	width:170px;
	height:30px;
	background:url("../images/test/active_more.png") no-repeat 0 5px;
	padding-left:38px;
	padding-top:8px;
	margin-top:90px;
	margin-left:75px;
}
.active_list_hover p a{
	font-size:20px;
	color:#FFFFFF;
}
.special_hide{
	display: none;
}
.list_img{
	width:312px;
	height:135px;
}
.list_img img{
	width:312px;
	height:135px;
	position: absolute;
}
.list_hot{
	width:58px;
	height:50px;
	background:url("../images/test/public-v2_01.png");
	font-size: 16px;
	color:#FFFFFF;
	text-align: center;
	position: relative;
	top:10px;
	left:264px;
	line-height:120%;
}
.list_hots{
	width:58px;
	height:50px;
	background:url("../images/test/public-v2_02.png");
	font-size: 16px;
	color:#FFFFFF;
	text-align: center;
	line-height:40px;
	position: relative;
	top:10px;
	left:264px;
}
.list_content{
	width:312px;
	height:110px;
	background:#FFFFFF;
}
.list_top{
	width:280px;
	height:50px;
	margin:0 auto;
}
.list_top p, .list_top p a{
	color:#019f7f;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Arial, 'Microsoft Yahei', sans-serif ;
}
.list_title{
	font-size: 16px;
	font-weight: bold;
	margin-top:10px;
}
.list_time{
	font-size: 12px;
	margin-top:2px;
}
.active_price{
	height:50px;
	margin:0 auto;
}
.active_price p{
	text-align: center;
	font-size: 20px;
	color:red;
	padding-top:20px;
}
.special-rule{
	width:960px;
	min-height:100px;
	margin:0 auto;
	background:#8d8d8d;
	overflow: hidden;
	margin-top:20px;
}
.special-rule h5{
	line-height:220%;
	text-align: center;
	font-size:22px;
	font-weight: 100;
	color:#FFFFFF;
}
.special-rule p{
	width:95%;
	margin:0 auto;
	line-height:180%;
	font-size:14px;
	padding-bottom:25px;
	color:#FFFFFF;
}
.imt_content{
	width:1003px;
	min-height:100px;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 50px;
}
.imt_content h1{
	text-align: center;
	line-height: 190%;
}
.imt_content p{
	line-height:200%;
	text-indent: 24px;
	font-size: 14px;
}
.investment_div{
	position: relative;
	background: rgba(0,104,159,0.3);
	background: transparent\9\0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#332062e9',endColorstr='#332062e9);
/*	padding: 40px 40px 0;*/
	min-height: 230px;
	top: 20px;
}
.investment_div img{
	vertical-align:bottom; display:block;
}
.panel{
	padding-top: 70px;
}
#to_top{
	width:96px;
	height:106px;
	position:fixed;
	z-index:100;
	right:50px;
	bottom: 50px;
}























