/* CSS Document */
body,html{ margin:0px; padding:0px; width:100%; height:100%;background:#f1f1f1;}
body,td,div,span{ font-size:12px; font-family:"Microsoft YaHei"; color:#4c4c4c;}

form{ margin:0px; padding:0px;}

.button{cursor:pointer;background:url(images/button.png) center;height:30px; line-height:28px; border:1px solid #c7c7c7; margin:0px 5px;padding:0px 10px;text-shadow: 1px 1px 0 #ffffff;}
.button:hover{border:1px solid #c7d7e7;}
.button:active{border:1px solid #c7b7a7;}
.button img{width:20px;height:20px;}

.combox .button{color:#666666;}

a{color:#000000; }

.text{height:25px;padding:0px;}
.input{ border:1px solid #cccccc;line-height:25px;background:#FFFFFF url(images/input.gif) top right;}
.input:hover{background:url(images/input.hover.gif) top right;background-color:#FDF3C2;}
textarea.input{line-height:normal;}
.txt{text-align:center;}

.highlight{border: 1px solid #fcd113; background: #f8da4e; color: #915608;}
.state-default{background:url(images/state-default.png) center #dddddd; height:32px; line-height:32px; border:1px solid #dddddd;}
.state-focus{background:url(images/state-focus.png) center #2aa3d4; height:32px;line-height:32px; color:#FFFFFF;border:1px solid #2aa3d4;}
.state-active{background:url(images/state-active.png) center #75a93e; height:32px;line-height:32px; color:#FFFFFF;border:1px solid #75a93e;}
.state-header{background:url(images/state-header.png) center center repeat-x; height:32px;line-height:32px;color:#093e6a;border:1px solid #dddddd;}
.state-panel{background:url(images/head-panel.png) center; height:32px; line-height:32px; color:#FFFFFF; border:1px solid #2aa3d4;}
.state-view{background:url(images/state-view.png) center top repeat-x; height:32px; line-height:32px; border:0px solid #dddddd;}
.state-title{background:url(images/state-title.png) center; height:32px; line-height:32px;border:1px solid #dddddd;}
.state-content{background:#f1f1f1;border:0px solid #dddddd;}
.state-input{ border:1px solid #cccccc;text-indent:5px;word-break:break-all;word-wrap:break-word;box-shadow:0px 0px 5px #ededed inset;}
.state-input img{max-width:600px;}
.state-ui{background:#ffffff;border:1px solid #cccccc;}

.paneler{background:#f1f1f1;box-shadow:0px 0px 5px #aaaaaa;}
.paneler .titler{font-weight:bold;text-indent:10px;border:1px solid #2aa3d4;background:url(images/state-focus.png) center center repeat-x; height:32px;line-height:32px;color:#ffffff;}
.paneler .matter{background:#f4f4f4;*border:1px solid #dddddd;padding:5px;height:200px;}
.paneler .fixed{overflow:hidden;}

.extrude{color:#FF0000;}

.blank{background:#ffffff;}

.wide{width:620px;}
.narrow{width:225px;}

.minor{}

center font h4{font-size:18px;}

.clear{ clear:both;}

.hidden{ display:none;}

.title{}
.title .linker{float:right;line-height:16px;margin-top:8px;margin-right:5px;text-decoration:none;font-weight:normal;font-size:12px;}
.title .linker img{width:16px;border:0px;}
.minimize .down{display:inline;}
.minimize .up{display:none;}
.maximize .down{display:none;}
.maximize .up{display:inline;}


.shortcuts{display:none;position:fixed;*position:absolute;z-index:1;top:0px;left:0px;width:180px;height:100%;overflow:visible;border:0px solid #cccccc;}
.shortcuts .holder{margin-right:5px;height:100%;overflow-y:auto;}
.shortcuts .shadow{position:absolute;height:100%;width:10px;top:0px;left:172px;background: url(images/separator-panel.png) right center repeat-y;}
.shortcuts .item{
	display:block;text-align:center;text-decoration:none;border:0px;background:transparent;
	cursor:pointer;padding:0px;width:100%;height:40px;overflow:hidden;
	line-height:40px;font-size:12px;text-align:left;
}
.shortcuts .item:hover,.shortcuts .focus{background:#ee0000;color:#ffffff;}
.shortcuts .item img{width:18px;height:18px;margin:12px 5px 12px 10px;border:0px;}
.shortcuts .item span{color:#ffffff;display:none;float:right;margin-right:10px;}
.shortcuts .item:hover span{display:block;}
.toggler{float:left;padding:0px 5px;display:block;height:33px;border-right:1px solid #cccccc;}
.toggler span{display:block;width:25px;height:33px;float:left;background:url(images/toggler.png) left center no-repeat;}
.toggler .on{background-position:-34px center;}
.margin-by-shortcut{margin-left:180px;}

.iframe{ width:100%; height:100%; border:0px;}

.shadow .tl{width:8px;height:8px;background:url(shadow/tl.png) right bottom no-repeat;}
.shadow .tr{width:8px;height:8px;background:url(shadow/tr.png) left bottom no-repeat;}
.shadow .bl{width:8px;height:8px;background:url(shadow/bl.png) right top no-repeat;}
.shadow .br{width:8px;height:8px;background:url(shadow/br.png) left top no-repeat;}
.shadow .t{height:8px;background:url(shadow/t.png) center bottom repeat-x;}
.shadow .r{width:8px;background:url(shadow/r.png)  left center repeat-y;}
.shadow .b{height:8px;background:url(shadow/b.png) center top  repeat-x;}
.shadow .l{width:8px;background:url(shadow/l.png) center right repeat-y;}
.shadow .c{border:1px solid #E4E4E4;}


/*conctrols*/
.tree-item{height:28px;line-height:28px;padding:3px 0px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-indent:15px;}
.tree-item a{color:#000000;}
.tree-doc{background:url(images/doc.gif) 5px center no-repeat;background:none;text-indent:15px;}
.tree-icon{width:20px;height:20px;vertical-align:middle;margin:0px 6px 0px 3px;border:0px;}
.tree-more{background:url(images/more.gif) 5px center no-repeat;}
.tree-less{background:url(images/less.gif) 5px center no-repeat; }

.title{padding-right:20px;position:relative;z-index:2;background:url(images/state-header.png) center center repeat-x; height:33px; line-height:32px; text-indent:10px; font-weight:bold; font-size:14px;margin:0px 10px;border:solid #d6d6d6;border-width:1px 1px 1px 1px;margin-top:10px;}
.title .caption{float:left;}
.line{ clear:both; height:20px; overflow:hidden; margin:0px; background:url(images/line.png) center repeat-x;}
.plate{
	z-index:1;padding:10px 10px;margin:0px 10px;border:solid #cccccc;border-width:0px 1px 1px 1px;	
	background-color:#efefef;box-shadow:0px 0px 5px #bbbbbb;min-height:10px;overflow:visible;
}
.plate .option a img{margin:0px 5px;}
.content{margin:5px 10px;*width:100%;}

.toggle{ margin-top:-10px;margin-bottom:10px;}
.toggle button{background:url(images/switcher-button.png); width:41px; height:9px; border:0px; margin:0px auto;padding:0px; cursor:pointer;}
.toggle .show{ background-position:0 9px;}
.toggle .hide{ background-position:0 0;}


.dropdowan{float:left;text-indent:0px;cursor:pointer;position:relative;z-index:9999;overflow:visible;display:block;width:120px;height:34px;line-height:32px;font-size:12px;font-weight:normal;margin:0px;padding:0px;}
.dropdowan dt{width:100%;height:100%;height:34px;line-height:32px;font-size:12px;font-weight:normal;margin:0px;padding:0px;display:block;}
.dropdowan dt img{width:20px;height:20px;float:left;margin:7px 5px;}
.dropdowan dd{width:100%;position:absolute;display:none;top:0px;left:-10px;margin:0px;padding:0px;}
.dropdowan dd .shadow{width:100%;}
.dropdowan dd .c{border:0px;padding-top:33px;*padding-top:36px;}
.dropdowan dd a{background:#f1f1f1;display:block;width:100%;height:32px;line-height:30px;color:#000000;font-size:12px;font-weight:normal;text-indent:10px;padding:0px 0px;text-decoration:none;}
.dropdowan dd a:hover{background:url(images/state-focus.png) 0px 0px;color:white;}
.dropdowan:hover dd{display:block;}

.toolbar{background:url(images/state-focus.png) 0px 0px;height:32px;line-height:30px;color:#ffffff;border:1px solid #2aa3d4;margin-top:5px;}
.toolbar button{ border:0px; background:8px center no-repeat; text-indent:20px; height:28px; margin:3px; display:inline-block;line-height:26px;}
.toolbar .add,.toolbar .edit,.toolbar .del,.toolbar .detail{ float:right;color:#ffffff;}
.toolbar .all,.toolbar .invert{ float:left;color:#ffffff;}
.toolbar a{color:#ffffff;}
.toolbar .item{float:right;line-height:34px;}
.toolbar .item img{height:20px;margin:0px 5px;}
.toolbar .more{float:left; line-height:32px; margin:0px 20px;}
.toolbar .add{ background-image:url(images/add.gif);display:none;}
.toolbar .edit{ background-image:url(images/edit.gif);}
.toolbar .del{ background-image:url(images/del.gif);}
.toolbar .detail{ background-image:url(images/detail.gif);}
.toolbar .all{ background-image:url(images/all.gif);}
.toolbar .invert{ background-image:url(images/invert.gif);}
.toolbar .btn{height:32px;line-height:32px;color:#ffffff;font-size:12px;font-weight:normal;text-indent:10px;margin-right:5px;float:right;text-decoration:none;}
.toolbar .btn img{margin:0px 5px;width:20px;height:20px;}

.optionMenu{background:url(images/state-focus.png) 0px 0px;color:#ffffff;border:1px solid #2aa3d4;}
.optionMenu a{color:#ffffff;}

.table{background:#dddddd;table-layout:fixed;clear:both;}
.table td{ height:32px; line-height:32px;color:#000000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.table thead td{font-weight:bold; border-bottom:1px solid #FFFFFF;text-align:center;}
.table thead td a{white-space: nowrap; text-decoration:none; color:#000000;cursor:pointer;}
.table thead .operation{text-indent:0px;}
.table thead .operation a{display:block;background:url(images/state-focus.png) center;border-radius: 15px; height:26px;line-height:25px; margin:0px 10px; color:#FFFFFF;border:1px solid #2aa3d4;}
.table tbody td{background:#FFFFFF;text-indent:10px;height:36px;line-height:36px;}
.table tbody .focus td{background:#EaF6Fc;}
.table tbody .even{background:#ffffff;}
.table tbody .odd{background:#F8F8F8;}
.table tbody .blank{background:#f2f2f2;}
.table tbody td .modify{width:16px;height:16px;margin-left:-10px;background:url(images/modify.gif) center no-repeat;}
.table tbody td a{margin:0px 2px;}
.table tbody .clicked td{background:#fcFcd6;}
.table tbody .td-checkbox{background:#F8F8F8;text-indent:0px;}
.table tbody .options{background:#F8F8F8;}
.table tbody .operation{}
.grid-editable tbody td{ height:30px; line-height:30px;}

.stats{height:400px;}
.stats .table{box-shadow:0px 0px 5px #cccccc;}
.stats tbody td{text-align:center;text-indent:0px;padding:0px 3px;}
.stats .total{font-family:Impact,'微软雅黑';font-size:14px;}
.stats .total0,.stats .price0{color:red;}
.stats .total1,.stats .price1{color:blue;}
.stats .total2,.stats .price2{color:green;}
.stats .total3,.stats .price3{color:#FF9900;}
.stats .total4,.stats .price4{color:#FF00cc;}
.stats .total5,.stats .price5{color:#003300;}
.stats .total6,.stats .price6{color:#663366;}
.stats .total7,.stats .price7{color:#99CC33;}
.stats .total8,.stats .price8{color:#33CC33;}

.desc{ padding-left:20px; display:inline-block; background:url(images/desc.gif) 5px center no-repeat;}
.asc{ padding-left:20px; display:inline-block; background:url(images/asc.gif) 5px center no-repeat;}

.pager{ margin:10px; padding:0px;}
.pager li{ margin:3px; padding:0px 10px; list-style:none; float:left;background:url(images/state-default.png) center; height:22px; line-height:22px; border:1px solid #cccccc; cursor:pointer;}
.pager .focus{background:url(images/state-focus.png) center; height:22px;line-height:22px; color:#FFFFFF;border:1px solid #2aa3d4;}
.pager a{ text-decoration:none; color:#000000;}
.pager .text{ background:none; border:0;}

.tips{width:280px;position:absolute;z-index:9999999;display:none;  }
.tips .content{clear:both;color: #ffffff;border:3px solid #cd0a0a; background:#e14f1c;padding:15px;line-height:20px;}

.tooltip{z-index:99;float:left;}
.tooltip .body{position:relative;overflow:visible;}
.tooltip .closer{float:right;color:#ffffff;text-decoration:none;margin-left:10px;}
.tooltip .cnt{clear:both;cursor:pointer;max-width:270px;color:#ffffff;border:1px solid #2aa3d4; background:url(images/head-panel.png) center;padding:5px 10px;line-height:20px;}
.tooltip .arr{position:absolute;z-index:2;width:0px;height:0px;overflow:visible;}
.tooltip .top{left:50%;margin-left:-8px;top:-15px;}
.tooltip .bottom{left:50%;margin-left:-8px;bottom:-15px;}
.tooltip .left{top:50%;margin-top:-8px;left:-15px;}
.tooltip .right{top:50%;margin-top:-8px;right:-15px;}
.tooltip .arr div{position:absolute;width:0px;height:0px;overflow:hidden;border:8px solid transparent;}
.tooltip .arr .ab{z-index:1;}
.tooltip .arr .ba{z-index:0;}

.tooltip .top .ab{border-bottom:8px solid #2aa3d4;top:0px;}
.tooltip .bottom .ab{border-top:8px solid #2aa3d4;bottom:0px;}
.tooltip .left .ab{border-right:8px solid #2aa3d4;left:0px;}
.tooltip .right .ab{border-left:8px solid #2aa3d4;right:0px;}

.tooltip .top .ba{border-bottom:8px solid #E4E4E4;top:-3px;}
.tooltip .bottom .ba{border-top:8px solid #E4E4E4;bottom:-3px;}
.tooltip .left .ba{border-right:8px solid #E4E4E4;left:-3px;}
.tooltip .right .ba{border-left:8px solid #E4E4E4;right:-3px;}



.combox{height:24px;line-height:24px;position:relative;display:inline-block;_display:block;float:left;cursor:pointer;font-size:12px;}
.combox .face{height:24px;width:100%;padding:0px;}
.combox .face span{text-align:left;height:22px;line-height:24px;border:0px;padding:0px;text-indent:5px;display:block;margin-right:24px;overflow:hidden;}
.combox .face .button{font-family:'微软雅黑';font-size:12px;float:right;height:22px;line-height:19px;width:22px;overflow:hidden;padding:0px;margin:1px;}
.combox .soma{height:auto;width:auto;padding:auto;text-align:left;display:none;box-shadow:0px 0px 5px #bbbbbb;position:absolute;background:#ffffff;border:1px solid #cccccc;border-top:0px;}
.combox .soma input{margin:3px;display:block; padding:0px; height:24px; line-height:24px; border:1px solid #DEDEDE;}
.combox .soma .button{margin:3px;display:block;width:auto;padding:0px;text-align:center;}
.combox .soma a{text-decoration:none;display:block;height:24px;line-height:24px;color:black;text-indent:0px;white-space: nowrap;}
.combox .soma a:hover{ background:blue;color:white;}
.combox .soma a span{display:block;width:11px;height:11px;overflow:hidden;text-indent:0px;text-align:center;line-height:11px;float:left;margin:6px 3px;}



.query{}
.query dl{float:left;font-size: 12px;height: 26px;line-height: 26px;margin: 5px 0px;padding: 0; white-space: nowrap;width: 260px;}
.query dt{margin:0px;padding:0px;width:72px;height:27px;overflow:hidden;float:left;margin-left:5px;text-align:right; color:#000000;text-shadow: 1px 1px 0 #ffffff;}
.query dd{margin:0px;padding:0px;padding-left:20px;float:left;height:inherit;text-overflow: ellipsis;}
.query .option{text-align:center;}
.query .option table{margin:0px auto;}
.query .option table td{text-align:center;}
.query .option table .button{ margin:5px 20px;padding:0px 15px;border-radius: 4px;}
.query .Not{display:none;float:left;margin-left:-20px;}
.query .input,.query .combox,.query select{width:110px;}
.query .half{width:47px;}
/*.query .conner{background:url(images/conner.png) left top no-repeat;}*/
.query .conner dt{color:blue;}

.modify{display:inline-block;width:20px;height:20px; background:url(images/edit.gif) center no-repeat;}
.lookup{display:inline-block;width:18px;height:18px; background:url(images/detail.gif) center no-repeat;margin-left:2px;vertical-align:middle;}
.reladd{display:inline-block;width:18px;height:18px; background:url(images/add.gif) center no-repeat;margin-left:-2px;vertical-align:middle;}
.checkbox{background:url(images/checkbox.png?v=1) 0px 0px no-repeat;cursor:default;display:inline-block;width:21px;height:21px; margin-top:2px;float:left;margin-left:-20px;}
.checkbox:hover{background-position:-21px 0px;}
.checked-not{background-position:0px -21px;}
.checked-not:hover{background-position:-21px -21px;}
.checked-yes{background-position:0px -42px;}
.checked-yes:hover{background-position:-21px -42px;}
.join{vertical-align:top;margin-top:6px;*margin-top:0px;_margin-top:0px;}


.condition{width:100%;}
.condition strong{float:left;display:block;width:100px;height:36px; line-height: 36px; text-align:right;}
.condition ul,.condition li{margin:0px; padding:0px;list-style:none;}
.condition ul{ margin-left:100px;}
.condition li{float:left;font-size: 12px;height: 24px;line-height: 24px;margin: 5px 10px;padding: 0; white-space: nowrap;}


.form dl{line-height:20px;margin:0px;padding:0px;float:left;width:48%;font-size:12px;line-height:10px;height:inherit;margin:3px 0px;}
.form dt{line-height:20px;margin:0px;padding:0px;width:110px;height:inherit;float:left;text-align:right;color:#555555;height:48px;font-size:13px; text-shadow: 1px 1px 0 #ffffff;}
.form dd{line-height:20px;margin:0px;padding:0px;padding-left:5px;height:inherit;text-overflow: ellipsis;width:auto;margin-left:110px;}
.form dd b{color:#FF0000; font-weight:bold; margin:0px 0px;}
.form dd label{white-space: nowrap;}
.form dd em{display:block;font-style:normal;width:100%; height:20px; line-height:20px;margin:0px; white-space:nowrap; overflow:hidden;text-overflow: ellipsis; color:#888888; font-size:12px; }
.form dd .error{text-decoration:underline; color:#FF0000;}
.form .head,.form .body,.form .foot{width:860px;margin:0px auto;}
.form .head{height:48px;display:none;}
.form .body{padding:20px 0px;border:0px;}
.form .foot{height:48px;display:none;}
.form .body .content{ margin:10px 20px;}
.form center .button{ margin:5px 10px;padding:0px 15px;border-radius: 4px;}
.form .prompt{ width:700px; padding:15px 0px 15px 0px;margin:10px auto;*margin:10px 50px; text-indent:55px; border:solid #dddddd; border-width:1px 0px 1px 0px; background:#FAFAFA url(images/caution.gif) 30px center no-repeat; color:#000000;}
.form .line{ margin:10px 50px;}
.form .state-input{line-height:28px;}

.iframe-list{width:620px;}
.iframe-form{width:860px;margin-left:-146px;border:0px;}


.tab-iframes{width:820px;margin:10px auto;*margin:10px 20px;}
.tab-iframes .iframe-list{width:820px;}
.tab-iframes .tits{z-index:4;position:relative;overflow:hidden;}
.tab-iframes .tits .btns{*width:100%;height:30px;margin-right:100px;overflow:hidden;}
.tab-iframes .btns .button{border-bottom:0px;margin:0px 3px 0px 0px;width:89px;white-space:nowrap;*padding:0px;box-shadow:0px 0px 3px #bbbbbb;}
.tab-iframes .tits .opts{float:right;width:100px;}
.tab-iframes .tits .opts a{cursor:pointer;display:block;text-decoration:none;text-align:center;border:1px solid #dddddd;background:#fafafa;color:#aaaaaa;width:24px;height:24px;line-height:24px;margin:1px 0 0 5px;float:left;}
.tab-iframes .tits .opts .L{ background:url(images/toleft.gif) #fafafa center no-repeat;}
.tab-iframes .tits .opts .R{ background:url(images/toright.gif) #fafafa center no-repeat;}
.body-wrap .tab-iframes .btns .on{background:url(images/state-focus.png) center;color:#FFFFFF;border-color:#2aa3d4;text-shadow:none;}
.tab-iframes .click-tips{line-height:32px;text-indent:20px;padding:5px 0px;background:#fafafa;}
.tab-iframes .cnts{display:none;box-shadow:0px 0px 3px #bbbbbb;position:relative;z-index:8;}

.wrap-iframes{width:100%;overflow:hidden;position:fixed;*position:absolute;bottom:0px;z-index:9999999999;background:url(images/tbg.png) top;}

.fill-body{height:66px;padding:0px;}
.body-wrap{overflow:hidden;padding:0px;width:100%;}
.body-wrap .wrap-body{overflow-y:scroll;height:50%;}
.body-wrap .fill-body{height:50%;width:100%;overflow:hidden;}
.body-wrap .fill-body .state-input{border-width:0px;}
.body-wrap .wrap-iframes{padding-top:0px;padding-bottom:0px;}
.body-wrap .wrap-iframes .tab-iframes{width:100%;margin:0px;}
.body-wrap .wrap-iframes .tab-iframes .cnts{display:block;width:100%;}
.body-wrap .wrap-iframes .tab-iframes .cnts .iframe-list{width:100%;height:100%;}
.body-wrap .wrap-iframes .click-tips{display:none;}


.pagetype .form .head{background:url(images/form-head.png) center; height:48px;display:block;}
.pagetype .form .body{background:url(images/form-body.png) center; padding:10px 0px 10px 0px;display:block;}
.pagetype .form .foot{background:url(images/form-foot.png) center; height:48px;display:block;}

.details{width:755px;padding:15px;}
.details dl{margin:0px;padding:0px;float:left;width:49%;font-size:12px;line-height:20px;height:inherit;margin-top:5px;}
.details dt{margin:0px;	padding:0px;width:100px;height:inherit;min-height:25px;float:left;text-align:right; color:#000000; font-weight:bold;}
.details dd{margin:0px;padding:0px;height:inherit;padding-left:5px;line-height:25px;margin-left:110px;overflow:hidden;word-break:break-all;}

.dialog{position:absolute; z-index:100; top:0px; left:0px;}
.dialog .caption{ font-weight:bold; text-indent:10px; padding-right:10px;}
.dialog .caption .icon{ float:right; text-indent:0px; display:block; cursor:pointer; width:18px; height:18px; line-height:18px; text-align:center; margin:6px 2px; color:#FFFFFF;}
.dialog .caption .title{color:#FFFFFF;background:none;border:0px;}
.dialog .body{border:solid #CCCCCC; border-width:0 1px 0 1px;}
.dialog .body .content{margin:15px 15px 10px 15px;overflow:auto;color:#000000;}
.dialog .option{ padding:0px 10px 10px 10px; text-align:center;border:solid #CCCCCC;border-width:0 1px 1px 1px;}
.dialog .option .button{ margin:5px 15px;}

.dialog .body,.dialog .option{border:0px;}

.paper{position:absolute; z-index:100; top:0px; left:0px; border:3px solid #E4E4E4; background:#FFFFFF;}
.paper .caption{ font-weight:bold; height:24px; line-height:24px; text-indent:15px;border:solid #CCCCCC;border-width:1px 1px 0px 1px;}
.paper .caption .close{ float:right; display:inline-block; cursor:pointer; width:18px; height:18px; line-height:18px;margin-right:20px; color:#000000; }
.paper .body{ padding:15px 10px 10px 10px; border:solid #CCCCCC; border-width:0 1px 0 1px; }
.paper .body .content{overflow:auto;color:#000000;}
.paper .option{ padding:0px 10px 10px 10px; text-align:center;border:solid #CCCCCC;border-width:0 1px 1px 1px;}
.paper .option .button{ margin:5px 15px; float:right;}

.overlay{position:fixed; top:0px; left:0px; width:100%; height:100%; border:0px; background:#000000;}
.overlay{
	filter:alpha(opacity=10);  
    -moz-opacity:0.1;  
    -khtml-opacity: 0.1;  
    opacity: 0.1;
    z-index:1;
}
.overlay iframe{
	filter:alpha(opacity=00);  
    -moz-opacity:0.0;  
    -khtml-opacity: 0.0;  
    opacity: 0.0;
    z-index:1;
}


.loading{position:fixed; top:0px; left:0px; width:100%; height:100%;border:0px;}
.loading .mask{
	filter:alpha(opacity=10);  
    -moz-opacity:0.1;  
    -khtml-opacity: 0.1;  
    opacity: 0.1;
    z-index:1;
}
.loading .mask iframe{
	filter:alpha(opacity=00);  
    -moz-opacity:0.0;  
    -khtml-opacity: 0.0;  
    opacity: 0.0;
    z-index:1;
}
.loading .icon{position:absolute;z-index:10;top:0px; left:0px; width:100%; height:100%; border:0px; background:url(images/loading.gif) center no-repeat;}

.menu{display:none;position:absolute;z-index:999999;list-style:none; padding:0px; margin:0px;height:auto; background:#FFFFFF; border:1px solid #CCCCCC;}
.menu td{ text-indent:8px;cursor:default; white-space:nowrap; width:100%; padding-right:30px;}

.downlist{position: absolute;list-style:none; padding:0px; margin:0px;height:auto; background:#ffffff; border:1px solid #CCCCCC;}
.downlist td{ text-indent:8px; height:28px; line-height:28px;cursor:default; white-space:nowrap; width:100%; padding-right:30px;}
.downlist .focus{ background:#0066CC; color:#FFFFFF;}

.treemenu{position: absolute; padding:1px;border:1px solid #bbbbbb;}
.treemenu td{ padding-right:40px; white-space:nowrap;}


.listinput{min-height:24px;margin-bottom:2px;float:left;}
.listinput div{display:inline-block;margin:0px 5px;text-indent:5px;line-height:22px;height:22px;overflow:hidden;}
.listinput span{padding:0px 5px;color:red;line-height:22px;cursor:pointer;}

.imagelist{min-height:24px;margin-bottom:2px;width:620px;float:left;}
.imagelist div{margin:2px;width:148px;height:148px;background:#ffffff;border:1px solid #cccccc;overflow:hidden;float:left;position:relative;}
.imagelist div a{display:table-cell; vertical-align:middle;width:148px;height:148px;margin:1px;text-align:center;}
.imagelist div span{display:block;padding:0px;color:red;text-align:center;line-height:22px;width:22px;height:22px;cursor:pointer;position: absolute;z-index:9;top:0px;left:0px;}
.imagelist div img{max-width:140px;max-height:140px;}

.form dd .button{height:26px;line-height:24px;}

/************************************************************************************/


/*login*/
#login{ width:976px; height:477px; background:url(images/login.png);}
#login td{ color:#FFFFFF;}
#login .head{height:63px; padding-left:100px;}
#login .foot{height:63px;}
#login .body{ height:351px;} 
#login form{ margin:0px; padding:0px;}
#login form #username,#login form #password{ width:130px; border:1px solid #cccccc;}
#login form #syscode{width:65px;border:1px solid #cccccc;}


/*header*/
#head-panel{ background:url(images/head-panel.png) center -25px;width:100%; height:100%;}
#head-panel #logo{float:left; padding:5px;font-size:26px;color:#ffffff;font-weight:bold;}
#head-panel #panel{height:32px; border:0px solid; width:auto;}
#head-panel #panel .info{color:#000000;line-height:20px; overflow:hidden;float:left;margin:5px; margin-left:40px; width:auto; padding-left:10px; padding-right:10px;}
#head-panel #panel .info a{color:#000000;}
#head-panel #panel .info span{color:#ffffff;}
#head-panel #panel .info span a{color:#ffffff;}
#head-panel #panel .option{overflow:hidden;}
#head-panel .icon{width:40;height:40px;display:block; float:right; text-align:center;margin:5px 10px;}
#head-panel .icon img{width:24px;height:24px;border:0px;}
#head-panel .icon span{display:block;color:#000000;line-height:12px;}
#head-panel .icon span em{color:#ffffff;font-style:normal;}
#left-title{ width:200px; float:left;}

/*left*/
#navigate{border-bottom:0px solid #18a0e0;background:#d2e6f0; height:100%;}
#navigate .state-focus{width:140px;}
#navigate .c{background:url(images/nav-center.png) center; height:32px; width:38px;}
#navigate td{ font-weight:bold; font-size:13px; height:32px; border:0;}

#navigate .state-focus .shdw{background:url(images/l.png) right center repeat-y;width:32px;height:32px;float:left;}

.navtop{position:absolute;overflow:hidden;height:9px;width:230px; top:0px; left:5px;background:url(images/panel-switcher.png) center top repeat-x;z-index:10;}
.navitab{width:32px;height:100%;float:left;background:url(images/panel-separator.png) right repeat-y;overflow:hidden;}
.navitab ul,.navitab li{list-style:none;margin:0px;padding:0px;}
.navitab li{cursor:pointer;width:28px;margin:5px 0px 0px 3px;color:#aaaaaa;padding:10px 0px;border:1px solid #cdcdcd;text-align:center;box-shadow:0px 0px 3px #bbbbbb;}
.navitab .clicked{background:url(images/nav-focus.png);color:#000000;font-weight:bold;}
.navicnt{margin-left:32px;background:#f1f1f1;}

#accordion .item .state-active,#accordion .item .state-header{font-weight:bold; cursor:pointer; text-indent:10px;}
#accordion .item,#accordion .panel{width:100%;}
#accordion .item{text-indent:15px;display:block;text-decoration:none; font-weight:bold; cursor:pointer;}
#accordion .panel{background:#f1f1f1; overflow:auto; display:none;padding:5px 0;}
#accordion .state-active{ border:0;}
#accordion .state-header{ border:0; border-top:1px solid #dddddd;}

#accordion .tree-item a{text-shadow: 1px 1px 0 #ffffff;text-decoration:none;}
#accordion .tree-item a:active{color:blue;}

/*separator*/
#separator-panel{}
#separator-panel .state-title{border:0px; border-bottom:2px solid #18a0e0; height:32px;}
#separator-panel .separator{ background:url(images/separator-panel.png);}
#separator-button{ background:url(images/separator-button.png); width:9px; height:41px; border:0px; margin:0px; padding:0px; cursor:pointer;}
#separator-panel .show{ background-position:0 0;}
#separator-panel .hide{ background-position:9px 0;}
#separator-line{ background:url(images/separator-line.png); width:3px; height:100%;}


/*switcher*/
#switcher-panel{}
#switcher-panel .switcher{ background:url(images/switcher-panel.png);}
#switcher-button{ background:url(images/switcher-button.png); width:41px; height:9px; border:0px; margin:0px; padding:0px; cursor:pointer;}
#switcher-panel .show{ background-position:0 0;}
#switcher-panel .hide{ background-position:0 9px;}


/*right*/
#right-panel .state-title{ border:0px;border-bottom:2px solid #18a0e0;}
#tabmore,#tabframe{ height:32px;}

/*task-panel*/
#task-panel{border-top:1px solid #dddddd;}
#task-panel .column{height:100%;line-height:32px;}
#task-panel #start-menu{float:left;width:72px;}
#task-panel #start-menu button{width:100%;height:100%;border:0px;background:none;font-size:14px;color:#666666;}
#task-panel #start-quick{float:left;}
#task-panel #task-bar{}
#task-panel #system-msg{float:right;padding-right:10px;}


#tabframe{overflow:hidden; float:left;}
#tabs{}
#tabs .state-focus td,#tabs .state-active td{ color:#FFFFFF;}
#tabs .item{ padding:0px 3px 0px 3px; margin:0px 3px; width:auto;height:37px;box-shadow:0px 0px 5px #aaaaaa;}
#tabs .state-header{border-color:#c0c0c0;}
#tabs .item td{cursor:pointer;text-align:center;font-weight:bold; white-space:nowrap;}
#tabs .btn{padding:0px 8px 0px 8px;text-align:center;line-height:28px;}
#tabs .cls{padding:0px 8px 0px 0px;}

#tabmore{width:64px; float:right;}
#tabmore button{ height:20px; width:20px; min-width:20px; margin:6px 3px; cursor:pointer;}
#toleft{ background:url(images/toleft.gif) #f0f0f0 center no-repeat;}
#toright{ background:url(images/toright.gif) #f0f0f0 center no-repeat;}

.browser-menu{display:none;position: absolute;list-style:none; padding:0px; margin:0px; width:100px;height:auto;}
.browser-menu li{ text-indent:8px;cursor:default; margin:1px;}

#themes_select{width:200px;margin:10px;}

/***************************************桌面模式*********************************************/
#desktop{position:relative;z-index:1;width:100%;height:100%;background:#009cda;color:#ffffff;}
#desktop #shortcuts{position:relative;z-index:2;float:left;}
#desktop #syslinks{position:relative;z-index:2;float:right;}
#desktop .item{position:absolute;width:80px;height:80px;padding:5px;text-align:center;}
#desktop .item .link{position:relative;display:block;width:100%;height:100%;color:#ffffff;text-decoration:none;}
#desktop .item .link .mask{position:absolute;width:100%;height:100%;top:0px;left:0px;}
#desktop .item .link:hover .mask{background:#ffffff;filter:alpha(opacity=10);opacity: 0.1;}
#desktop .item .link .icon{width:40px;height:40px;margin:8px auto;border:0px;}
#desktop .item .link .name{color:#ffffff;display:block;width:100%;white-space:nowrap; overflow:hidden;text-overflow: ellipsis;}
#desktop #background{position:absolute;z-index:1;width:100%;height:100%;top:0px;left:0px;}
#desktop #background .image{position:absolute;z-index:1;width:100%;height:100%;top:0px;left:0px;background:url(images/desktop.png) center;background-size: 100% 100%;}
#desktop #background .image img{min-width:100%;min-height:100%;}
#desktop #background .mask{display:none;position:absolute;z-index:2;width:100%;height:100%;top:0px;left:0px;background:#ffffff;filter:alpha(opacity=10);opacity: 0.1;}

#taskbar{position:fixed;z-index:999998;bottom:0px;left:0px; width:100%; height:40px;}
#taskbar .bg{position:absolute;z-index:1;top:0px;left:0px; width:100%; height:40px;background:url(images/head-panel.png) center;border:1px solid #2aa3d4;filter:alpha(opacity=80);opacity: 0.8;}
#taskbar .cnt{position:absolute;z-index:2;top:0px;left:0px; width:100%; height:40px;}
#taskbar .cnt #showdesk{display:block;float:right;height:100%;width:15px;border:1px solid #2aa3d4;}
#taskbar .cnt #showdesk:hover{}
#taskbar .cnt .info{float:right;color:#ffffff;height:100%;width:200px;line-height:40px;overflow:hidden;}
#taskbar .cnt .info a{color:#ffffff;}

#taskbar .cnt #navigater{position:relative;float:left;width:80px;height:40px;color:#ffffff;}
#taskbar .cnt #navigater .mask{display:none;position:fixed; top:0px; left:0px; width:100%; height:100%; border:0px; background:#000000;filter:alpha(opacity=1);opacity: 0.01;z-index:1;}
#taskbar .cnt #navigater,#taskbar .cnt #navigater dt,#taskbar .cnt #navigater dd{margin:0px;padding:0px;}
#taskbar .cnt #navigater dt{position:relative;z-index:2;height:40px;line-height:40px;text-align:center;cursor:pointer; height:32px;line-height:32px; color:#FFFFFF;margin:3px;}
#taskbar .cnt #navigater .menucontent dl,#taskbar .cnt #navigater .menucontent dt,#taskbar .cnt #navigater .menucontent dd{margin:0px;padding:0px;width:160px;text-align:left;overflow:visible;}
#taskbar .cnt #navigater .menucontent{display:none;position:absolute;z-index:2;bottom:40px;left:0px;overflow:visible;}
#taskbar .cnt #navigater .menucontent dl{position:relative;}
#taskbar .cnt #navigater .menucontent dt{height:32px;line-height:32px;}
#taskbar .cnt #navigater .menucontent dl:hover>dt{background:#ffffff;background:url(images/state-focus.png) center;}
#taskbar .cnt #navigater .menucontent dl:hover>dt a span{color:#ffffff;}
#taskbar .cnt #navigater .menucontent a{display:block;text-decoration:none;}
#taskbar .cnt #navigater .menucontent a span{color:#000000;}
#taskbar .cnt #navigater .menucontent a:hover span{color:#ffffff;}
#taskbar .cnt #navigater .menucontent a .icon{width:16px;height:16px;margin:8px;border:0px;float:left;}
#taskbar .cnt #navigater .menucontent dd{display:none;position:absolute;bottom:0px;left:100%;}
#taskbar .cnt #navigater dd{box-shadow:0px 0px 5px #000000;}
#taskbar .cnt #navigater dl{z-index:2;}
#taskbar .cnt #navigater .mnmask{position:absolute;top:0px; left:0px; width:100%; height:100%; border:0px; background:#f2f2f2;filter:alpha(opacity=90);opacity:0.9;z-index:1;}
#taskbar .cnt #navigater .btn{border-right:1px solid #0e7fad;height:100%;margin:0px;font-size:14px;line-height:40px;font-weight:bold;}

#windowtab{margin-right:220px;margin-left:80px;height:100%;border-left:1px solid #7ecef9;}
#windowtab #tabmore{margin:5px 0;}
#windowtab #tabframe{height:40px;float:none;margin-right:72px;}
#windowtab #tabframe #tabs .item{  padding:0px 5px 0px 5px; width:auto;height:32px;background:none;line-height:32px;color:#ffffff;border:1px solid #ffffff;}
#windowtab #tabframe #tabs .item td{color:#ffffff;}
#windowtab #tabframe #tabs .item .btn{min-width:100px;}
#windowtab #tabframe #tabs .state-focus{background:url(images/state-header.png) center center repeat-x; height:32px;line-height:32px;color:#093e6a;border:1px solid #2aa3d4;}
#windowtab #tabframe #tabs .state-focus td{color:#093e6a;}
#windowtab #tabframe #tabs .cls{float:right;}

.dialog{}
.dialog .backdrop{position:relative;}
.dialog .backdrop .mask{position:absolute; top:0px; left:0px; width:100%; height:100%; border:0px;filter:alpha(opacity=1);opacity: 0.01;z-index:0;}
.dialog .backdrop .shadow{position:relative;z-index:1;}
.window .c{border:3px solid #E4E4E4;position:relative;}
.window .c .caption{background:url(images/state-focus.png) center; height:32px;line-height:32px; color:#FFFFFF;border:1px solid #2aa3d4;}
.window .c .contentTalbe{position:relative;z-index:2;}
.window .c .titlemask{position:absolute;width:100%;height:100%;top:0px;left:0px;background:#000000;filter:alpha(opacity=70);opacity: 0.7;}